
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/app?__node=$!__node'>$lang.get('a.app')</a>
	<a href='/admin/app/create?__node=$!__node' class='selected'>$lang.get('a.create')</a>
</div>

<form action='/admin/app/create?__node=$!__node'  method='post' class='form' >
	
	<div><label><h3>$lang.get('app.appid')<r>*</r>:</h3><input type='text' name='appid' value='$!appid' required/><g>$lang.get("app.appid.hint")</g></label></div>
	<div><label><h3>$lang.get('app.contact'):</h3><input type='text' name='contact' value='$!contact'/></label></div>
	<div><label><h3>$lang.get('app.phone'):</h3><input type='text' class="width-40" name='phone' value='$!phone'/><g>多个逗号分隔</g></label></div>
	<div><label><h3>$lang.get('app.email'):</h3><input type='text' name='email' value='$!email'/></label></div>
	<div><label><h3>$lang.get('app.expired'):</h3><input type='text' name='expired' value='$!expired'/><g>yyyy-MM-dd HH:mm</g></label></div>
	<div><label><h3>$lang.get('app.memo'):</h3><input type='text' class="width-40" name='memo' value='$!memo'/><g>$lang.get("app.memo.hint")</g></label></div>
	<div><label><h3>$lang.get('app.allowip'):</h3><input type='text' class="width-40" name='allowip' value='$!allowip'/><g>$lang.get("app.allowip.hint")</g></label></div>
	<div><label><h3>$lang.get('app.access'):</h3><textarea name='access'></textarea></label></div>

	<div class='btns'><button class='btn btn-success' type='submit'>$lang.get('btn.create')</button></div>
</form>
