
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/app?__node=$!__node'>$lang.get('a.app')</a>
	<a href='/admin/app/edit?id=$!a.id&__node=$!__node' class='selected'>$lang.get('a.edit')</a>
</div>

<form action='/admin/app/edit?__node=$!__node'  method='post' class='form' >

	<input type='hidden' name="id" value="$!a.id"/>
	<div><label><h3>$lang.get('app.appid')<r>*</r>:</h3><i>$a.appid</i></label></div>
	<div><label><h3>$lang.get('app.secret'):</h3><input type='text' name='secret' value=""/></label></div>
	<div><label><h3>$lang.get('app.contact'):</h3><input type='text' name='contact' value='$!contact'/></label></div>
	<div><label><h3>$lang.get('app.phone'):</h3><input type='text' class="width-40" name='phone' value='$!phone'/><g>多个逗号分隔</g></label></div>
	<div><label><h3>$lang.get('app.email'):</h3><input type='text' name='email' value='$!email'/></label></div>
	<div><label><h3>$lang.get('app.expired'):</h3><input type='text' name='expired' value="#if($a.expired>0)$!lang.format($a.expired, 'yyyy-MM-dd HH:mm')#end"/><g>yyyy-MM-dd HH:mm</g></label></div>
	<div><label><h3>$lang.get('app.memo'):</h3><input type='text' class="width-40" name='memo' value='$!a.memo'/><g>$lang.get("app.memo.hint")</g></label></div>
	<div><label><h3>$lang.get('app.allowip'):</h3><input type='text' class="width-40" name='allowip' value='$!allowip'/><g>$lang.get("app.allowip.hint")</g></label></div>
	<div><label><h3>$lang.get('app.access'):</h3><textarea name='access'>#foreach($p in $a.access)$p,#end</textarea></label></div>

	<div class='btns'><button class='btn btn-success' type='submit'>$lang.get('btn.save')</button></div>
</form>
