
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/backup/auto?__node=$!__node'>$lang.get('a.backup.auto')</a>
	<a href='/admin/backup/auto/create?__node=$!__node' class='selected'>$lang.get('a.backup.auto.create')</a>
</div>

<form action='/admin/backup/auto/create?__node=$!__node'  method='post' class='form' >

	<div><label><h3>$lang.get('backup.auto'):</h3><input type='checkbox' name='enabled'/></label></div>
	<div><label><h3>$lang.get('backup.name'):</h3><input type='text' name='name'/></label></div>
	<div><label><h3>$lang.get('backup.months'):</h3>
		<input type='text' name='months'/>
		<g>$lang.get('backup.months.hint')</g>
		</label></div>
	<div style="margin-left: 20px">
		<div><label><h3>$lang.get('backup.days'):</h3>
			<label style='width:initial'><input type="checkbox" name="days" value="0" style="margin-top: 0;">$lang.get("backup.day_0")</label>
			<label style='width:initial'><input type="checkbox" name="days" value="1" style="margin-top: 0;">$lang.get("backup.day_1")</label>
			<label style='width:initial'><input type="checkbox" name="days" value="2" style="margin-top: 0;">$lang.get("backup.day_2")</label>
			<label style='width:initial'><input type="checkbox" name="days" value="3" style="margin-top: 0;">$lang.get("backup.day_3")</label>
			<label style='width:initial'><input type="checkbox" name="days" value="4" style="margin-top: 0;">$lang.get("backup.day_4")</label>
			<label style='width:initial'><input type="checkbox" name="days" value="5" style="margin-top: 0;">$lang.get("backup.day_5")</label>
			<label style='width:initial'><input type="checkbox" name="days" value="6" style="margin-top: 0;">$lang.get("backup.day_6")</label>
			<g>$lang.get('backup.days.hint')</g>
			</label></div>
		<div><label><h3>$lang.get('backup.dates'):</h3>
			<input type='text' name='dates'/>
			<g>$lang.get('backup.dates.hint')</g>
			</label></div>
	</div>
	<div><label><h3>$lang.get('backup.point'):</h3>
		<input type='text' name='time' value="2:00"/>
		<g>$lang.get('backup.point.hint')</g>
		</label></div>
	<div><label><h3>$lang.get('backup.type'):</h3>
		<label style='width:initial'><input type="radio" name="type" value="0" style="margin-top: 0;" checked=checked>$lang.get("backup.type_0")</label>
		<label style='width:initial'><input type="radio" name="type" value="1" style="margin-top: 0;">$lang.get("backup.type_1")</label>
		</label></div>
		
	<div><label><h3>$lang.get('backup.url'):</h3><input type='text' name='url' value="" class="width-60"/><g>$lang.get('backup.url.hint')</g></label></div>

	<div><label><h3>$lang.get('backup.clean'):</h3><input type='checkbox' name='clean' checked="checked"/></label></div>
	<div style='margin-left:20px;'><label><h3>$lang.get('backup.keep.days'):</h3><input type='number' name='keeps' value="7"/><g>$lang.get('backup.keep.days.hint')</g></label></div>

	<table class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 40px;"></th>
				<th style="width: 250px;">$lang.get('table.memo')</th>
				<th style="width: 90px;">$lang.get('table.total')</th>
				<th style="width: 90px;">$lang.get('table.totalsize')</th>
				<th style="width: 90px;">$lang.get('table.indexsize')</th>
				<th style="width: 130px;">$lang.get('table.updated')</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		#set($i=0)
		#foreach($t in $list)
			#set($i=$i+1)
			<tr>
				<td>$i</td>
				<td>
					<label><input type="checkbox" name="table" value="$t.table" style="margin-top: 0;">$!t.display</label>
				</td>
				<td>$!t.count</td>
				<td>$!lang.size($t.totalsize)</td>
				<td>$!lang.size($t.indexsize)</td>
				<td>#if($t.updated) $lang.format($t.updated, 'yyyy-MM-dd HH:mm:ss') #end</td>
				<td></td>
			</tr>
		#end
		</tbody>
	</table>

	<div class='btns'>
		<button class='btn btn-success' type='submit'>$lang.get('btn.ok')</button>
	</div>
	
</form>

