
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/backup?__node=$!__node' class='selected'>$lang.get('a.backup.files')</a>
</div>

<table id='user-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width: 200px;">Name</th>
			<th style="width: 130px;">$lang.get('head.created')</th>
			<th style="width: 90px;">Size</th>
			<th style="width: 90px;">Satus</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td class="a">$!f.name <a class="icon-folder-download" href="/f/s$root/$!f.name" target="_blank"></a></td>
		<td>$lang.format($f.lastModified(), 'yyyy-MM-dd HH:m')</td>
		<td>$!lang.size($f.length())</td>
		<td>$global.getString("backup/$f.name", '')</td>
		<td class="a">
			<a class="hint hint--bottom" data-hint="$lang.get('a.recover')" href="javascript:;" onclick="_recover('$f.name')"><i class="icon-undo"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.delete')" href="javascript:;" onclick="_delete('$f.name')"><i class="icon-cancel-circle"></i></a>
		</td>
	</tr>
#end
	</tbody>
</table>

<div class='btns'>
	<a class='btn btn-success' href='/admin/backup/create?__node=$!__node'>$lang.get('a.backup.create')</a>
	<a class='btn btn-primary' href='javascript:;' onclick="_import();">$lang.get('a.backup.import')</a>
</div>

<div id="m$!requestid" style="display: none">
	<input type='hidden' name='repo'/>
</div>

<script>
function _import() {
	giiwa.dialog($("#m$!requestid"), {
		moveable: true,
		prepare : function(p) {
			p.find('input[name=repo]').upload({
				caption : "$lang.get('btn.upload.backup')",
				btn_resume : "$lang.get('btn.resume')",
				btn_delete : "$lang.get('btn.delete')",
				btn_cancel : "$lang.get('btn.cancel')",
				msg_stop : "$lang.get('msg.stop')",
				msg_done : "$lang.get('msg.done')",
				done : function(url) {
					giiwa.processing.show();
					$.post('/admin/backup/upload?__node=$!__node', {
						repo : url
					}, function(d) {
						giiwa.processing.hide();
						giiwa.dialog().close();
						
						giiwa.reload();

					});
				}
			});
			
		}
	});
}

function _download(name) {
	$.post("/admin/backup/download?__node=$!__node", {name:name}, function(d){
		if(d.state == 200) {
			giiwa.download(d.url);
		} else {
			giiwa.error(d.message);
		}
	});
}
function _delete(name) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/backup/delete?__node=$!__node', {name: name}, function(d){
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
var tid = 0;
function _recover(name){
	if(confirm("$lang.get('title.data_will_be_replaced')")) {
		giiwa.processing.show();
		$.post('/admin/backup/restore?__node=$!__node', {name: name}, function(d){
			giiwa.processing.hide();
			tid = d.id;
			_recovering();
		});
	}
}

function _recovering(){
	giiwa.processing.show();
	$.post('/admin/backup/restoring?__node=$!__node', {id:tid}, function(d){
		giiwa.processing.hide();
		if(d.state == 200) {
			giiwa.message(d.message);
		} else if(d.state == 201){
			giiwa.message(d.message);
			
			setTimeout(function(){
				_recovering();
			}, 5000);
		} else if(d.message) {
			giiwa.error(d.message);
		}
	});
}
</script>
