
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/database?__node=$!__node'>$lang.get('a.database')</a>
	<a href='/admin/backup?__node=$!__node'>$lang.get('a.backup.files')</a>
	<a href='/admin/backup/auto?__node=$!__node'>$lang.get('a.backup.auto')</a>
	<a href='/admin/backup/create?__node=$!__node' class='selected'>$lang.get('a.backup.create')</a>
</div>

<form action='/admin/backup/create?__node=$!__node'  method='post' class='form nospace' style="padding-left: 0;padding-top: 0;">
	
	<table class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th>$lang.get('table.memo')</th>
				<th>$lang.get('table.bean')</th>
				<th>$lang.get('table.name')</th>
				<th>$lang.get('table.size')</th>
			</tr>
		</thead>
		<tbody>
		#foreach($t in $list)
			<tr>
				<td><label><input type="checkbox" name="name" value="$t.table" style="margin-top: 0;">$!t.display</label></label></td>
				<td>$!t.name</td>
				<td>$!t.table</td>
				<td>$!t.size</td>
			</tr>
		#end
		</tbody>
	</table>

	<div class='btns'>
		<button class='btn btn-success' type='submit'>$lang.get('btn.create')</button>
	</div>
	
</form>
