
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/backup/auto?__node=$!__node'>$lang.get('a.backup.auto')</a>
	<a href='/admin/backup/auto/edit?id=$!a.id&__node=$!__node' class='selected'>$lang.get('a.edit')</a>
</div>

<form action='/admin/backup/auto/edit?__node=$!__node'  method='post' class='form' >

	<input type="hidden" name="id" value="$!a.id"/>
	
	<div><label><h3>$lang.get('backup.auto'):</h3><input type='checkbox' name='enabled' #if($a.enabled==1) checked="checked" #end/></label></div>
	<div><label><h3>$lang.get('backup.name'):</h3><input type='text' name='name' value="$!a.name"/></label></div>
	<div><label><h3>$lang.get('backup.days'):</h3>
		<label style='width:initial'><input type="checkbox" name="days" value="0" style="margin-top: 0;" #if($a.day(0)) checked="checked" #end>$lang.get("backup.day_0")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="1" style="margin-top: 0;" #if($a.day(1)) checked="checked" #end>$lang.get("backup.day_1")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="2" style="margin-top: 0;" #if($a.day(2)) checked="checked" #end>$lang.get("backup.day_2")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="3" style="margin-top: 0;" #if($a.day(3)) checked="checked" #end>$lang.get("backup.day_3")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="4" style="margin-top: 0;" #if($a.day(4)) checked="checked" #end>$lang.get("backup.day_4")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="5" style="margin-top: 0;" #if($a.day(5)) checked="checked" #end>$lang.get("backup.day_5")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="6" style="margin-top: 0;" #if($a.day(6)) checked="checked" #end>$lang.get("backup.day_6")</label>
		<g>$lang.get('backup.days.hint')</g>
		</label></div>
		
	<div><label><h3>$lang.get('backup.point'):</h3>
		<input type='text' name='time' value="$!a.time"/>
		<g>$lang.get('backup.point.hint')</g>
		</label></div>
		
	<div><label><h3>$lang.get('backup.type'):</h3>
		<label style='width:initial'><input type="radio" name="type" value="0" disabled style="margin-top: 0;" #if($a.type==0) checked=checked #end>$lang.get("backup.type_0")</label>
		<label style='width:initial'><input type="radio" name="type" value="1" disabled style="margin-top: 0;" #if($a.type==1) checked=checked #end>$lang.get("backup.type_1")</label>
		<label style='width:initial'><input type="radio" name="type" value="2" disabled style="margin-top: 0;" #if($a.type==2) checked=checked #end>$lang.get("backup.type_2")</label>
		</label></div>
		
	<div><label><h3>$lang.get('backup.nodes'):</h3>
		<input type='text' name='nodes' value="$!a.nodes"/>
		<g>$lang.get('backup.nodes.hint')</g>
		</label></div>
	
	#if($a.type == 0 || $a.type == 1)
	<div id='innertask'>
		<div><label><h3>$lang.get('backup.url'):</h3><input type='text' name='url' value="$!a.url" class="width-60"/><g>$lang.get('backup.url.hint')</g></label></div>
	
		<div><label><h3>$lang.get('backup.clean'):</h3><input type='checkbox' name='clean' #if($a.clean == 1) checked="checked" #end/></label></div>
		<div><label><h3>$lang.get('backup.keep.days'):</h3><input type='number' name='keeps' value="$!a.keeps"/><g>$lang.get('backup.keep.days.hint')</g></label></div>
	
		<table class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
			<thead>
				<tr>
					<th style="width: 40px;"></th>
					<th style="width: 250px;">$lang.get('table.name')</th>
					<th style="width: 250px;">$lang.get('table.memo')</th>
					<th style="width: 90px;">$lang.get('table.total')</th>
					<th style="width: 90px;">$lang.get('table.totalsize')</th>
					<th style="width: 90px;">$lang.get('table.indexsize')</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			#set($i=0)
			#foreach($t in $list)
				#set($i=$i+1)
				<tr>
					<td>$i</td>
					<td>
						<label><input type="checkbox" name="table" value="$t.table" style="margin-top: 0;" #if($a.table($t.table)) checked="checked" #end>$!t.table</label>
					</td>
					<td>$!t.display</td>
					<td>$!t.count</td>
					<td>$!lang.size($t.totalsize)</td>
					<td>$!lang.size($t.indexsize)</td>
					<td></td>
				</tr>
			#end
			</tbody>
		</table>
	</div>
	#else
	<div id='outcommand'>
		<div><label><h3>$lang.get('backup.command'):</h3>
			<input type='text' name='command' value="$!a.command" placeholder="/home/backup/b.sh" class="width-40"/>
			<g>$lang.get('backup.command.hint')</g>
			</label></div>
	</div>
	#end

	<div class='btns'>
		<button class='btn btn-success' type='submit'>$lang.get('btn.ok')</button>
	</div>
	
</form>

