 #parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/counter?__node=$!__node' class='selected'>$lang.get('a.counter')</a>
</div>

<div class='search'>
	<form action='/admin/counter?__node=$!__node' method='get' #if($s>0) style='display:none' #end >
		<span> 
		 	<label><h3>$lang.get('counter.name'):</h3> 
		 	<input type='text' name='name' value='$!name' /> </label>
		</span>

		<button type='submit' class='btns1 icon icon-search'></button>
	</form>

	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table class='tablesorter nospace' border="0" cellpadding="0"
	cellspacing="1">
	<thead>
		<tr>
			<th style="width: 300px;">$lang.get('counter.node')</th>
			<th style="width: 120px;">$lang.get('counter.name')</th>
			<th style="width: 120px;">$lang.get('counter.count')</th>
			<th>$lang.get('counter.updated')</th>
		</tr>
	</thead>
	<tbody>
		#foreach($f in $list)
		<tr>
			<td>$!f.node</td>
			<td>$!f.name</td>
			<td>$!f.count</td>
			<td>$lang.format($f.updated, 'yyyy-MM-dd HH:mm:ss')</td>
		</tr>
		#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div>
	<a class='btn btn-danger' href='javascript:;' onclick='_deleteall();'>$lang.get('a.clean')</a>
</div>

<script>
function _deleteall() {
	if (confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/counter/deleteall?__node=$!__node', {}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
</script>
