
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/database?__node=$!__node' class='selected'>$lang.get('a.database')</a>
</div>

<form id="E$!requestid" action='/admin/database/er?__node=$!__node'  method='post' class='form nospace' style="padding-left: 0;padding-top: 0;">
	
	<table class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 40px;"></th>
				<th style="width: 250px;">$lang.get('table.memo')</th>
				<th style="width: 90px;">$lang.get('table.total')</th>
				<th style="width: 90px;">$lang.get('table.totalsize')</th>
				<th style="width: 90px;">$lang.get('table.indexsize')</th>
				<th style="width: 130px;">$lang.get('table.updated')</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		#set($i=0)
		#foreach($t in $list)
			#set($i=$i+1)
			<tr>
				<td>$i</td>
				<td>
					<label><input type="checkbox" name="name" value="$t.table" style="margin-top: 0;">$!t.display</label>
				</td>
				<td>$!t.count</td>
				<td>$!lang.size($t.totalsize)</td>
				<td>$!lang.size($t.indexsize)</td>
				<td>#if($t.updated) $lang.format($t.updated, 'yyyy-MM-dd HH:mm:ss') #end</td>
				<td class="a">
					<a class="hint hint--bottom" data-hint="$lang.get('a.delete.table')" href="javascript:;" onclick="_delete('$t.table')"><i class='icon-bin2'></i></a>
					<a class="hint hint--bottom" data-hint="$lang.get('a.drop.table')" href="javascript:;" onclick="_drop('$t.table')"><i class='icon-cancel-circle'></i></a>
				</td>
			</tr>
		#end
		</tbody>
	</table>

	<div class='btns'>
		<!-- a class='btn btn-primary' href="/admin/database?f=1&__node=$!__node">$lang.get('btn.refresh')</a-->
		<a class='btn btn-success' href="javascript:;" onclick="_submit();">$lang.get('btn.database.er')</a>

		<a style="margin-left: 40px;" class='btn btn-warning' href="javascript:;" onclick="_deleteall();">$lang.get('btn.database.deleteall')</a>
		<a style="margin-left: 10px;" class='btn btn-danger' href="javascript:;" onclick="_dropall();">$lang.get('btn.database.dropall')</a>
	</div>
	
</form>

<script>
function _delete(table) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/database/delete?__node=$!__node', {table: table}, function(d){
			if(d.state == 200) {
				giiwa.hint(d.message);
				giiwa.reload();
			} else {
				giiwa.error(d.message);
			}
		})
	}
}
function _drop(table) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/database/drop?__node=$!__node', {table: table}, function(d){
			if(d.state == 200) {
				giiwa.hint(d.message);
				giiwa.reload();
			} else {
				giiwa.error(d.message);
			}
		})
	}
}
function _submit(){
	giiwa.submit($("#E$!requestid")[0], {
		success : function(d){
			d = eval("(" + d + ")");
			if(d.state == 200) {
				giiwa.download(d.file);
			} else {
				giiwa.error(d.message);
			}
		}
	});
}
function _deleteall() {
	
	var selected = $("#E$!requestid input:checked");
	if (selected.length == 0) {
		return;
	}
	var s = '';
	selected.each(function(i, e) {
		if (s.length > 0)
			s += ',';
		s += e.value;
	});
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/database/delete?__node=$!__node', {table: s}, function(d){
			if(d.state == 200) {
				giiwa.hint(d.message);
				giiwa.reload();
			} else {
				giiwa.error(d.message);
			}
		})
	}
}
function _dropall() {
	var selected = $("#E$!requestid input:checked");
	if (selected.length == 0) {
		return;
	}
	var s = '';
	selected.each(function(i, e) {
		if (s.length > 0)
			s += ',';
		s += e.value;
	});
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/database/drop?__node=$!__node', {table: s}, function(d){
			if(d.state == 200) {
				giiwa.hint(d.message);
				giiwa.reload();
			} else {
				giiwa.error(d.message);
			}
		})
	}
}
</script>