
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/dfile/disk?__node=$!__node' class="selected">$lang.get('a.dfile.disk')</a>
	<a href='/admin/dfile/folder?__node=$!__node'>$lang.get('a.dfile.folder')</a>
</div>

<div class='search'>
	<form action='/admin/dfile/disk?__node=$!__node' method='get' #if($!s>0) style='display:none' #end >
		<span><label><h3>$lang.get('disk.path'):</h3><input type='text' name='name' value="$!name" /></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($!s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width: 160px;">$lang.get('node.url')</th>
			<th style="width: 160px;">$lang.get('disk.path')</th>
			<th style="width: 160px;">$lang.get('disk.mount')</th>
			<th style="width: 60px;">$lang.get('disk.priority')</th>
			<th style="width: 120px;">$lang.get('disk.free')</th>
			<th style="width: 120px;">$lang.get('disk.stat.rwkbps')</th>
			<th>$lang.get('disk.state')</th>
			<th style="min-width: 80px;"></th>
		</tr>
	</thead>
	<tbody>
#foreach($f1 in $list)
	<tr>
		<td>$!f1.url</td>
		<td><i class="icon-folder" style="color: #58b957;"></i>&nbsp;$f1.path</td>
		<td>$f1.mount</td>
		<td>$f1.priority</td>
		<td>$lang.size($f1.free) / $lang.size($f1.total)</td>
		<td class='a'>$lang.size($f1.stat_read_avg) / $lang.size($f1.stat_write_avg)
			<a href='javascript:;' onclick="giiwa.popup('/admin/dfile/disk/stat?id=$f1.id')"><i class="icon-stats-dots"></i></a>
		</td>
		<td>
			#if($f1.state>0)
			<i class='icon-radio-checked' style="color: green"></i>
			#else
			<i class='icon-radio-unchecked'></i>
			#if($f1.enabled==1)
			<p>$!f1._error</p>
			#end
			#end
		</td>
		<td class="a">
			<a href='javascript:;' class='hint hint--bottom' data-hint="$lang.get('a.edit')" onclick="_edit('$f1.id')"><i class="icon-pencil"></i></a>
			#if($list.size()>1)
			<a href='javascript:;' class='hint hint--bottom' data-hint="$lang.get('a.unmount')" onclick="_delete('$f1.id', 0)"><i class="icon-blocked"></i></a>
			<a href='javascript:;' class='hint hint--bottom' data-hint="$lang.get('a.force.unmount')" onclick="_delete('$f1.id', 1)"><i class="icon-cancel-circle"></i></a>
			#end
		</td>
	</tr>
#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div class='btns'>
	<a class='btn btn-success' href="javascript:;" onclick="_add();">$lang.get('a.disk.add')</a>
</div>

<script>
function _edit(id){
	giiwa.popup('/admin/dfile/disk/edit?__node=$!__node&id=' + id, {
		width: 600,
		height: 540,
		moveable: true,
		max: false,
		onsubmit: function(){
			giiwa.reload();
		}
	});
}
function _add(){
	giiwa.popup('/admin/dfile/disk/add?__node=$!__node', {
		width: 600,
		height: 540,
		moveable: true,
		max: false,
		onsubmit: function(){
			giiwa.reload();
		}
	});
}
function _delete(id, f) {
	if(confirm("$lang.get('title.are_u_sure_delete_fdisk')")) {
		$.post("/admin/dfile/disk/delete?__node=$!__node", {id:id, f:f}, function(d){
			giiwa.reload();
		})
	}
}

</script>
