
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/dfile/disk?__node=$!__node' class="selected">$lang.get('a.dfile.disk')</a>
	<a href='/admin/dfile/folder?__node=$!__node'>$lang.get('a.dfile.folder')</a>
</div>

<div class='search'>
	<form action='/admin/dfile/disk?__node=$!__node' method='get' #if($!s>0) style='display:none' #end >
		<span><label><h3>$lang.get('disk.name'):</h3><input type='text' name='name' value="$!name" /></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($!s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>
 
<table class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width: 160px;">$lang.get('node.url')</th>
			<th style="width: 160px;">$lang.get('disk.path')</th>
			<th style="width: 160px;">$lang.get('disk.mount')</th>
			<th style="width: 60px;">$lang.get('disk.priority')</th>
			<th style="width: 120px;">$lang.get('disk.free')</th>
			<th style="width: 120px;">$lang.get('disk.stat.rwkbps')</th>
			<th>$lang.get('disk.state')</th>
			<th style="min-width: 80px;"></th>
		</tr>
	</thead>
	<tbody>
#foreach($f1 in $list)
	<tr>
		<td>$!f1.url</td>
		<td><i class="icon-folder" style="color: #58b957;"></i>&nbsp;$!f1.path</td>
		<td>$f1.mount</td>
		<td>$f1.priority</td>
		<td>$lang.size($f1.free) / $lang.size($f1.total)</td>
		<td class='a'>$lang.size($f1.stat_read_avg) / $lang.size($f1.stat_write_avg)
			<a href='javascript:;' onclick="giiwa.popup('/admin/dfile/disk/stat?id=$f1.id')"><i class="icon-stats-dots"></i></a>
		</td>
		<td>
			#if($f1.state>0)
			<i class='icon-radio-checked' style="color: green"></i>
			#else
			<i class='icon-radio-unchecked'></i>
			#if($f1.enabled==1)
			<p>$!f1._error</p>
			#end
			#end
		</td>
		<td class="a">
			<a href='javascript:;' class='hint hint--bottom' data-hint="$lang.get('a.edit')" onclick="_edit('$f1.id')"><i class="icon-pencil"></i></a>
			#if($list.size()>1)
			<a href='javascript:;' class='hint hint--bottom' data-hint="$lang.get('a.unmount')" onclick="_delete('$f1.id', 1)"><i class="icon-cancel-circle"></i></a>
			#end
		</td>
	</tr>
#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div class='btns'>
	<a class='btn btn-success' href="javascript:;" onclick="_add();">$lang.get('a.disk.add')</a>
</div>

<script>
function _edit(id){
	giiwa.popup('/admin/dfile/disk/edit?__node=$!__node&id=' + id, {
		width: 600,
		height: 600,
		moveable: true,
		max: false,
		onsubmit: function(){
			giiwa.reload();
		}
	});
}
function _add(){
	giiwa.popup('/admin/dfile/disk/add?__node=$!__node', {
		width: 600,
		height: 600,
		moveable: true,
		max: false,
		onsubmit: function(){
			giiwa.reload();
		}
	});
}
function _delete(id, f) {
	if(confirm("$lang.get('title.are_u_sure_delete_fdisk')")) {
		$.post("/admin/dfile/disk/delete?__node=$!__node", {id:id, f:f}, function(d){
			giiwa.reload();
		})
	}
}

</script>

<div id='disk_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
function formatBytes(bytes) {
    if (!bytes || bytes === 0) return '0 B';
    const units = ['B', 'KB', 'MB', 'GB'];
    let index = 0;
    let value = bytes;
    while (value >= 1024 && index < units.length - 1) {
        value /= 1024;
        index++;
    }
    // 保留2位小数，去除末尾多余0
    return value.toFixed(2).replace(/\.00$/, '') + ' ' + units[index];
}
$(function(){
    Highcharts.stockChart('disk_$!requestid', {
        rangeSelector: {
            enabled: false,
           },
           xAxis :{
                range: 3600 * 1000
           },
           plotOptions: {
               series: {
                    turboThreshold: 0,
                    type: 'spline',  // 关键：line → spline 平滑曲线
                    lineWidth: 1,
                    marker: {
                        enabled: false // stock图表一般关闭圆点标记，避免点太多卡顿
                    }                    
               }
           },
           title: {
                text: "总读写性能 (B/s)"
           },
           credits: {
                enabled: false
           },
           legend: {
               enabled: true
           },
           tooltip: {
               formatter: function() {
                   var arr = [];
                    // this.x 毫秒时间戳格式化
                    var date = new Date(this.x - 8 * 3600 * 1000);
                    var y = date.getFullYear();
                    var m = (date.getMonth() + 1).toString().padStart(2, '0');
                    var d = date.getDate().toString().padStart(2, '0');
                    var h = date.getHours().toString().padStart(2, '0');
                    var mi = date.getMinutes().toString().padStart(2, '0');
                    var timeStr = y + "-" + m + "-" + d + " " + h + ":" + mi;

                    arr.push(timeStr);

                    if (this.points && this.points.length > 0) {
                        for(var i = 0; i < this.points.length; i++) {
                            var p = this.points[i];
                            if(!p || !p.point) continue;
                            var byteVal = p.point.y;
                            arr.push(p.series.name + ': ' + formatBytes(byteVal) + '/s');
                        }
                    }
                    return arr.join('<br/>');
                }
           },
        series: [
                {name: "$lang.get('disk.stat.read')", type:'spline',color:'#860606', data: [#foreach($c in $stat) {x:$lang.time($c.time, 'm'), y:$c.n0},#end]},
                {name: "$lang.get('disk.stat.write')", type:'spline',color:'#0dad76', data: [#foreach($c in $stat) {x:$lang.time($c.time, 'm'), y:$c.n1},#end]}
                ], 
    });

})
</script>


