<div class='head'>
	#if($error)
	<b style="color:red">注意: $!error</b>
	#end
	$lang.get('title.welcome') <b>$!me.nickname</b> 
	#if($me.hasAccess('access.config.admin','access.config.restart.host')) 
		<a href='javascript:;' class='btn btn-danger' onclick="_showrestart()" style='float:right'>$lang.get('a.restart')</a>
	#end
</div>

<div class="portlet" data-url="/portlet/loginfo?__node=$!__node" style="width:100%"></div>

<div id='restart' title="$lang.get('title.restart.service')" class="form" style="display: none">
	<div>
		<label><h3>$lang.get('user.password'):</h3>
			<input type='password' name='password' /></label>
	</div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_restart();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>

giiwa.history('$!query');

var _timer = false;
function _showrestart(){
	giiwa.dialog($('#restart'), {width: 280, height:100, moveable: true});
}
function _restart(){
	
	$.get('/admin/system/info?__node=$!__node', {}, function(d){
		pid = d.pid;
	});

	giiwa.processing.show();
	var p = giiwa.dialog().panel.find('input[name=password]').val();
	$.post('/admin/system/restart?__node=$!__node', {pwd:p}, function(d){
		if(d.state == 'ok') {
			giiwa.dialog().close();
			_timer = setInterval(_load, 5000);
		} else {
			giiwa.processing.hide();
			giiwa.error(d.message);
		}
	})
}

var pid = false;

function _load() {
	$.get('/admin/system/info?__node=$!__node', {}, function(d){
		if(d.pid != pid) {
			window.location.href = window.location.href;
		}
	});
}
</script>
