
	<div><label><h3>$lang.get('mq.group'):</h3><i>$!global.getString('site.group', 'demo')</i><g>$lang.get('mq.group.hint')</g></label></div>

	<div><label><h3>$lang.get('mq.type'):</h3>
		<select name="mq.type" onchange="_ontype();">
			<option value=''></option>
            <option value='redismq' #if($global.getString('mq.type', '')=='redismq') selected="selected" #end>$lang.get('mq.type_redismq')</option>
			<option value='rabbitmq' #if($global.getString('mq.type', '')=='rabbitmq') selected="selected" #end>$lang.get('mq.type_rabbitmq')</option>
		</select>
	</label></div>

    <div class="redismq mq_more" style="display: none">
        <div style="padding-left:20px;"><label><h3>$lang.get('redismq.url'):</h3><input type='text' style='width:20%' name='redismq.url' value="$!global.getString('redismq.url', '[host]:6379')"/><p><g>$lang.get('redismq.url.hint')</g></p></label></div>
        <div style="padding-left:20px;"><label><h3>$lang.get('redismq.user'):</h3><input type='text' name='redismq.user' value="$!global.getString('redismq.user', '')"/></label></div>
        <div style="padding-left:20px;"><label><h3>$lang.get('redismq.passwd'):</h3><input type='password' autocomplete="new-password" name='redismq.passwd' value="$!global.getString('redismq.passwd', '')"/></label></div>
    </div>
	
	<div class="rabbitmq mq_more" style="display: none">
		<div style="padding-left:20px;"><label><h3>$lang.get('rabbitmq.url'):</h3><input type='text' style='width:40%' name='rabbitmq.url' value="$!global.getString('rabbitmq.url', 'amqp://[host]:5672?virtualhost=/')"/><p><g>$lang.get('rabbitmq.url.hint')</g></p></label></div>
		<div style="padding-left:20px;"><label><h3>$lang.get('rabbitmq.user'):</h3><input type='text' name='rabbitmq.user' value="$!global.getString('rabbitmq.user', '')"/></label></div>
		<div style="padding-left:20px;"><label><h3>$lang.get('rabbitmq.passwd'):</h3><input type='password' autocomplete="new-password" name='rabbitmq.passwd' value="$!global.getString('rabbitmq.passwd', '')"/></label></div>
	</div>
		
<script>
function _ontype(){
	var c = $('select[name="mq.type"]').val();
	$('.mq_more').hide();
	if(c && c != '') {
		$('.mq_more.' + c).show();
	}
}
$(function(){
	var c = $('select[name="mq.type"]').val();
	if(c && c != '') {
		$('.mq_more.' + c).show();
	}
})
</script>