
<div id='cpu_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('cpu_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: '$lang.get("node.usage")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}%</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: "$lang.get('cpu.usage')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$lang.format($!c.n0, '%.1f')},#end]}
	    			], 
	});
	
})
</script>


<div id='t1_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('t1_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: '$lang.get("node.tasks.global")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: "$lang.get('node.tasks.global')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n1')},#end]}
	    			], 
	});

})
</script>

<div id='t2_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	
	Highcharts.stockChart('t2_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: '$lang.get("node.tasks.local.threads")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: "$lang.get('node.tasks.local.threads')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n2')},#end]}
	    			], 
	});

})
</script>


<div id='t3_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	
	Highcharts.stockChart('t3_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: '$lang.get("node.tasks.local.running")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: "$lang.get('node.tasks.local.running')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n3')},#end]}
	    			], 
	});
	
})
</script>


<div id='t4_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){

	Highcharts.stockChart('t4_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: '$lang.get("node.tasks.local.pending")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: "$lang.get('node.tasks.local.pending')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n4')},#end]}
	    			], 
	});

})
</script>


<div id='t5_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	
	Highcharts.stockChart('t5_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: 'DFILE $lang.get("node.dfile.times")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: '$lang.get("node.dfile.times")', color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n5')},#end]}
	    			], 
	});
	
})
</script>

<div id='t6_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	
	Highcharts.stockChart('t6_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: 'DFILE $lang.get("node.dfile.max")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: '$lang.get("node.dfile.max")', color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n6')},#end]}
	    			], 
	});
	
})
</script>

<div id='t7_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	
	Highcharts.stockChart('t7_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: 'DFILE $lang.get("node.dfile.min")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: '$lang.get("node.dfile.min")', color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n7')},#end]}
	    			], 
	});
	
})
</script>

<div id='t8_$!requestid'
	style="height: 200px; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	
	Highcharts.stockChart('t8_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
		    title: {
		        text: 'DFILE $lang.get("node.dfile.avgcost")'
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
					{name: '$lang.get("node.dfile.avgcost")', color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.getLong('n8')},#end]}
	    			], 
	});
	
})
</script>