#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/node?__node=$!__node'>$lang.get('a.node.list')</a>
	<a href='/admin/node/usage?__node=$!__node'>$lang.get('a.node.usage')</a>
	<a href='/admin/node/running?__node=$!__node' class='selected'>$lang.get('a.node.running')</a>
	<a href='/admin/node/pending?__node=$!__node'>$lang.get('a.node.pending')</a>
</div>

#foreach($f in $list)
	<div class="portlet" data-url="/portlet/node/running?__node=$!__node&id=$!f.id"></div>
#end

#parse('/widget/goto.page.html')
