#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/node?__node=$!__node' class='selected'>$lang.get('a.node.list')</a>
	<a href='/admin/node/usage?__node=$!__node'>$lang.get('a.node.usage')</a>
	<a href='/admin/node/threads?__node=$!__node'>$lang.get('a.node.threads')</a>
	<a href='/admin/node/running?__node=$!__node'>$lang.get('a.node.running')</a>
	<a href='/admin/node/pending?__node=$!__node'>$lang.get('a.node.pending')</a>
</div>

<div class='search'>
	<form action='/admin/node?__node=$!__node' method='get' #if($s>0) style='display:none' #end >
		<span><label><h3>$lang.get('node.label'):</h3><input type='text' name='name' value="$!name" /></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='node-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th rowspan="2">$lang.get('node.label')</th>
			<th rowspan="2">$lang.get('node.os')</th>
			<th rowspan="2">$lang.get('node.giiwa')</th>
			<th rowspan="2">$lang.get('node.modules')</th>
			<th colspan="2">$lang.get('node.cpu')</th>
			<th rowspan="2">$lang.get('node.mem')</th>
			<th rowspan="2">$lang.get('node.tasks.local.threads')</th>
			<th colspan="2">$lang.get('node.tasks.local')</th>
			<th colspan="3">$lang.get('node.dfile')</th>
			<th rowspan="2">$lang.get('node.state')</th>
			<th  rowspan="2" style="width: 84px;"></th>
		</tr>
		<tr>
			<th>$lang.get('node.cpu.cores')</th>
			<th>$lang.get('node.cpu.usage')</th>
			<th>$lang.get('node.tasks.local.running')</th>
			<th>$lang.get('node.tasks.local.pending')</th>
			<th>$lang.get('node.dfile.max')</th>
			<th>$lang.get('node.dfile.min')</th>
			<th>$lang.get('node.dfile.avgcost')</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr #if($lang.pastms($f.updated) < 3000) class="blink" #end>
		<td class="a">
			<a href="/?__node=$!f.id" target="_blank">$!f.label</a>
			<a class="hint hint--bottom" data-hint="Edit" href="javascript:;" onclick="_showlabel('$f.id', '$!f.label')"><i class='icon-pencil'></i></a>
		</td>
		<td>$!f.os</td>
		<td>$!f.giiwa</td>
		<td>$!f.modules</td>
		<td>$!f.cores</td>
		<td>$!f.usage</td>
		<td>$!lang.size($!f.mem)</td>
		<td>$!f.localthreads</td>
		<td>$!f.localrunning</td>
		<td>$!f.localpending</td>
		<td>#if($f.dfiletimes > 0)$f.dfilemaxcost#end/#if($f.dfiletimes_c > 0)$f.dfilemaxcost_c#end</td>
		<td>#if($f.dfiletimes > 0)$f.dfilemincost#end/#if($f.dfiletimes_c > 0)$f.dfilemincost_c#end</td>
		<td>#if($f.dfiletimes > 0)$f.dfileavgcost#end/#if($f.dfiletimes_c > 0)$f.dfileavgcost_c#end</td>
		<td>
			#if($f.state == 1)
			<i class='icon-radio-checked' style="color: green"></i>
			#else
			<i class='icon-radio-checked' style="color: red"></i>
			#end
		</td>
		<td class="a">
			<a class="hint hint--bottom" data-hint="$lang.get('a.stat')" href="javascript:;" onclick="giiwa.popup('/admin/node/stat?id=$f.id')"><i class="icon-stats-dots"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.poweron')" href="javascript:;" onclick="_power('$f.id', 1)"><i class="icon-play3"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.poweroff')" href="javascript:;" onclick="_power('$f.id', 0)"><i class="icon-stop2"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.delete')" href="javascript:;" onclick="_delete('$f.id')"><i class="icon-cancel-circle"></i></a>
		</td>
	</tr>
#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div id='_label' class="form" style="display: none">
	<input type="hidden" name="id" value=""/>
	<div>
		<label><h3>$lang.get('node.label'):</h3>
			<input type='text' name='label' value=""/></label>
	</div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_oklabel();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>

function _showlabel(id, old){
	giiwa.dialog($('#_label'), {
		width: 280, 
		height:100, 
		moveable: true,
		prepare: function(p){
			p.find("input[name=id]").val(id);
			p.find("input[name=label]").val(old);
		}
	});
}
function _oklabel(){
	
	giiwa.processing.show();
	var id = giiwa.dialog().panel.find('input[name=id]').val();
	var label = giiwa.dialog().panel.find('input[name=label]').val();
	
	$.post('/admin/node/update?__node=$!__node', {id:id, label:label}, function(d){
		giiwa.processing.hide();
		giiwa.reload();
	})
}

function _delete(id) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/node/delete?__node=$!__node', {id: id}, function(d){
			giiwa.reload();
		})
	}
}

function _power(id, p) {
	$.post('/admin/node/power?__node=$!__node', {id: id, power:p}, function(d){
		giiwa.reload();
	})
}

</script>
