
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/role?__node=$!__node' class='selected'>$lang.get('a.role')</a>
	#if($me.hasAccess('access.config.debug'))
	<a href='/admin/role/access?__node=$!__node'>$lang.get('a.role.access')</a>
	#end
</div>

#set($edit = $me.hasAccess('access.config.admin','access.config.role.admin'))

<table id='role-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('role.name')</th>
			<th>$lang.get('role.memo')</th>
			<th>$lang.get('role.url')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$!f.name</td>
		<td>$!f.memo</td>
		<td>$!f.url</td>
	#if($edit)
		<td class="a">
			<a class="hint hint--bottom" data-hint="$lang.get('a.edit')" href="/admin/role/edit?__node=$!__node&id=$f.id"><i class="icon-pencil"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.delete')" href='javascript:;' onclick='_delete("$f.id", this);'><i class="icon-cancel-circle"></i></a>
		</td>
	#end
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

#if($edit)
<div class='btns'>
	<a class='btn btn-success' href='/admin/role/create?__node=$!__node'>$lang.get('a.create')</a>
</div>
#end

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/role/delete?__node=$!__node', {id: id}, function(d){
			giiwa.reload();
		})
	}
}
</script>
