
#parse('/widget/widget.message.html')

<div class='tabs'>
	#foreach($p in $settings)
	<a href='/admin/setting/get/$p?__node=$!__node' #if($name==$p) class='selected' #end>$lang.get("a.setting.$p")</a>
	#end
</div>
<div class="">
	<form action='/admin/setting/set/$name' method='post' class='form' enctype="multipart/form-data">
	
		<input type="hidden" name="__node" value="$!__node" />
		
		#if($page)
			#parse($page)
		#end
		<div class="btns">
			<button type='submit'>$lang.get('btn.save')</button>
			&nbsp;&nbsp;
			<a class='btn btn-warning' href='javascript:;' onclick='_reset();'>$lang.get('btn.reset')</a>
		</div>
		
	</form>
</div>

<script>
function _reset() {
	if(confirm("$lang.get('title.are_u_sure_reset')")) {
		giiwa.processing.show();
		$.post('/admin/setting/reset/$name?__node=$!__node', {}, function(d){
			giiwa.processing.hide();
			if(d.state == 200) {
				giiwa.reload();
			} else if(d.message){
				giiwa.error(d.message);
			}
		});
	}
}
</script>