
#parse('/widget/widget.message.html')

<div class='tabs'>
	#foreach($p in $settings)
	<a href='/admin/setting/get/$p?__node=$!__node' #if($name==$p) class='selected' #end>$lang.get("a.setting.$p")</a>
	#end
</div>
<div class="">
	<form action='/admin/setting/set/$name?__node=$!__node' method='post' class='form' enctype="multipart/form-data">
		#if($page)
			#parse($page)
		#end
		<div class="btns">
			<button type='submit'>$lang.get('btn.save')</button>
			<a class='btn btn-danger' href='/admin/setting/reset/$name?__node=$!__node'>$lang.get('a.reset')</a>
		</div>
	</form>
</div>
