<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport"  content="width=device-width, height=device-height,initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico"
	type="image/vnd.microsoft.icon" />
<title>$!lang.get('browser.title')</title>
<meta name="description" content="$lang.get('browser.description')"/>
</head>
<body>
<h4>数据库配置错误!</h4>
<p>请修改 "/home/giiwa/giiwa.properties" 文件</p>
<p>db.url=数据库链接(必填)</p>
<p>db.user=用户名(可选)</p>
<p>db.passwd=密码(可选)</p>
<p>db.locale=(可选)</p>
<p>db.conns=50(可选)</p>
</body>
</html>