<div class='tabs'>
	<a href='/admin/task?__node=$!__node' class='selected'>$lang.get('a.task')</a>
	<a href='/admin/task/thread?__node=$!__node'>$lang.get('a.task.thread')</a>
	<a href='/admin/task/thread/deadlock?__node=$!__node'>$lang.get('a.task.thread.deadlock')</a>
</div>

#parse('/widget/widget.message.html')

<div class='notes'>
	<span>Task( <i class='red'>$!running</i>//running, <i
		class='grey'>$!pending</i>//pending)
	</span>&nbsp; <span>Thread( <i class='green'>$!active</i>//active, <i
		class='grey'>$!idle</i>//idle)
	</span>
</div>

<table id='task-table' class='tablesorter nospace' border="0"
	cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width: 30px;"></th>
			<th style="width: 20%;">$lang.get('task.parent')</th>
			<th style="width: 20%;">$lang.get('task.name')</th>
			<th>$lang.get('task.class')</th>
			<th>$lang.get('task.global')</th>
			<th style="width: 105px;">$lang.get('task.state')</th>
			<th>$lang.get('task.remain')</th>
			<th>$lang.get('task.delay')</th>
			<th>$lang.get('task.runtime')</th>
			<th>$lang.get('task.costing')</th>
			<th>$lang.get('task.duration')</th>
			<th>$lang.get('task.runtimes')</th>
		</tr>
	</thead>
	<tbody>
		#set($i=0) #foreach($f in $list)
		<tr>
			#set($i=$i+1)
			<td>$i</td>
			<td>$!f.parent</td>
			<td>$!f.name</td>
			<td>$!f.class.name</td> 
			<td>#if($f.global) Y #end</td>
			#if($f.state == 'running')
			<td style='color: green' class="a">
				<i class='icon-radio-checked'></i>
				$!f.state 
				<a class="hint hint--bottom" href="javascript:;" onclick='_dump("$f.name")' data-hint="Dump"><i class='icon-download'></i></a>
				<a class="hint hint--bottom" href="javascript:;" onclick='_kill("$f.name")' data-hint="Kill"><i class='icon-cancel-circle'></i></a>
			</td> 
			#else
			<td style="color: #999"><i class='icon-clock'></i>$!f.state</td> 
			#end
			<td>$!f.remain</td>
			<td>$!f.delay</td>
			<td>$!f.runtime</td>
			<td>$!f.costing</td>
			<td>$!f.duration</td>
			<td>$!f.runtimes</td>
		</tr>
		#end
	</tbody>
</table>

<div class='btns'>
	<a class="btn btn-success" href="javascript:;" onclick="_dumpall()">$lang.get("a.dumpall")</a>
</div>

<div id="dump" style="color: red; margin-top: 40px; display: none">
	<hr />
	<div>&nbsp;</div>
</div>

<script>
	$(function() {
		$("#task-table").tablesorter({
			headers : {
				0 : {
					sorter : false
				},
				1 : {
					sorter : false
				},
				2 : {
					sorter : false
				},
				3 : {
					sorter : false
				},
				4 : {
					sorter : false
				},
				5 : {
					sorter : false
				},
				6 : {
					sorter : false
				},
				9 : {
					sorter : false
				},
				10 : {
					sorter : false
				}
			}
		});
	})

	function _dump(name) {
		giiwa.processing.show();
		$.post("/admin/task/dump?__node=$!__node", {
			name : name
		}, function(d) {
			giiwa.processing.hide();
			if (d.state == 200) {
				$("#dump div").html(d.message);
				$("#dump").show();
				$.scrollTo("#dump", 500);
			} else {
				giiwa.error(d.error);
			}
		});
	}
	function _kill(name) {
		if(confirm("$lang.get('title.are_u_sure_delete')")) {
			giiwa.processing.show();
			$.post("/admin/task/kill?__node=$!__node", {
				name : name
			}, function(d) {
				giiwa.processing.hide();
				if (d.state == 200) {
					giiwa.reload();
				} else {
					giiwa.error(d.error);
				}
			});
		}
	}
	function _dumpall() {
		giiwa.processing.show();
		$.post("/admin/task/dumpall?__node=$!__node", {
			name : name
		}, function(d) {
			giiwa.processing.hide();
			if (d.state == 200) {
				$("#dump div").html(d.message);
				$("#dump").show();
				$.scrollTo("#dump", 500);
			} else {
				giiwa.error(d.error);
			}
		});
	}
</script>
