
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user?__node=$!__node'>$lang.get('a.user')</a>
	<a href='/admin/user/edit?__node=$!__node&id=$id' class='selected'>$lang.get('a.edit')</a>
</div>

<form action='/admin/user/edit?__node=$!__node'  method='post' class='form' >
	<input type='hidden' name="id" value="$id"/>
	<div><label><h3>$lang.get('user.name'):</h3><i>$!name</i></label></div>
	<div><label><h3>$lang.get('user.nickname'):</h3><input type='text' name='nickname' value='$!nickname'/></label></div>
	<div><label><h3>$lang.get('user.company'):</h3><input type='text' name='company' value='$!company' /></label></div>
	<div><label><h3>$lang.get('user.title'):</h3><input type='text' name='title' value='$!title' /></label></div>
	<div><label><h3>$lang.get('user.email'):</h3><input type='email' name='email' value= '$!email' /></label></div>
	<div><label><h3>$lang.get('user.phone'):</h3><input type='tel' name='phone' value= '$!phone' /></label></div>
	<div><label><h3>$lang.get('user.unit'):</h3>
		<select name='unitid'>
			<option value='0'></option>
			#foreach($p in $units)
			<option value="$p.id" #if($unitid==$p.id) selected #end>$!{p.no}/$!{p.name}</option>
			#end
		</select>
	</label></div>
	<div><label><h3>$lang.get('user.disklimitsize'):</h3><input type='number' name='disklimitsize' value= '$!disklimitsize'  /><g>$lang.get("user.disklimitsize.hint")</g></label></div>
	<div><label><h3>$lang.get('user.limitip'):</h3><input type='number' name='limitip' value= ''  /><g>$lang.get("user.limitip.hint")</g></label></div>
	<div><label><h3>$lang.get('user.lock'):</h3><input type="checkbox" name='locked' #if($locked=='on' || $locked==1) checked #end /></label></div>

	<table id='user-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th>$lang.get('role.name')</th>
				<th>$lang.get('role.memo')</th>
				<th>$lang.get('role.url')</th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $roles)
		<tr>
			<td><label><input type="checkbox" name="role" value="$r.id" #if($u.isRole($r)) checked="true" #end>$r.name</label></label></td>
			<td>$!r.memo</td>
			<td>$!r.url</td>
		</tr>
	#end
		</tbody>
	</table>

	<table id='token-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th>$lang.get("user.ip")</th>
				<th>$lang.get("user.sid")</th>
				<th>$lang.get("user.token")</th>
				<th>$lang.get("user.expired")</th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $u.tokens)
		<tr>
			<td>$!r.ip</td>
			<td>$!r.sid</td>
			<td>$!r.token</td>
			<td>$lang.format($r.expired, 'yyyy-MM-dd HH:mm:ss')</td>
		</tr>
	#end
		</tbody>
	</table>

	<div class='btns'>
		<button class='btn btn-success' type='submit'>$lang.get('btn.save')</button>
		<a class='btn btn-warning' href='javascript:;' onclick="_showpassword()">$lang.get('a.password')</a>	
		&nbsp;&nbsp;&nbsp;&nbsp;	
		<a class='btn btn-primary' href='javascript:;' onclick="_unlock()">$lang.get('a.unlock')</a>		
	</div>
	
</form>

<div id='password' title="$lang.get('user.edit.password')" style="display:none">
	<div><label><h3>$lang.get('user.new.password'):</h3><input type='text' name='password' value=''/></label></div>
	<div class="btns" style="text-align: center">
		<button onclick='_password(this);' style="float: left;margin-left: 66px;">$lang.get('btn.ok')</button>
	</div>
</div>

<script>
function _unlock(){
	giiwa.processing.show();
	var p = {};
	p.id = "$id";
	$.post('/admin/user/unlock', p, function(d){
		giiwa.processing.hide();
		if(d.state == 200) {
			giiwa.message(d.message);
		} else {
			giiwa.error(d.message);
		}
	});	
}
function _showpassword() {
	$.post("/admin/user/random", {}, function(e){
		$('#password input[name=password]').val(e.code);
		giiwa.dialog($('#password'), {width:300, height: 90, moveable:true});
	});
}
function _password(o) {
	giiwa.dialog().close();
	var v = $(o).parent().parent().find('input[name=password]').val();
	$.post('/admin/user/edit?__node=$!__node', {id:"$id",password:v}, function(d){
		if(d.state == 200) {
			giiwa.message("$lang.get('save.success')");
		} else {
			giiwa.error(d.message);
		}
	})
}
</script>
