
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user?__node=$!__node'>$lang.get('a.user')</a>
	<a href='/admin/user/detail?__node=$!__node&id=$u.id' class='selected'>$lang.get('a.detail')</a>
</div>

<div class='form'>
	<table id='user-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 150px;">&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>$lang.get('user.name')</td>
			<td>$u.name</td>
		</tr>
		<tr>
			<td>$lang.get('user.nickname')</td>
			<td>#if($u.nickname) $u.nickname #end</td>
		</tr>
		<tr>
			<td>$lang.get('user.title')</td>
			<td>#if($u.title) $u.title #end</td>
		</tr>
		<tr>
			<td>$lang.get('user.email')</td>
			<td>$!u.email</td>
		</tr>
		<tr>
			<td>$lang.get('user.phone')</td>
			<td>$!u.phone</td>
		</tr>
		<tr>
			<td>$lang.get('user.roles')</td>
			<td>
				#foreach($r in $u.role.list) 
				<span class='icon-shield'>$r.name</span>
				#end
			</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastlogintime')</td>
			<td>$!lang.format($!u.lastlogintime, 'yy-MM-dd hh:mm:ss')</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastloginip')</td>
			<td>$!u.ip</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastfailtime')</td>
			<td>$!lang.format($!u.lastfailtime, 'yy-MM-dd hh:mm:ss')($!lang.past($u.lastfailtime))</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastfailip')</td>
			<td>$!u.lastfailip</td>
		</tr>
		<tr>
			<td>$lang.get('user.failtimes')</td>
			<td>$!u.failtimes</td>
		</tr>
		<tr>
			<td>$lang.get('user.createdip')</td>
			<td>$!u.createdip</td>
		</tr>
		<tr>
			<td>$lang.get('user.createdua')</td>
			<td>$!u.createdua</td>
		</tr>
		<tr>
			<td>$lang.get('user.createdby')</td>
			<td>$!u.createdby_obj.name</td>
		</tr>
		</tbody>
	</table>
	
	<table id='token-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th>$lang.get("user.ip")</th>
				<th>$lang.get("user.sid")</th>
				<th>$lang.get("user.token")</th>
				<th>$lang.get("user.expired")</th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $u.tokens)
		<tr>
			<td>$!r.ip</td>
			<td>$!r.sid</td>
			<td>$!r.token</td>
			<td>$lang.format($r.expired, 'yyyy-MM-dd HH:mm:ss')</td>
		</tr>
	#end
		</tbody>
	</table>

</div>
