<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN">

	<Service name="Catalina">

		<Connector port="8080"
			protocol="org.apache.coyote.http11.Http11Nio2Protocol"
			connectionTimeout="20000" acceptorThreadCount="8" URIEncoding="UTF-8"
			compression="on"
            maxKeepAliveRequests="1024"
            useKeepAliveResponseHeader="true"			
			compressableMimeType="text/html,text/xml,text/javascript,text/css,text/plain,image/svg+xml,application/x-font-ttf"
			redirectPort="443" />

		<!-- Connector port="443" protocol="HTTP/1.1" SSLEnabled="true" scheme="https" 
			secure="true" keystoreFile="conf/domains.jks" keystorePass="123" clientAuth="false" 
			sslProtocol="TLS" connectionTimeout="20000" acceptorThreadCount="2" URIEncoding="UTF-8" 
			compression="on" compressableMimeType="text/html,text/xml,text/javascript,text/css,text/plain,image/svg+xml,application/x-font-ttf" 
			/ -->

		<Engine name="Catalina" defaultHost="localhost">

			<Host name="localhost" appBase="webapps" unpackWARs="true"
				autoDeploy="true">

				<Context path="" docBase="${catalina.home}/modules"
					reloadable="false" useHttpOnly="true" />

			</Host>
		</Engine>
	</Service>
</Server>
