<a class='more hint hint--bottom' data-hint="$lang.get('portlet.more.hint')" href='javascript:;' onclick="giiwa.popup('/portlet/cpu/more?__node=$!__node')"><i class='icon-menu'></i></a>

<div id='cpu_$!requestid' style="height: 300px; float: left; width: 400px; border: 0;"></div>

<script>
$(function(){
	var t = Highcharts.chart('cpu_$!requestid', {
	    chart: {
	        type: 'spline'
	    },
	    title: {
	        text: '$lang.get("portlet.cpu.title")(%)'
	    },
	    xAxis: {
	    		type: 'datetime'
	    },
	    yAxis: {
	    		title: {
	            text: ''
	        }
	    },
	    tooltip: {
	        headerFormat: '',
	        pointFormat: '<b>{series.name}: {point.y}</b><br>{point.x:%H:%M}'
	    },
		plotOptions : {
	        series: {
	        		turboThreshold: 0
	        	}
		},	    
	    credits: {
	        enabled: false
	    },
	    series: [
	    				{name: "$lang.get('cpu.usage')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$lang.format($!c.usage, '%.1f')},#end]}
	    			], 
	});

	function reload() {
		if($('#cpu_$!requestid').length > 0) {
			$.post('/portlet/cpu/data?__node=$!__node', {}, function(d){
				if(d.state == 200) {
					var series=t.series; 
			        while(series.length > 0){
			          	series[0].remove(false); 
			       	}
			       	t.addSeries(d.data[0]);
			       	t.redraw();			
				}
		    })
			giiwa.call(reload, 60000);
		}
	}
	
	giiwa.call(reload, 60000);
	
})
</script>

