<a class='more hint hint--bottom' data-hint="$lang.get('portlet.more.hint')" href='javascript:;' onclick="giiwa.popup('/portlet/cpu/more?id=$!id')"><i class='icon-menu'></i></a>

<div id='cpu_$!requestid'></div>

<script>
$(function(){
	var t = Highcharts.chart('cpu_$!requestid', {
	    chart: {
	        type: 'area'
	    },
	    title: {
	        text: "$!name - CPU[$!cores]@$!{ghz}GHz"
	    },
	    xAxis: {
	    		type: 'datetime'
	    },
	    yAxis: {
	    	max: 100,
	    	min: 0,
	    		title: {
	            text: ''
	        }
	    },
	      legend: {
	          enabled: false
	        },
	    tooltip: {
	        headerFormat: '',
	        pointFormat: '<b>{series.name}: {point.y}%</b><br>{point.x:%H:%M}'
	    },
		plotOptions : {
	        series: {
	        		turboThreshold: 0
	        	}
		},	    
	    credits: {
	        enabled: false
	    },
	    series: [
	    				{name: "$lang.get('cpu.usage')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.usage},#end]}
	    			], 
	});

	function reload() {
		if($('#cpu_$!requestid').length > 0) {
			$.post('/portlet/cpu/data?__node=$!__node&id=$!id', {}, function(d){
				if(d.state == 200) {
					if(d.temp) {
						t.setTitle({text:"$!name - CPU[$!cores](" + d.temp + ")"});
					}
					var series=t.series; 
			        while(series.length > 0){
			          	series[0].remove(false); 
			       	}
			       	t.addSeries(d.data[0]);
			       	t.redraw();			
				}
		    })
			giiwa.call(reload, 60000);
		}
	}
	
	giiwa.call(reload, 60000);
	
})
</script>

