
<div id='cpu_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('cpu_$!requestid', {
		rangeSelector: {
			enabled: false,
	       },
		    xAxis :{
    	   		range: 3600 * 1000
	       },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
		    title: {
		        text: '$lang.get("portlet.cpu.title")(%)'
		    },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: false
           },
	       tooltip: {
	    	   formatter:function(){
	    		      return this.series.name+':<b>' 
	    		      + Highcharts.numberFormat(this.y,0,'.', ',') 
	    		      + '%</b>' 
	    		      + Highcharts.dateFormat('%H:%M', this.x);
	    		}
	       },
	    series: [
					{name: "$lang.get('cpu.usage')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$lang.format($!c.usage, '%.1f')},#end]}
	    			], 
	});

})
</script>

