<div id='diskio_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('diskio_$!requestid', {
		rangeSelector: {
			enabled: false,
	       },
		    xAxis :{
    	   		range: 3600 * 1000
	       },
		    title: {
		        text: "$lang.get('diskio.name')($!{name})"
		    },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: false
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.hint}</b>'
	       },
	    series: [
	    				{name: "$lang.get('disk.reads')", color:'#0dad76', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.reads, hint:"$lang.size($c.reads)"},#end]},
	    				{name: "$lang.get('disk.writes')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.writes, hint:"$lang.size($c.writes)"},#end]}
	    			], 
	});
})
</script>

