<a class='more hint hint--bottom' data-hint="$lang.get('portlet.more.hint')" href='javascript:;' onclick="giiwa.popup('/portlet/mem2/more?__node=$!__node')"><i class='icon-menu'></i></a>

<div id='mem_$!requestid'></div>

<script>
$(function(){
	var t = Highcharts.chart('mem_$!requestid', {
	    chart: {
	        type: 'line'
	    },
	    title: {
	        text: "$lang.get('host.mem.title')($!lang.size($!total)B)"
	    },
	    xAxis: {
	    		type: 'datetime'
	    },
	    yAxis: {
	    	min: 0,
	    		title: {
	            text: ''
	        }
	    },
	      legend: {
	          enabled: false
	        },
	    tooltip: {
	        headerFormat: '',
	        pointFormat: '<b>{series.name}: {point.hint}B</b><br>{point.x:%H:%M}'
	    },
		plotOptions : {
	        series: {
	        		turboThreshold: 0
	        	}
		},	    
	    credits: {
	        enabled: false
	    },
	    series: [
	    				{name: "$lang.get('mem.used')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$req.time($c), y:$c.used, hint:"$lang.size($c.used)"},#end]}
	    			], 
	});
	
	function reload() {
		if($('#mem_$!requestid').length > 0) {
			$.post('/portlet/mem2/data?__node=$!__node', {}, function(d){
				if(d.state == 200) {
					var series=t.series; 
			        while(series.length > 0){
			          	series[0].remove(false); 
			       	}
			       	t.addSeries(d.data[0]);
			       	t.redraw();			
				}
		    })
			giiwa.call(reload, 60000);
		}
	}
	
	giiwa.call(reload, 60000);

})
</script>

