<div class='state' style='display:block;float: left; width: 80%;'>
	<div class='login'>
		$lang.get('label.node'):<i>$!node</i>
	</div>
	<div class='login'>
		$lang.get('label.gnode'):<i>$!gnode</i>
	</div>
	<div class='login'>
		$lang.get('cpu.num'):<i>$!cpus</i>
	</div>
	<div class='login'>
		$lang.get('total.memory'):<i>$!totalmemory</i>
	</div>
	<div class='login'>
		$lang.get('jdk.info'):<i>$!{jdkversion}($!jdkvendor)</i>
	</div>
	<div class='login'>
		$lang.get('memory.total'):<i>$!total</i>, $lang.get('memory.free'):<i>$!free</i>
	</div>
				
	<div class='uptime'>
		$lang.get('label.uptime'):<i>$uptime</i>, $lang.get('label.past'):<i>$past</i>
	</div>
	<div class='release'>
		$lang.get('label.release'):<i>$!release</i>
	</div>
	<div class='build'>
		$lang.get('label.build'):<i>$!build</i>
	</div>
	<div class='build'>
		$lang.get('label.now'):<i>$!now</i>
	</div>

</div>
