<div id='mem_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('mem_$!requestid', {
		rangeSelector: {
			allButtonsEnabled: true,
			selected :0,
			enabled: true,
			inputEnabled: false,
			buttons: [{
	               type: 'hour',
	               count: 1,
	               text: '小时'
	           }]
	       },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.hint}</b>',
	           dateTimeLabelFormats:{
		        	   millisecond:"%Y-%m-%e %H:%M:%S",
		        	   second:"%Y-%m-%e %H:%M:%S",
		        	   minute:"%Y-%m-%e %H:%M",
		        	   hour:"%Y-%m-%e %H",
		        	   day:"%Y-%m-%e",
		        	   week:"%Y-%m-%e",
		        	   month:"%Y-%m",
		        	   year:"%Y"
	           }
	       },
	    series: [
	    				{name: "$lang.get('mem.used')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.used, hint:"$lang.size($c.used)"},#end]}
	    			], 
	});
})
</script>

