<?xml version="1.0" encoding="UTF-8"?>
<module version="1.0">
	<id>0</id>
	<name>default</name>
	<package>org.giiwa.app.web</package>
	<screenshot>/images/gii_128.png</screenshot>
	<version>1.4</version>
	<build>0</build>
	<enabled>true</enabled>
	<readme>Giiwa default module which managed the giiwa framework</readme>
	<listener>
		<class>org.giiwa.app.web.DefaultListener</class>
	</listener>
	<license></license>
</module>
