<?xml version="1.0" encoding="UTF-8"?>
<module version="1.0">
	<id>0</id>
	<name>default</name>
	<package>org.giiwa.app.web</package>
	<screenshot>/images/gii_128.png</screenshot>
	<version>1.3</version>
	<build>0</build>
	<enabled>true</enabled>
	<readme>Giiwa default module which managed the giiwa framework</readme>
	<listener>
		<class>org.giiwa.app.web.DefaultListener</class>
	</listener>
	<license>Apache License V2</license>
	<!-- 
	<required>
		<module name="default" minversion="0.0" maxversion="1.1"/>
	</required>
	-->
</module>
