<a class='more hint hint--bottom' data-hint="$lang.get('portlet.more.hint')" href='javascript:;' onclick="giiwa.popup('/portlet/diskio/more?__node=$!__node&id=$!id&name=$!name')"><i class='icon-menu'></i></a>

<div id='diskio_$!requestid'></div>

<script>
$(function(){
	var t = Highcharts.chart('diskio_$!requestid', {
	    chart: {
	        type: 'line'
	    },
	    title: {
	        text: "$!name1 - $lang.get('diskio.name')($!{name})"
	    },
	    xAxis: {
	    		type: 'datetime'
	    },
	    yAxis: {
	    	min: 0,
    		title: {
	            text: ''
	        }
	    },
	    tooltip: {
	        headerFormat: '',
	        pointFormat: '<b>{series.name}: {point.hint}B/s</b><br>{point.x:%H:%M}'
	    },
		plotOptions : {
	        series: {
	        		turboThreshold: 0
	        	}
		},	    
	    credits: {
	        enabled: false
	    },
	    series: [
	    				{name: "$lang.get('disk.reads')", color:'#0dad76', data: [#foreach($c in $list) {x:$lang.time($c.created,'m'), y:$c._reads, hint:"$!lang.size($c._reads)"},#end]},
	    				{name: "$lang.get('disk.writes')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$lang.time($c.created,'m'), y:$c.writes, hint:"$!lang.size($c.writes)"},#end]}
	    			], 
	});
	
	function reload() {
		if($('#diskio_$!requestid').length > 0) {
			$.post('/portlet/diskio/data?__node=$!__node', {id:"$!id", name:"$!name"}, function(d){
				if(d.state == 200) {
					var series=t.series; 
			        while(series.length > 0){
			          	series[0].remove(false); 
			       	}
			       	t.addSeries(d.data[0]);
			       	t.addSeries(d.data[1]);
			       	t.redraw();			
				}
		    })
			giiwa.call(reload, 60000);
		}
	}
	
	giiwa.call(reload, 60000);
	
})
</script>

