
<div id='db_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('db_$!requestid', {
		rangeSelector: {
			enabled: false,
	       },
		    xAxis :{
    	   		range: 3600 * 1000
	       },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
		    title: {
		        text: '$lang.get("portlet.db.netio.title")'
		    },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: true
           },
	       tooltip: {
		        headerFormat: '',
		        pointFormat: '<b>{series.name}: {point.hint}</b><br>{point.x:%H:%M}'
	       },
	    series: [
			{name: "$lang.get('db.netin')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c._netin, hint:"$lang.size($c._netin)"},#end]},
			{name: "$lang.get('db.netout')", color:'#0dad76', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c._netout, hint:"$lang.size($c._netout)"},#end]}
   			], 
	});
})
</script>

