
<div id='db_times_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('db_times_$!requestid', {
		rangeSelector: {
			enabled: false,
	       },
		    xAxis :{
    	   		range: 3600 * 1000
	       },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
		    title: {
		        text: '$lang.get("portlet.db.times.title")'
		    },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: false
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}</b>'
	       },
	    series: [
			{name: "$lang.get('db.read.times')", color:'#0dad76', data: [#foreach($c in $list1) {x:$lang.time($c.created, 'm'), y:$!c.times},#end]},
			{name: "$lang.get('db.write.times')", color:'#0a5ea0', data: [#foreach($c in $list2) {x:$lang.time($c.created, 'm'), y:$!c.times},#end]}
   			], 
	});

})
</script>

