        * {
            margin: 0;
            padding: 0;
        }
        
        html,
        body {
            height: 100%;
            width: 100%;
            background: url(/images/user_bg.jpg) #343d5a;
            background-size: cover;
        }
        
        .content {
            width: 1200px;
            margin: 0 auto;
        }
        
        .top {
            height: 100%;
            width: 100%;
            padding: 40px 0;
            color: #fff;
            box-sizing: border-box;
            display: inline-block;
        }
        
        .content {
            height: 100%;
        }
        
        .top .content {
            display: flex;
            align-items: center;
        }
        
        .top .left {
            padding: 0 40px;
            box-sizing: border-box;
            width: 50%;
            max-width: 600px;
        }
        
        .top .left h1 {
            font-size: 74px;
            line-height: 1;
        }
        
        .top .left p {
            font-size: 20px;
            font-weight: 400;
            margin-top: 10px;
            color: #f1f1f1;
        }
        
        .top .right {
            width: 320px;
            background: #fff;
            padding: 24px 24px 30px;
            ;
            border-radius: 4px;
            color: #000;
            margin-left: 80px;
        }
        
        .top .right .input-item .item-title {
            display: block;
            font-size: 16px;
            font-weight: inherit;
            margin-bottom: 5px;
            text-align: left;
            color: #586069;
            margin: 12px 0;
        }
        
        .top .right .input-item:first-child .item-title {
            margin-top: 0;
        }
        
        .top .input-item input {
            border-radius: 5px;
            font-size: 16px;
            min-height: 46px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            border: 1px solid rgb(209, 213, 218);
            text-align: center;
        }
        
        .submit-btn {
            background-color: #2ebc4f;
            border-color: #2ebc4f;
            color: #fff;
            padding: 10px 0;
            border-radius: 4px;
            margin-top: 34px;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            width: 100%;
            border-width: 1px;
            outline: none;
        }
        
        .input-item {
            margin-top: 10px;
        }
        
        a {
            text-decoration: none;
            color: #444;
            display: block;
            text-align: center;
            margin-top: 16px;
        }
        
        a:focus {
            outline: none;
        }
        
        .right-title {
            font-size: 22px;
            letter-spacing: 1px;
            text-align: center;
            margin: 5px 0 10px;
        }
        
        .forget-a {
            float: right;
            margin-top: 1px;
            font-size: 15px;
        }
        
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            color: #fff;
            font-size: 14px;
        }
        
        .footer a {
            display: inline-block;
            color: #fff;
        }
