
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/backup/auto?__node=$!__node'>$lang.get('a.backup.auto')</a>
	<a href='/admin/backup/auto/create?__node=$!__node' class='selected'>$lang.get('a.backup.auto.create')</a>
</div>

<form action='/admin/backup/auto/create?__node=$!__node'  method='post' class='form' >

	<div><label><h3>$lang.get('backup.auto'):</h3><input type='checkbox' name='enabled'/></label></div>
	<div><label><h3>$lang.get('backup.name'):</h3><input type='text' name='name'/></label></div>
	<div><label><h3>$lang.get('backup.days'):</h3>
		<label style='width:initial'><input type="checkbox" name="days" value="0" style="margin-top: 0;">$lang.get("backup.day_0")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="1" style="margin-top: 0;">$lang.get("backup.day_1")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="2" style="margin-top: 0;">$lang.get("backup.day_2")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="3" style="margin-top: 0;">$lang.get("backup.day_3")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="4" style="margin-top: 0;">$lang.get("backup.day_4")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="5" style="margin-top: 0;">$lang.get("backup.day_5")</label>
		<label style='width:initial'><input type="checkbox" name="days" value="6" style="margin-top: 0;">$lang.get("backup.day_6")</label>
		<g>$lang.get('backup.days.hint')</g>
		</label></div>
	<div><label><h3>$lang.get('backup.point'):</h3>
		<input type='text' name='time' value="2:00"/>
		<g>$lang.get('backup.point.hint')</g>
		</label></div>
	<div><label><h3>$lang.get('backup.type'):</h3>
		<label style='width:initial'><input type="radio" name="type" value="0" style="margin-top: 0;" onclick='oninnertask();'>$lang.get("backup.type_0")</label>
		<label style='width:initial'><input type="radio" name="type" value="1" style="margin-top: 0;" onclick='oninnertask();'>$lang.get("backup.type_1")</label>
		<label style='width:initial'><input type="radio" name="type" value="2" style="margin-top: 0;" checked=checked onclick='onoutcommand();'>$lang.get("backup.type_2")</label>
		</label></div>

	<div><label><h3>$lang.get('backup.nodes'):</h3>
		<input type='text' name='nodes' value=".*"/>
		<g>$lang.get('backup.nodes.hint')</g>
		</label></div>
		
	<div id='innertask' style="display:none" data-init='0'>
		<img src="/images/loading3.gif">
	</div>
	
	<div id='outcommand'>
		<div><label><h3>$lang.get('backup.command'):</h3>
			<input type='text' name='command' value="" placeholder="/home/backup/b.sh" class="width-40"/>
			<g>$lang.get('backup.command.hint')</g>
			</label></div>
	</div>
	
	<div class='btns'>
		<button class='btn btn-success' type='submit'>$lang.get('btn.save')</button>
	</div>
	
</form>
<script>
function oninnertask(){
	$('#outcommand').hide();
	var a = $('#innertask');
	a.show();
	if(a.attr('data-init') == '0') {
		//init
		$.get('/admin/backup/auto/innertask', function(d){
			a.html(d);
			a.attr('data-init', '1');
		});
	}	
}
function onoutcommand(){
	$('#innertask').hide();
	$('#outcommand').show();
}
</script>
