<div class='head'>
	$lang.get('title.welcome') <b>$!me.nickname</b> 
	#if($me.hasAccess('access.config.admin','access.config.restart.host')) 
		<a href='javascript:;' class='btn btn-danger' onclick="_showrestart()" style='float:right'>$lang.get('a.restart')</a>
	#end
</div>

#if($global.getInt('perf.moniter', 1) == 1)
	#if($me.hasAccess('access.config.admin'))
		<div class="portlet" data-url="/portlet/cpu?__node=$!__node"></div>
		<div class="portlet" data-url="/portlet/mem?__node=$!__node"></div>
		<div class="portlet" data-url="/portlet/fio?__node=$!__node"></div>
		<div class="portlet" data-url="/portlet/disk?__node=$!__node"></div>
		
		<div class="br"></div>
		#foreach($p in $nets)
		<div class="portlet" data-url="/portlet/net?name=$!p.name&__node=$!__node"></div>
		#end

##		<div class="br"></div>
##		#foreach($p in $disks)
##		<div class="portlet" data-url="/portlet/diskio?name=$!p.path&__node=$!__node"></div>
##		#end

##		<div class="br"></div>
##		#foreach($p in $portlets)
##		#if($p=='br')
##		<div class="br"></div>
##		#else
##		<div class="portlet" data-url="$p&__node=$!__node"></div>
##		#end
##		#end
		
	#end
#end

##	<div class="portlet" data-url="/portlet/loginfo?__node=$!__node" style="width:100%"></div>
	<div class="portlet" data-url="/portlet/sysinfo?__node=$!__node" style="width:100%"></div>

<div id='restart' title="$lang.get('title.restart.service')" class="form" style="display: none">
	<div>
		<label><h3>$lang.get('user.password'):</h3>
			<input type='password' name='password' /></label>
	</div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_restart();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>

giiwa.history('$!query');

var _timer = false;
function _showrestart(){
	giiwa.dialog($('#restart'), {width: 280, height:100, moveable: true});
}
function _restart(){
	
	$.get('/admin/system/info?__node=$!__node', {}, function(d){
		uptime = d.uptime;
	});
	
	giiwa.processing.show();
	var p = giiwa.dialog().panel.find('input[name=password]').val();
	$.post('/admin/system/restart?__node=$!__node', {pwd:p}, function(d){
		if(d.state == 'ok') {
			giiwa.dialog().close();
			_timer = setInterval(_load, 5000);
		} else {
			giiwa.processing.hide();
			giiwa.error(d.message);
		}
	})
}

var uptime = false;

function _load() {
	$.get('/admin/system/info?__node=$!__node', {}, function(d){
		if(d.uptime != uptime) {
			window.location.href = window.location.href;
		}
	});
}
</script>
