<div class='tabs'>
	<a href='javascript:;' class="selected">$lang.get('a.disk.edit')</a>
</div>

<form action='/admin/dfile/disk/edit?__node=$!__node'  method='post' class='form' enctype="multipart/form-data" style="margin-bottom: 0;margin-top: 10px;">
	<input type="hidden" name="id" value="$!s.id" />
	<div><label><h3>$lang.get('disk.node')(<r>*</r>):</h3>
		<input type='text' name='url' value="$!s.url" class="width-60"/>
		<g>$lang.get('disk.node.hint')</g></label></div>
	<div><label><h3>$lang.get('disk.path')(<r>*</r>):</h3><input type='text' name='s' value="$!s.path"/><g>$lang.get('disk.path.hint')</g></label></div>
		
	<div style="margin-left: 20px">
		<div><label><h3>$lang.get('disk.domain'):</h3><input type='text' name='domain' value="$!s.domain"/></label></div>
		<div><label><h3>$lang.get('disk.username'):</h3><input type='text' name='username' value="$!s.username"/></label></div>
		<div><label><h3>$lang.get('disk.password'):</h3><input type='password' name='password' value=""/></label></div>
	</div>
	
	<div><label><h3>$lang.get('disk.mount'):</h3><input type='text' name='mount' value="$!s.mount"/><g>$lang.get('disk.mount.hint')</g></label></div>
	<div><label><h3>$lang.get('disk.priority'):</h3><input type='number' name='priority' value="$!s.priority"/><g>$lang.get('disk.priority.hint')</g></label></div>
	<div><label><h3>$lang.get('disk.enabled'):</h3><input type='checkbox' name='enabled' #if($s.enabled==1)checked="checked"#end/><g>$lang.get('disk.enabled.hint')</g></label></div>
	<div class='btns'>
		<button type='submit'>$lang.get('btn.ok')</button>
	</div>
	
</form>

