 #parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/glog?__node=$!__node' class='selected'>$lang.get('a.glog')</a>
</div>

<style>
td.log_level_3 {
	color: #61CA0F !important;
}

td.log_level_2 {
	color: #CA9D0F !important;
}

td.log_level_1 {
	color: #CF1010 !important;
}
</style>
<div class='search'>
	<form action='/admin/glog' method='get' #if($s>0) style='display:none' #end > 
		<input type="hidden" name="__node" value="$!__node" />
		<span> <label><h3>$lang.get('log.startime'):</h3>
				<input type='text' name='startime' value='$!startime'
				style="width: 90px;" /> </label>
		</span> 
		<span> <label><h3>$lang.get('log.endtime'):</h3> <input
				type='text' name='endtime' value='$!endtime' style="width: 90px;" />
		</label>
		</span> 
		<span> <label><h3>$lang.get('log.node'):</h3> <input
				type='text' name='node' value='$!node' style="width: 80px;" /> </label>
		</span> 
		<span> <label><h3>$lang.get('log.model'):</h3> <input
				type='text' name='model' value='$!model' style="width: 80px;" /> </label>
		</span> 
		<span> <label><h3>$lang.get('log.op'):</h3> <input
				type='text' name='op' value='$!op' style="width: 80px;" /> </label>
		</span> 
		<span> <label><h3>$lang.get('log.type'):</h3> <select
				name='type'>
					<option value=''>$lang.get('log.type_all')</option>
					<option value='0' #if($type== 0) selected #end>$!lang.get('log.type_0')</option>
					<option value='1' #if($type== 1) selected #end>$!lang.get('log.type_1')</option>
					<option value='2' #if($type== 2) selected #end>$!lang.get('log.type_2')</option>
			</select> </label>
		</span> 
		<span> <label><h3>$lang.get('log.level'):</h3> <select
				name='level'>
					<option value=''>$lang.get('log.level_all')</option>
					<option value='1' #if($level== 1) selected #end>$!lang.get('log.level_1')</option>
					<option value='2' #if($level== 2) selected #end>$!lang.get('log.level_2')</option>
					<option value='3' #if($level== 3) selected #end>$!lang.get('log.level_3')</option>
			</select> </label>
		</span> 
		<span> <label><h3>$lang.get('log.thread'):</h3> <input
				type='text' name='thread' value='$!thread' style="width: 80px;" /> </label>
		</span> 

		<button type='submit' class='btns1 icon icon-search'></button>
	</form>

	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table class='tablesorter nospace' border="0" cellpadding="0"
	cellspacing="1">
	<thead>
		<tr>
			<th style="width: 130px;">$lang.get('log.created')</th>
			<th style="width: 50px;">$lang.get('log.type')</th>
			<th style="width: 40px;">$lang.get('log.level')</th>
			<th style="width: 60px;">$lang.get('user.name')</th>
			<th style="width: 120px;">$lang.get('log.ip')</th>
			<th style="width: 60px;">$lang.get('log.node')</th>
			<th style="width: 120px;">$lang.get('log.thread')</th>
			<th style="width: 100px;">$lang.get('log.model')</th>
			<th style="width: 80px;">$lang.get('log.op')</th>
			<th>$lang.get('log.message')</th>
			<th style="width: 30px;"></th>
		</tr>
	</thead>
	<tbody>
		#foreach($f in $list)
		<tr>
			<td>$lang.format($f.created, 'yyyy-MM-dd HH:mm:ss')</td>
			<td class='log_type_$!f.type'>$!lang.get("log.type_$!f.type")</td>
			<td class='log_level_$!f.level'>$!lang.get("log.level_$!f.level")</td>
			<td>
				#if($f.user_obj)<i class='user text-overflow' title="$!f.user_obj.nickname/$!f.user_obj.name">$!f.user_obj.nickname</i>#end
			</td>
			<td><span class='text-overflow'>$!f.ip</span></td>
			<td><span class='text-overflow'>$!f.node_obj.label</span></td>
			<td><span class='text-overflow'>$!f.thread</span></td>
			<td>$!f.model</td>
			<td>$!f.op</td>
			<td>$lang.truncate($!f.message.replaceAll('<', '&lt;').replaceAll('>','&gt;'), 100)</td>
			<td class="a"><a class="hint hint--bottom"
				data-hint="$lang.get('a.detail')" href="javascript:;"
				onclick="giiwa.popup('/admin/glog/detail?__node=$!__node&id=$f.id')">
					<i class='icon-file-text2'></i>
			</a></td>
		</tr>
		#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

#if($me.hasAccess('access.config.admin'))
<div>
	<a class='btn btn-danger' href='javascript:;' onclick='_deleteall();'>$lang.get('a.clean')</a>
</div>
#end

<script>
	function _deleteall() {
		if (confirm("$lang.get('title.are_u_sure_delete')")) {
			giiwa.processing.show();
			$.post('/admin/glog/deleteall?__node=$!__node', {}, function(d) {
				giiwa.processing.hide();
				giiwa.message(d.message);
			});
		}
	}
</script>
