<style>
td.log_level_3 {
	color: #61CA0F !important;
}

td.log_level_2 {
	color: #CA9D0F !important;
}

td.log_level_1 {
	color: #CF1010 !important;
}
</style>

<div class='head'></div>

<table id='table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<tbody>
		<tr>
			<td style="width: 100px;"><span style="width: 100px;display:inline-block">$!lang.get('log.level')</span></td>
			<td class='log_level_$!b.level'>$!lang.get("log.level_$!b.level")</td>
		</tr>
		<tr>
			<td>$!lang.get('log.created')</td>
			<td>$!lang.format($b.created, 'yyyy-MM-dd HH:mm:ss')</td>
		</tr>
		<tr>
			<td>$!lang.get('log.node')</td>
			<td>$!b.node_obj.label</td>
		</tr>
		<tr>
			<td></td>
			<td>$!b.node</td>
		</tr>
		<tr>
			<td>$!lang.get('log.type')</td>
			<td>$!lang.get("log.type_$!b.type")</td>
		</tr>
		<tr>
			<td>$!lang.get('log.user')</td>
			<td>$!b.user_obj.nickname</td>
		</tr>
		<tr>
			<td>$!lang.get('log.ip')</td>
			<td>$!b.ip</td>
		</tr>
		<tr>
			<td>$!lang.get('log.thread')</td>
			<td>$!b.thread</td>
		</tr>
		<tr>
			<td>$!lang.get('log.model')</td>
			<td>$!b.model</td>
		</tr>
		<tr>
			<td>$!lang.get('log.op')</td>
			<td>$!b.op</td>
		</tr>
		<tr>
			<td>$!lang.get('log.message')</td>
			<td><span style="overflow:auto"><pre>$!b.message.replaceAll('<', '&lt;').replaceAll('>','&gt;')</pre></span></td>
		</tr>
		<tr>
			<td>$!lang.get('log.trace')</td>
			<td><span style="overflow:auto"><pre>$!b.trace</pre></span></td>
		</tr>
 		<tr>
			<td>$!lang.get('log.logger')</td>
			<td>$!b.logger</td>
		</tr>
	</tbody>
</table>

#if($b)
<div class="btns">
	<a class='btn btn-primary' href="/admin/glog/detail?__node=$!__node&next=$b.created">$lang.get('a.syslog.next')</a>
	<a class='btn btn-success' href="/admin/glog/detail?__node=$!__node&prev=$b.created">$lang.get('a.syslog.prev')</a>
</div>
#end
