<div id='toolbar' class='toolbar'>
	<div class='left'>
		<div class='home'>
			<a href='/?__node=$!__node'>
				<i class='icon-home'></i>&nbsp;
				<span>$lang.get('home')</span>
			</a>
		</div>
	</div>
	<div class='right'>
		<div class='t_left'>
			<a class='icon icon-arrow-left' href='javascript:;' onclick='giiwa.back();' title="$lang.get('a.back')"></a>
			<a class='icon icon-laptop' href='javascript:;' onclick='giiwa.load("/admin/dashboard?__node=$!__node")' title="$lang.get('a.dashboard')"></a>
		</div>
	</div>
</div>
<script>
$(function() {
	giiwa.load('/admin/dashboard?__node=$!__node');

	$('body').bind('keydown', function(e) {
		var target = e.target.nodeName;
		var edit = (target == 'INPUT' || target == 'SELECT' || target == 'TEXTAREA');
		
		if(e.which == 116) {
			//F5
			if(giiwa.reload()) {
				e.preventDefault();
			}
		} else if(!edit && e.which == 8){
			//backspace
			if(typeof(back) == 'function') {
				giiwa.back();
				e.preventDefault();
			}
		} else if(!edit && e.which == 36) {
			//home
			window.location.href = "/";				
			e.preventDefault();
		}
	});
		
})
</script>
