
	<div><label><h3>$lang.get('mq.group'):</h3><i>$!global.getString('site.group', 'demo')</i><g>$lang.get('mq.group.hint')</g></label></div>

	<div><label><h3>$lang.get('mq.type'):</h3>
		<select name="mq.type" onchange="_ontype();">
			<option value=''></option>
			<option value='rocketmq' #if($global.getString('mq.type', '')=='rocketmq') selected="selected" #end>$lang.get('mq.type_rocketmq')</option>
			<option value='activemq' #if($global.getString('mq.type', '')=='activemq') selected="selected" #end>$lang.get('mq.type_activemq')</option>
		</select>
	<g>$lang.get('mq.type_activemq.hint')</g></label></div>
	
	<div class="activemq mq_more" style="display: none">
		<div style="padding-left:20px;"><label><h3>$lang.get('activemq.url'):</h3><input type='text' style='width:40%' name='activemq.url' value="$!global.getString('activemq.url', 'failover:(tcp://[host]:61616)?timeout=3000&jms.prefetchPolicy.all=2&jms.useAsyncSend=true')"/><p><g>$lang.get('activemq.url.hint')</g></p></label></div>
		<div style="padding-left:20px;"><label><h3>$lang.get('activemq.user'):</h3><input type='text' name='activemq.user' value="$!global.getString('activemq.user', '')"/><g>$lang.get('activemq.user.hint')</g></label></div>
		<div style="padding-left:20px;"><label><h3>$lang.get('activemq.passwd'):</h3><input type='password' autocomplete="new-password" name='activemq.passwd' value="$!global.getString('activemq.passwd', '')"/><g>$lang.get('activemq.passwd.hint')</g></label></div>
	</div>

	<div class="rocketmq mq_more" style="display: none">
		<div style="padding-left:20px;"><label><h3>$lang.get('rocketmq.url'):</h3><input type='text' style='width:40%' name='rocketmq.url' value="$!global.getString('rocketmq.url', 'localhost:9876')"/><p><g>$lang.get('rocketmq.url.hint')</g></p></label></div>
	</div>
		
<script>
function _ontype(){
	var c = $('select[name="mq.type"]').val();
	$('.mq_more').hide();
	if(c && c != '') {
		$('.mq_more.' + c).show();
	}
}
$(function(){
	var c = $('select[name="mq.type"]').val();
	if(c && c != '') {
		$('.mq_more.' + c).show();
	}
})
</script>