#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/node?__node=$!__node' class='selected'>$lang.get('a.node.list')</a>
</div>

<div class='search'>
	<form action='/admin/node' method='get' #if($s>0) style='display:none' #end >
		<input type="hidden" name="__node" value="$!__node" />
		<span><label><h3>$lang.get('node.label'):</h3><input type='text' name='name' value="$!name" /></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='node-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th rowspan="2" style="width: 70px;">$lang.get('node.label')</th>
			<th rowspan="2" style="width: 120px;">$lang.get('node.ip')</th>
			<th rowspan="2" style="width: 60px;">$lang.get('node.os')</th>
			<th rowspan="2" style="width: 100px;">$lang.get('node.giiwa')</th>
			<th rowspan="2">$lang.get('node.modules')</th>
			<th rowspan="2" style="width: 60px;">$lang.get('node.uptime')</th>
			<th colspan="2">$lang.get('node.cpu')</th>
			<th rowspan="2" style="width: 50px;">$lang.get('node.mem')</th>
			<th colspan="3">$lang.get('node.tasks.local')</th>
			<th rowspan="2" style="width: 50px;">$lang.get('node.requests')</th>
			<th rowspan="2" style="width: 80px;">$lang.get('node.timestamp')</th>
			<th rowspan="2" style="width: 30px;text-align: center">$lang.get('node.state')</th>
			<th rowspan="2" style="width: 84px;"></th>
		</tr>
		<tr>
			<th style="width: 40px;">$lang.get('node.cpu.cores')</th>
			<th style="width: 60px;">$lang.get('node.cpu.usage')</th>
			<th style="width: 40px;">$lang.get('node.tasks.local.running')</th>
			<th style="width: 40px;">$lang.get('node.tasks.local.pending')</th>
			<th style="width: 40px;">$lang.get('node.tasks.local.delay')</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr #if($lang.pastms($f.updated) < 3000) class="blink" #end>
		<td class="a">
			<a href="/admin/?__node=$!f.id" target="_blank">$!f.label</a>
			<a class="hint hint--bottom" data-hint="Edit" href="javascript:;" onclick="_showlabel('$f.id', '$!f.label')"><i class='icon-pencil'></i></a>
		</td>
		<td>$!f.ip</td>
		<td>$!f.os</td>
		<td>$!f.giiwa</td>
		<td><pre>$!f.modules</pre></td>
		<td>$!lang.past($f.uptime)</td>
		<td>$!f.cores</td>
		<td>$!f.usage</td>
		<td>$!lang.size($!f.mem)</td>
		<td>$!f.localrunning</td>
		<td>$!f.localpending</td>
		<td style="color: red">#if($!f.localdelay>0)$!f.localdelay#end</td>
		<td>$!f.requests</td>
		<td>$!f.timestamp</td>
		<td style="text-align:center">
			#if($f.state == 1)
			<i class='icon-radio-checked' style="color: $!f.color"></i>
			#else
			<i class='icon-radio-unchecked' style="color: red"></i>
			#end
		</td>
		<td class="a">
			#if($f.giiwa)
			<a class="hint hint--bottom" data-hint="$lang.get('a.restart')" href="javascript:;" onclick="_power('$f.id', 1)"><i class="icon-rotate-cw"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.poweroff')" href="javascript:;" onclick="_power('$f.id', 2)"><i class="icon-power2"></i></a>
			#end
			#if($local.id() != $f.id)
			<a class="hint hint--bottom" data-hint="$lang.get('a.delete')" href="javascript:;" onclick="_delete('$f.id')"><i class="icon-cancel-circle"></i></a>
			#end
		</td>
	</tr>
#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div class='btns'>
	<a class='btn btn-success' href="javascript:;" onclick="_add_node();">$lang.get('a.add')</a>
</div>


<div id='_label' class="form" style="display: none">
	<input type="hidden" name="id" value=""/>
	<div>
		<label><h3>$lang.get('node.label'):</h3>
			<input type='text' name='label' value=""/></label>
	</div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_oklabel();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>
function _add_node(){
	giiwa.popup('/admin/node/add?__node=$!__node', {
		width: 500,
		height: 340,
		moveable: true,
		max: false,
		onsubmit: function(e){
			console.log(e);
			e = eval('(' + e + ')');
			if(e.state == 200) {
				giiwa.processing.show();
				_check(e.url);
			} else {
				giiwa.error(e.message);
			}
		}
	});
}

function _check(url) {
	
	$.get(url, function(d){
		
		if(d.data.state == 0) {
			giiwa.processing.message(d.data.message);
			setTimeout(function(){
				_check(url);
			}, 2000);
		} else if(d.data.state == 201) {
			giiwa.processing.hide();
			giiwa.error(d.data.message);
		} else if(d.data.state == 200) {
			giiwa.processing.hide();
			giiwa.reload();
			giiwa.hint(d.data.message);
		}
	})

}

function _showlabel(id, old){
	giiwa.dialog($('#_label'), {
		width: 280, 
		height:100, 
		moveable: true,
		prepare: function(p){
			p.find("input[name=id]").val(id);
			p.find("input[name=label]").val(old);
		}
	});
}
function _oklabel(){
	
	giiwa.processing.show();
	var id = giiwa.dialog().panel.find('input[name=id]').val();
	var label = giiwa.dialog().panel.find('input[name=label]').val();
	
	$.post('/admin/node/update?__node=$!__node', {id:id, label:label}, function(d){
		giiwa.processing.hide();
		giiwa.reload();
	})
}

function _delete(id) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/node/delete?__node=$!__node', {id: id}, function(d){
			giiwa.reload();
		})
	}
}

function _power(id, p) {
	if(p == 1) {
		//restart
		if(confirm("$lang.get('title.are_u_sure_restart')")) {
			$.post('/admin/node/power?__node=$!__node', {id: id, power:p}, function(d){
				giiwa.reload();
			})
		}
		
	} else if(p == 2) {
		//power off
		if(confirm("$lang.get('title.are_u_sure_poweroff')")) {
			$.post('/admin/node/power?__node=$!__node', {id: id, power:p}, function(d){
				giiwa.reload();
			})
		}
	}
}

</script>
