<div class='tabs'>
	<a href='javascript:;' class="selected">$lang.get('a.node.add')</a>
</div>

<form action='/admin/node/add?__node=$!__node'  method='post' class='form' enctype="multipart/form-data" style="margin-bottom: 0;">

	<div><label><h3>SSH(<r>*</r>):</h3><input type='text' name='host' value=""/><g>ip:port, e.g: 192.168.21.11:22</g></label></div>
	<div><label><h3>$lang.get("user.name")(<r>*</r>):</h3><input type='input' name=user value=""/></label></div>
	<div><label><h3>$lang.get("user.password")(<r>*</r>):</h3><input type='password' name='passwd' value=""/></label></div>
	<div><label><h3>$lang.get("a.module"):</h3><input type='input' name='l2' value="$!l2" style="width:300px"/></label></div>
	<div><label><h3>$lang.get("a.alias"):</h3><input type='text' name='alias' value=""/></label></div>

	<div class='btns'>
		<button type='submit'>$lang.get('btn.ok')</button>
	</div>
	
</form>

