
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/policy?__node=$!__node'>$lang.get('a.policy')</a>
	<a href='/admin/policy/create?__node=$!__node' class='selected'>$lang.get('a.create')</a>
</div>

<form action='/admin/policy/create?__node=$!__node'  method='post' class='form' >
	
	<div><label><h3>$lang.get('policy.ip')<r>*</r>:</h3><input type='text' name='ip' value='$!ip' required/><g>$lang.get("policy.ip.hint")</g></label></div>
	<div><label><h3>$lang.get('policy.url')<r>*</r>:</h3><input type='text' name='url' class="width-20" value='$!url'/><g>$lang.get("policy.url.hint")</g></label></div>
	<div><label><h3>$lang.get('policy.action'):</h3>
		<select name="action1">
			<option value="1" #if($action==1) selected #end>$lang.get("policy.action_1")</option>
			<option value="0" #if($action==0) selected #end>$lang.get("policy.action_0")</option>
		</select>
	</label></div>
	<div><label><h3>$lang.get('policy.memo'):</h3><input type='text' class="width-20" name='memo' value='$!memo'/></label></div>
	<div><label><h3>$lang.get('policy.seq'):</h3><input type='number' name='seq' value="$!seq"/><g>$lang.get("policy.seq.hint")</g></label></div>
	<div><label><h3>$lang.get('policy.enabled'):</h3><input type='checkbox' name='enabled' #if($s.enabled==1)checked="checked"#end/></label></div>

	<div class='btns'><button class='btn btn-success' type='submit'>$lang.get('btn.create')</button></div>
</form>
