	<div><label><g>$lang.get('global.setting.notes')</g></label></div>
	<hr/>
	<div><label><h3>$lang.get('cluster.code'):</h3>
		<input type='number' name='cluster.code' value="$!global.getLong('cluster.code',0)"/>
		<g>$lang.get('cluster.code.hint')</g></label></div>

	<div style="margin-left:20px">
		<div><label><h3>$lang.get('uid.next.s1'):</h3>
			<input type='number' name='uid.next.s1' value="$!global.getLong('uid.next.s1',1)"/>
			<g>$lang.get('uid.next.s1.hint')</g></label></div>
	</div>

	<div><label><h3>$lang.get('site.group'):</h3>
		<input type='text' name='site.group' value="$!global.getString('site.group','demo')"/>
		<g>$lang.get('site.group.hint')</g></label></div>

	<div><label><h3>$lang.get('cache.url'):</h3>
		<input type='text' name='cache.url' value="$!global.getString('cache.url','')"/>
		<g>$lang.get('cache.url.hint')</g></label></div>

	<div style="margin-left: 20px;">
		<div><label><h3>$lang.get('cache.user'):</h3>
			<input type='text' name='cache.user' value="$!global.getString('cache.user','')"/>
			</label></div>
		<div><label><h3>$lang.get('cache.passwd'):</h3>
			<input type='password' name='cache.passwd' value="" autocomplete="new-password"/>
			</label></div>
	</div>

	<div><label><h3>$lang.get('language'):</h3>
		<select name='language'>
			<option value='en_us' #if($language == 'en_us') selected #end>en_us</option>
			<option value='zh_cn' #if($language == 'zh_cn') selected #end>zh_cn</option>
		</select>
		<g>$lang.get('language.hint')</g>
	</label></div>

	<div><label><h3>$lang.get('zookeeper.server'):</h3>
		<input type='text' name='zookeeper.server' value="$!global.getString('zookeeper.server','')"/>
		<g>$lang.get('zookeeper.server.hint')</g></label></div>
	
	<div><label><h3>$lang.get('ntp.server'):</h3>
		<input type='text' name='ntpserver' value="$!global.getString('ntp.server','cn.ntp.org.cn')"/>
		<g>$lang.get('ntp.server.hint')</g></label></div>

	<div><label><h3>$lang.get('http.proxy'):</h3>
		<input type='text' name='http.proxy' value="$!global.getString('http.proxy','')" class='width-40'/>
		<g>$lang.get('http.proxy.hint')</g></label></div>

	<div><label><h3>$lang.get('perf.moniter'):</h3>
		<input type='checkbox' name='perf.moniter' #if($global.getInt('perf.moniter',1)==1) checked="checked" #end/>
		<g>$lang.get('perf.moniter.hint')</g></label></div>

	<div><label><h3>$lang.get('db.optimizer'):</h3>
		<input type='checkbox' name='db.optimizer' #if($global.getInt("db.optimizer", 1)==1) checked="checked" #end />
		<g>$lang.get('db.optimizer.hint')</g></label></div>

	<div><label><h3>$lang.get('web.debug'):</h3>
		<input type='checkbox' name='web.debug' #if($global.getInt("web.debug", 0)==1) checked="checked" #end />
		<g>$lang.get('web.debug.hint')</g></label></div>

	<div><label><g>$lang.get('global.setting.logs')</g></label></div>
	<hr/>
	<div><label><h3>$lang.get('security.task'):</h3>
		<input type='checkbox' name='security.task' #if($global.getInt("security.task", 0)==1) checked="checked" #end />
		<g>$lang.get('security.task.hint')</g></label></div>

	<div><label><h3>$lang.get('oplog.level'):</h3>
		<select name='oplog.level'>
			<option value='0' #if($global.getInt('oplog.level', 1) == 0) selected #end>$lang.get('oplog.level_0')</option>
			<option value='1' #if($global.getInt('oplog.level', 1) == 1) selected #end>$lang.get('oplog.level_1')</option>
			<option value='2' #if($global.getInt('oplog.level', 1) == 2) selected #end>$lang.get('oplog.level_2')</option>
		</select>
		<g>$lang.get('oplog.level.hint')</g>
	</label></div>
	<div><label><h3>$lang.get('glog.keep.days'):</h3>
		<input type='number' name='glog.keep.days' value="$global.getInt('glog.keep.days', 30)" />
		<g>$lang.get('glog.keep.days.hint')</g></label></div>

	<div><label><h3>$lang.get('glog.rsyslog'):</h3>
		<input type='checkbox' name='glog.rsyslog' #if($global.getInt("glog.rsyslog", 0)==1) checked="checked" #end />
		<g>$lang.get('glog.rsyslog.hint')</g></label></div>

	<div style="margin-left: 20px;">
	
		<div><label><h3>$lang.get('glog.rsyslog.host'):</h3>
			<input type='text' name='glog.rsyslog.host' value="$global.getString('glog.rsyslog.host','127.0.0.1')"/>
			<g>$lang.get('glog.rsyslog.host.hint')</g></label></div>
		<div><label><h3>$lang.get('glog.rsyslog.port'):</h3>
			<input type='number' name='glog.rsyslog.port' value="$global.getLong('glog.rsyslog.port',514)"/>
			<g>$lang.get('glog.rsyslog.port.hint')</g></label></div>
		
	</div>

	<div><label><g>$lang.get('base.setting.dfile')</g></label></div>
	<hr/>
	<div><label><h3>$lang.get('dfile.copies'):</h3>
		<input type='number' name='dfile.copies' value="$!global.getInt('dfile.copies',0)"/>
		<g>$lang.get('dfile.copies.hint')</g></label></div>

	<div><label><h3>$lang.get('temp.max.age'):</h3>
		<input type='number' name='temp.max.age' value="$global.getInt('temp.max.age', 24)" />
		<g>$lang.get('temp.max.age.hint')</g></label></div>

	<div><label><h3>$lang.get('dfile.encode'):</h3>
		<input type='checkbox' name='dfile.encode' #if($global.getInt('dfile.encode', 0)==1) checked="checked" #end/>
		<g>$lang.get("dfile.encode.hint")</g>
	</label></div>

	<div><label><h3>$lang.get('f.upload.login'):</h3>
		<input type='checkbox' name='f.upload.login' #if($global.getInt("f.upload.login", 1)==1) checked="checked" #end />
		<g>$lang.get('f.upload.login.hint')</g></label></div>

	<div><label><h3>$lang.get('f.upload.path'):</h3>
		<input type='text' name='f.upload.path' value="$global.getString('f.upload.path', '/temp')"/>
		<g>$lang.get('f.upload.path.hint')</g></label></div>

	<div style='margin-left:20px;'><label><h3>$lang.get('f.upload.whitelist'):</h3>
		<input type='text' name='f.upload.whitelist' value="$global.getString('f.upload.whitelist','')" class='width-40'/>
		<g>$lang.get('f.upload.whitelist.hint')</g></label></div>

	<div><label><h3>$lang.get('f.g.login'):</h3>
		<input type='checkbox' name='f.g.login' #if($global.getInt("f.g.login", 0)==1) checked="checked" #end />
		<g>$lang.get('f.g.login.hint')</g></label></div>

	<div style='margin-left:20px;'><label><h3>$lang.get('f.g.whitelist'):</h3>
		<input type='text' name='f.g.whitelist' value="$global.getString('f.g.whitelist','')" class='width-40'/>
		<g>$lang.get('f.g.whitelist.hint')</g></label></div>

	<div><label><h3>$lang.get('f.g.online'):</h3>
		<input type='checkbox' name='f.g.online' #if($global.getInt("f.g.online", 1)==1) checked="checked" #end />
		<g>$lang.get('f.g.online.hint')</g></label></div>

	<div><label><g>$lang.get('base.setting.web')</g></label></div>
	<hr/>
	<div><label><h3>$lang.get('admin.ip'):</h3>
		<input type='text' name='admin.ip' value="$!global.getString('admin.ip','.*')" class="width-40"/>
		<g>$lang.get('admin.ip.hint')</g></label></div>

	<div><label><h3>$lang.get('home.uri'):</h3>
		<input type='text' name='home_uri' value="$!global.getString('home.uri','')"/>
		<g>$lang.get('home.uri.hint')</g></label></div>
	<div><label><h3>$lang.get('home.uri.1'):</h3>
		<input type='text' name='home.uri.1' value="$!local.getString('home.uri.1','')"/>
		<g>$lang.get('home.uri.1.hint')</g></label></div>
		
	<div><label><h3>$lang.get('cross.domain'):</h3>
		<input type='text' name='cross_domain' value="$!cross_domain"/>
		<g>$lang.get('cross.domain.hint')</g></label></div>
	<div><label><h3>$lang.get('cross.header'):</h3>
		<input type='text' name='cross_header' value="$!cross_header" style="width:40%"/>
		<g>$lang.get('cross.header.hint')</g></label></div>

	<div><label><h3>$lang.get('iframe.options'):</h3>
		<input type='text' name='iframe.options' value="$global.getString('iframe.options', 'SAMEORIGIN')"/>
		<g>$lang.get('iframe.options.hint')</g></label></div>
		
	<div><label><h3>$lang.get('html.source'):</h3>
		<input type='text' name='html.source' value="$global.getString('html.source', '.*(.js$|.css$|.jpg$|.png$|.jpeg$|/javadoc/.*)')" style="width:40%"/>
		<g>$lang.get('html.source.hint')</g></label></div>


	<div><label><h3>$lang.get('site.url'):</h3>
		<input type='text' name='site_url' value="$!global.getString('site.url','')" />
		<g>$lang.get('site.url.hint')</g>
	</label></div>
	<div><label><h3>$lang.get('site.image'):</h3>
		<input type='text' name='site.image' value="$!global.getString('site.image','')" />
		<g>$lang.get('site.image.hint')</g>
	</label></div>
	
	<div><label><h3>$lang.get('web.bg.watermark'):</h3>
		<input type='checkbox' name='web.bg.watermark' #if($global.getInt('web.bg.watermark',0) == 1) checked #end/>
		<g>$lang.get('web.bg.watermark.hint')</g></label></div>

	<div><label><g>$lang.get('base.setting.user')</g></label></div>
	<hr/>
	
	<div><label><h3>$lang.get('user.name.rule'):</h3>
		<input type='text' name='user_name' value="$!global.getString('user.name.rule','^[a-zA-Z0-9]{4,16}$')"/>
		<g>$lang.get('user.name.rule.hint')</g></label></div>

	<div style="margin-left:20px;"><label><h3>$lang.get('user.name.rule.tips'):</h3>
		<input type='text' name='user.name.rule.tips' value="$!global.getString('user.name.rule.tips','name MUST 4+ char or digital')" class="width-20"/>
		</label></div>
		
	<div><label><h3>$lang.get('user.passwd.rule'):</h3>
		<input type='text' name='user_passwd' value="$!global.getString('user.passwd.rule','^[a-zA-Z0-9]{6,16}$')"/>
		<g>$lang.get('user.passwd.rule.hint')</g></label></div>
	
	<div style="margin-left:20px;"><label><h3>$lang.get('user.passwd.rule.tips'):</h3>
		<input type='text' name='user.passwd.rule.tips' value="$!global.getString('user.passwd.rule.tips','password MUST 6+ char or digital')" class="width-20"/>
		</label></div>
	
	<div><label><h3>$lang.get('user.passwd'):</h3>
		<input type='checkbox' name='user.passwd' #if($global.getInt('user.passwd',1) ==1) checked="checked" #end/>
		<g>$lang.get('user.passwd.hint')</g></label></div>

	<div><label><h3>$lang.get('user.passwd.expired'):</h3>
		<input type='number' name='user.passwd.expired' value="$global.getInt('user.passwd.expired', 90)"/>
		<g>$lang.get('user.passwd.expired.hint')</g></label></div>
	
	<div><label><h3>$lang.get('user.captcha'):</h3>
		<input type='checkbox' name='user_captcha' #if($global.getInt('user.captcha',0) == 1) checked #end/>
		<g>$lang.get('user.captcha.hint')</g></label></div>
	<div><label><h3>$lang.get('user.token'):</h3>
		<input type='checkbox' name='user_token' #if($global.getInt('user.token',0) == 1) checked #end/>
		<g>$lang.get('user.token.hint')</g></label></div>
		
	<div><label><h3>$lang.get('session.baseip'):</h3>
		<input type='checkbox' name='session.baseip' #if($global.getInt('session.baseip',0) == 1) checked #end/>
		<g>$lang.get('session.baseip.hint')</g></label></div>
	<div><label><h3>$lang.get('session.alive'):</h3>
		<input type='number' name='session.alive' value="$global.getLong('session.alive',168)"/>
		<g>$lang.get('session.alive.hint')</g></label></div>
	<div><label><h3>$lang.get('session.httponly'):</h3>
		<input type='checkbox' name='session.httponly' #if($global.getInt('session.httponly',1) == 1) checked #end/>
		<g>$lang.get('session.httponly.hint')</g></label></div>
	<div><label><h3>$lang.get('cookie.samesite'):</h3>
		<select name='cookie.samesite'>
			<option value='Strict' #if($global.getString('cookie.samesite','Strict') == 'Strict') selected #end>$lang.get('cookie.samesite.Strict')</option>
			<option value='Lax' #if($global.getString('cookie.samesite','Strict') == 'Lax') selected #end>$lang.get('cookie.samesite.Lax')</option>
			<option value='None' #if($global.getString('cookie.samesite','Strict') == 'None') selected #end>$lang.get('cookie.samesite.None')</option>
		</select>
		<g>$lang.get('cookie.samesite.hint')</g></label></div>


	<div><label><h3>$lang.get('user.login.failed.lock'):</h3>
		<input type='checkbox' name='user.login.failed.lock' #if($global.getInt('user.login.failed.lock',1) ==1) checked="checked" #end/>
		<g>$lang.get('user.login.failed.lock.hint')</g></label></div>
		
	<div style="margin-left: 20px;">
		<div><label><h3>$lang.get('user.login.failed.times'):</h3>
			<input type='number' name='user.login.failed.times' value="$global.getLong('user.login.failed.times',3)"/>
			<g>$lang.get('user.login.failed.times.hint')</g></label></div>
			
		<div><label><h3>$lang.get('user.login.failed.lock.time'):</h3>
			<input type='number' name='user.login.failed.lock.time' value="$global.getLong('user.login.failed.lock.time',1)"/>
			<g>$lang.get('user.login.failed.lock.time.hint')</g></label></div>
			
		<div><label><h3>$lang.get('user.login.failed.mode'):</h3>
			<select name='user.login.failed.mode'>
				<option value='ip' #if($global.getString('user.login.failed.mode','ip') == 'ip') selected #end>$lang.get('user.login.failed.mode.ip')</option>
				<option value='all' #if($global.getString('user.login.failed.mode','ip') == 'all') selected #end>$lang.get('user.login.failed.mode.all')</option>
			</select>
		</label></div>
	</div>
		
	<div><label><h3>$lang.get('user.login.sso'):</h3>
		<input type='checkbox' name='user.login.sso' #if($global.getInt('user.login.sso',0) ==1) checked="checked" #end/>
		<g>$lang.get('user.login.sso.hint')</g></label></div>
		
	<div style="margin-left: 20px;">
	
		<div><label><h3>$lang.get('user.login.sso.mode'):</h3>
			<select name='user.login.sso.mode'>
				<option value='appid' #if($global.getString('user.login.sso.mode','appid') == 'appid') selected #end>$lang.get('user.login.sso.mode.appid')</option>
			</select>
			<g>$lang.get('user.login.sso.mode.hint')</g></label></div>
			
		<div><label><h3>$lang.get('user.login.sso.expired'):</h3>
			<input type='number' name='user.login.sso.expired' value="$global.getLong('user.login.sso.expired',60)"/>
			<g>$lang.get('user.login.sso.expired.hint')</g></label></div>
		
		<div><label><h3>$lang.get('user.login.sso.role'):</h3>
			<select name='user.login.sso.role'>
				<option value=''></option>
				#foreach($r in $roles)
				<option value='$r.name' #if($sso_role == "$r.name") selected #end>$r.name</option>
				#end
			</select>
			<g>$lang.get('user.login.sso.role.hint')</g>
		</label></div>
				
	</div>
				
	<div><label><h3>$lang.get('user.system'):</h3>
		<select name='user_system'>
			<option value='open' #if($user_system == 'open') selected #end>$lang.get('user.system.open')</option>
			<option value='close' #if($user_system == 'close') selected #end>$lang.get('user.system.close')</option>
		</select>
		<g>$lang.get('user.system.hint')</g>
	</label></div>

	<div style="margin-left: 20px;"><label><h3>$lang.get('user.role'):</h3>
		<select name='user_role'>
			<option value=''></option>
			#foreach($r in $roles)
			<option value='$r.name' #if($user_role == "$r.name") selected #end>$r.name</option>
			#end
		</select>
		<g>$lang.get('user.role.hint')</g>
	</label></div>		
		
	<div><label><g>$lang.get('base.setting.notes')</g></label></div>
	<hr/>
	<!-- div><label><h3>gi.uuid:</h3><i>&nbsp;$!global.getString('gi.uuid', '')</i></label></div-->
	<div><label><h3>global.id:</h3><i>&nbsp;$!global.id()</i></label></div>
	<div><label><h3>node.id:</h3><i>&nbsp;$!local.id()</i></label></div>
	<div><label><h3>system.id:</h3><i>&nbsp;$!serial</i></label></div>
	<div><label><h3>db.url:</h3><i>&nbsp;$!db_url</i><g>$lang.get('db.url.hint')</g></label></div>
	<div><label><h3>db.user:</h3><i>&nbsp;$!db_user</i><g>$lang.get('db.user.hint')</g></label></div>

	<div><label><g>$lang.get('partial.lang.notes')</g></label></div>
	<hr/>
	<div><label><h3>browser.title:</h3><i>&nbsp;$lang.get('browser.title')</i></label></div>
	<div><label><h3>site.title:</h3><i>&nbsp;$lang.get('site.title')</i></label></div>
	<div><label><h3>site.logo:</h3><i>&nbsp;$lang.get('site.logo')</i></label></div>

<div id='edit_conf' title="$lang.get('system.edit.conf')" style="display:none">
	<div><textarea style="width:460px;height:290px"></textarea></div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_edit_conf(this);'>$lang.get('btn.save')</button>
	</div>
</div>

<script>
function _show_edit_conf(){
	$.post('/admin/setting/getconf?__node=$!__node', {}, function(d){
		$('#edit_conf textarea').val(d.text);
		giiwa.dialog($('#edit_conf'), {width: 500, height:350, moveable:true});
	});
}
function _edit_conf(o) {
	giiwa.dialog().close();
	var v = $(o).parent().parent().find('textarea').val();
	$.post('/admin/setting/editconf?__node=$!__node', {text:v}, function(d){
		if(d.state == 200) {
			giiwa.message(d.message);
		} else {
			giiwa.error(d.error);
		}
	})
}

</script>	