
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user?__node=$!__node'>$lang.get('a.user')</a>
	<a href='/admin/user/detail?__node=$!__node&id=$u.id' class='selected'>$lang.get('a.detail')</a>
</div>

<div class='form'>
	<table id='user-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 150px;">&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>$lang.get('user.name')</td>
			<td>$u.name</td>
		</tr>
		<tr>
			<td>$lang.get('user.nickname')</td>
			<td>$!u.nickname</td>
		</tr>
		<tr>
			<td>$lang.get('user.company')</td>
			<td>$!u.company</td>
		</tr>
		<tr>
			<td>$lang.get('user.title')</td>
			<td>$!u.title</td>
		</tr>
		<tr>
			<td>$lang.get('user.email')</td>
			<td>$!u.email</td>
		</tr>
		<tr>
			<td>$lang.get('user.phone')</td>
			<td>$!u.phone</td>
		</tr>
		<tr>
			<td>$lang.get('user.roles')</td>
			<td>
				#foreach($r in $u.role.list) 
				<span class='icon-shield'>$r.name</span>
				#end
			</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastlogintime')</td>
			<td>$!lang.format($!u.lastlogintime, 'yy-MM-dd hh:mm:ss')</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastloginip')</td>
			<td>$!u.ip</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastfailtime')</td>
			<td>$!lang.format($!u.lastfailtime, 'yy-MM-dd hh:mm:ss')($!lang.past($u.lastfailtime))</td>
		</tr>
		<tr>
			<td>$lang.get('user.lastfailip')</td>
			<td>$!u.lastfailip</td>
		</tr>
		<tr>
			<td>$lang.get('user.failtimes')</td>
			<td>$!u.failtimes</td>
		</tr>
		<tr>
			<td>$lang.get('user.createdip')</td>
			<td>$!u.createdip</td>
		</tr>
		<tr>
			<td>$lang.get('user.createdua')</td>
			<td>$!u.createdua</td>
		</tr>
		<tr>
			<td>$lang.get('user.createdby')</td>
			<td>$!u.createdby_obj.name</td>
		</tr>
		</tbody>
	</table>
	
	<label><g>$lang.get("user.token.list")</g></label>
	<table id='token-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 120px;">$lang.get("user.ip")</th>
				<th style="width: 200px;">$lang.get("user.sid")</th>
				<th style="width: 200px;">$lang.get("user.token")</th>
				<th style="width: 130px;">$lang.get("user.expired")</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $u.tokens)
		<tr>
			<td style="width: 120px;">$!r.ip</td>
			<td>$!r.sid</td>
			<td>$!r.token</td>
			<td>$lang.format($r.expired, 'yyyy-MM-dd HH:mm:ss')</td>
			<td></td>
		</tr>
	#end
		</tbody>
	</table>

	<label><g>$lang.get("user.sid.list")</g></label>
	<table id='token-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 120px;">$lang.get("user.ip")</th>
				<th style="width: 200px;">$lang.get("user.sid")</th>
				<th>$lang.get("user.browser")</th>
				<th style="width: 130px;">$lang.get("user.updated")</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $u.sid_obj)
		<tr>
			<td>$!r.ip</td>
			<td>$!r.sid</td>
			<td>$!r.browser</td>
			<td>$lang.format($r.updated, 'yyyy-MM-dd HH:mm:ss')</td>
			<td></td>
		</tr>
	#end
		</tbody>
	</table>

	<label><g>$lang.get("user.glog.list")</g></label>
	<table id='token-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th style="width: 130px;">$lang.get('log.created')</th>
				<th style="width: 50px;">$lang.get('log.type')</th>
				<th style="width: 40px;">$lang.get('log.level')</th>
				<th style="width: 120px;">$lang.get('log.ip')</th>
				<th style="width: 60px;">$lang.get('log.node')</th>
				<th style="width: 100px;">$lang.get('log.model')</th>
				<th style="width: 60px;">$lang.get('log.op')</th>
				<th>$lang.get('log.message')</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
	#foreach($f in $u.log_obj)
		<tr>
			<td>$lang.format($f.created, 'yyyy-MM-dd HH:mm:ss')</td>
			<td class='log_type_$!f.type'>$!lang.get("log.type_$!f.type")</td>
			<td class='log_level_$!f.level'>$!lang.get("log.level_$!f.level")</td>
			<td>$!f.ip</td>
			<td>$!f.node_obj.label</td>
			<td>$!f.model</td>
			<td>$!f.op</td>
			<td>$lang.truncate($!f.message, 100)</td>
			<td class="a"><a class="hint hint--bottom"
				data-hint="$lang.get('a.detail')" href="javascript:;"
				onclick="giiwa.popup('/admin/syslog/detail?__node=$!__node&id=$f.id')">
					<i class='icon-file-text2'></i>
			</a></td>
		</tr>
	#end
		</tbody>
	</table>

</div>
