
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user?__node=$!__node'>$lang.get('a.user')</a>
	<a href='/admin/user/create?__node=$!__node' class='selected'>$lang.get('a.create')</a>
</div>

<form action='/admin/user/create?__node=$!__node'  method='post' class='form' >
	<input type='password' style="display:none"/>
	
	<div><label><h3>$lang.get('user.name')(<r>*</r>):</h3><input type='text' onblur="giiwa.verify(this, '/user/verify');" name='name' value=#if($name) '$name' #else '' bad="1"  #end required/><g>$lang.get("user.name.note")</g></label></div>
	<div><label><h3>$lang.get('user.nickname')(<r>*</r>):</h3><input type='text' name='nickname' value=#if($nickname) '$nickname' #else '' #end required/></label></div>
	<div><label><h3>$lang.get('user.password')(<r>*</r>):</h3><input type='text' onblur="giiwa.verify(this, '/user/verify')" name='password' value=#if($password)'$password' #else '123123' #end required/></label></div>
	<div><label><h3>$lang.get('user.company'):</h3><input type='text' name='company' value='$!company' /></label></div>
	<div><label><h3>$lang.get('user.title'):</h3><input type='text' name='title' value='$!title' /></label></div>
	<div><label><h3>$lang.get('user.email'):</h3><input type='email' name='email' value= '$!email' /></label></div>
	<div><label><h3>$lang.get('user.phone'):</h3><input type='tel' name='phone' value= '$!phone'  /></label></div>
	<div><label><h3>$lang.get('user.disklimitsize'):</h3><input type='number' name='disklimitsize' value= '2'  /><g>$lang.get("user.disklimitsize.hint")</g></label></div>
	<div><label><h3>$lang.get('user.limitip'):</h3><input type='number' name='limitip' value= ''  /><g>$lang.get("user.limitip.hint")</g></label></div>
	<div><label><h3>$lang.get('user.number'):</h3><input type='number' name='number' value= '1'  /><g>$lang.get("user.number.hint")</g></label></div>

	<table id='user-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th>$lang.get('role.name')</th>
				<th>$lang.get('role.memo')</th>
				<th>$lang.get('role.url')</th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $roles)
		<tr>
			<td><label><input type="checkbox" name="role" value="$r.id" #if($u.isRole($r)) checked="true" #end>$r.name</label></label></td>
			<td>$!r.memo</td>
			<td>$!r.url</td>
		</tr>
	#end
		</tbody>
	</table>

	<div class='btns'><button class='btn btn-success' type='submit'>$lang.get('btn.create')</button></div>
</form>

<script>
function _confirm(obj){
	var that = $(obj).parent().parent();
	that.find('input').attr('bad', "0");
	that.find("note").html("lang.get('user.name.confirmed')");
	that.find("confirm").hide();
}
</script>