#parse('/user/head.html')

<div class="header">
	#if($message)
	<div id="messageBox" class="alert alert-error">
		<label id="loginError" class="error">$message</label>
	</div>
	#end
</div>
<style>
.form-signon {
    width: 420px;
    padding: 50px 20px;
}
.form-signin .input-label{
	text-align: right;
}
</style>
<h1 class="form-signin-heading">$lang.get('user.passwd.title')</h1>
<form id="loginForm" class="form-signin form-signon form-horizontal" action="/user/passwd" method="post" enctype="multipart/form-data">
	<div class='form-group'>
		<label class="col-sm-5 text-center input-label icon-lock" for="password">$lang.get('user.password1')<r>*</r></label>
		<div class="col-sm-6">
			<input type="text" style="display:none"/>
			<input type='hidden' name="pwd1" />
			<input type="password" id="password1" value="" class="form-control" required onchange="_pwd();"/>
		</div>
	</div>

	<div class='form-group'>
		<label class="col-sm-5 text-center input-label icon-lock" for="password">$lang.get('user.password2')<r>*</r></label>
		<div class="col-sm-6">
			<input type="text" style="display:none"/>
			<input type="password" id="password2" value="" class="form-control" required onchange="_pwd2();"/>
		</div>
	</div>
		
	<button id="btnok" class="col-sm-offset-5 col-sm-6 btn btn-large btn-primary" type="submit" formmethod="post" disabled>$lang.get('btn.ok')</button>
	
</form>
<div class="footer" style='color: #fff;'>
	$lang.get('copyright') - $lang.get('powerby') 
</div>

<script>
function _pwd(){
	var s = $('#password1').val();
	s = giiwa.encode(s);
	$('input[name=pwd1]').val(s);
	
	_pwd2();
	
}

function _pwd2(){
	var s1 = $('#password1').val();
	var s2 = $('#password2').val();
	if(s1 != '' && s1 == s2) {
		$('#btnok').prop('disabled', false);
	} else {
		$('#btnok').prop('disabled', true);
	}
}
</script>

#parse('/user/foot.html')
