<a class='more hint hint--bottom' data-hint="$lang.get('portlet.more.hint')" href='javascript:;' onclick="giiwa.popup('/portlet/db/strw/more')"><i class='icon-menu'></i></a>

<div id='status_$!requestid' style="height: 160px;width: 180px;"></div>

<script>
$(function(){
	var t = Highcharts.chart('status_$!requestid', {
	    chart: {
	        type: 'line'
	    },
	    title: {
	        text: '$lang.get("portlet.db.strw.title")'
	    },
	    xAxis: {
	    		type: 'datetime'
	    },
	    yAxis: {
	    	min: 0,
    		title: {
	            text: ''
	        }
	    },
	      legend: {
	          enabled: true
	        },
	    tooltip: {
	        headerFormat: '',
	        pointFormat: '<b>{series.name}: {point.y}次</b><br>{point.x:%H:%M}'
	    },
		plotOptions : {
	        series: {
	        		turboThreshold: 0
	        	}
		},	    
	    credits: {
	        enabled: false
	    },
	    series: [
					{name: "$lang.get('db.reads')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c._reads},#end]},
					{name: "$lang.get('db.writes')", color:'#0dad76', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c._writes},#end]}
    			], 
	});
	
})
</script>

