<?xml version="1.0" encoding="UTF-8"?>
<module version="1.0">
	<id>0</id>
	<name>default</name>
	<package>org.giiwa.app.web</package>
	<version>2.1</version>
	<build>0</build>
	<enabled>true</enabled>
	<readme>Giiwa</readme>
	<listener>
		<class>org.giiwa.app.web.DefaultListener</class>
	</listener>
	<key>MIICeQIBADANBgkqhkiG9w0BAQEFAASCAmMwggJfAgEAAoGBALDHoPmWkwjwIABnffoq+qzI1R30sO75NnaUT3S0ee6tblmHhlS7wlKNOPk6scROBJ9GA22aYZTt252MKjupD+CeAZ00RdmjhNSKLtW+q1os/id2t0rLUGmgIsMPWr5gK/bxovUiHgXlZLnp05eFN+ZF9iQMVWrFVJWE5qiMjWjBAgMBAAECgYEAnKNmWYE4K5VJZdJN59spXuxdGjv0gutDfPKRLOG1oOz/eEkDmBT+bFNCBmQhm8VdhxtscjN2/5V7ITBPQ6nbrDj3Bl8AiDamWxxOdMQ41cHtrqXw45i+HIefVLWzl6kWT3T+s0Qywc5zRHkYAEdyYnlBlb1WhRUeZ/l6M2wrSlkCQQD0VQaBEv/KyvY9JuOIRgZg9+bB3qCdFr2bD8lDFhraXXWn7c2k1P695JpxVdYefrz4Mwxy3h9NjGLyGPEb1Q+PAkEAuTjFr3TOH6fmhjF13TbTrLEETZ6dtMpwyev+ncHlJOrZX0y1I3MF5Z/VWpUCLont59RBH4tMcHmbeBrnqtjarwJBAJk/405+LjZySzRb+gb1dPbJRtF+49rj8pUZt7D+YmVojW2A+KVUe1t70WsY3a5O7BP5YOuDarrnPQCAqGo+nv0CQQCzUKIZrfRLs0m6yrF3uzeMLUekOZYmTAKLibxTUD6d0fslhuaqbhXcazOrYSzej0vSL6vodPxIu4Jm8W0s+oojAkEA6+/ETVgDEAjQC5R8B7by5ZxvUs+f7AwqsVxVXQAz6ihMgi7ryg9yDY9eowsm3Cy06Rw2FZDQ7CYaKVg8N45Buw==</key>
</module>
