<?xml version="1.0" encoding="UTF-8"?>
<module version="1.0">
	<id>0</id>
	<name>default</name>
	<package>org.giiwa.app.web</package>
	<version>3.3</version>
	<build>0</build>
	<enabled>true</enabled>
	<readme>Giiwa</readme>
	<listener>
		<class>org.giiwa.app.web.DefaultListener</class>
	</listener>
  	<key>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAI2ib0F1BnjPpjKKqKMGlHcuwb1DY+p3crIxf/PMEysNt7mAQqKhwcHZHzqkfpOJTotfErgFEXtG1iu2LDmxyA2zbGMEmLulNDMqocXTiOTKO3BsKdzl52RQVx7PdrAdVfSe0GmFV3TsLAslWAodR0RvhQKWW6oa/ehxd7o5/lz9AgMBAAECgYAKvvM//SKuPIWjOgqiFoK3KYYA18HB7VQiGZ1X9aN9Vb9wbz8fBbTPV1Yw5dVwri9BEHKOzFuk2x1ZbatHU/9rOeQ9QiWhXfEOheEa+GWazGZIcfnJLsqgK7WOXIsoLKvRzTGKc4N1Ns7Y+7RHZNSFQvq5+Hwomn52vYKkTZ3SwQJBAP8OYg7Ai2l8njvwsC5SkEfiQoLfq90P2Qa8iIk8qlFwHdeLtKQGkaeVUHBl8A/RLHBdYpi4Vz9sI7ZEiWS+mfECQQCOKJswbD/oHkDGalW8P3M2CydGCVjEr5OcXwy3/6ujXMMKto7Ue9cWLjnLafh++QPbhyHKWjXoINU5k1/GH4fNAkEAjiHMwR3JUsJwR0TMWTQHVRegKuBMHMedEGT1zUxyOSm6Z4hh5NoIRxQtHEWiLp5JHmDb9fEcJaq0h/jPe8W/cQJAVmqKxCnZw2G4oKT9Tz0G7UBkdGe0JYRR6AnDsopiLSFzkyycsMBDZMFe8q+NlqoLVUTVHqwt/tkOpTxYSRjbtQJBANx89oJJgJGZq3Iv2447guGU27fXmtqb9esNK/muAyVNy7kS07pLQXibrZ+vXcqIPQ/fPARlm4EqBbHKGiMc6aQ=</key>
</module>
