<a class='more hint hint--bottom' data-hint="$lang.get('portlet.more.hint')" href='javascript:;' onclick="giiwa.popup('/portlet/app/cpu/more?id=$!id')"><i class='icon-menu'></i></a>

<div id='cpu_$!requestid' style="height: 160px;width: 180px;"></div>

<script>
$(function(){
	var t = Highcharts.chart('cpu_$!requestid', {
	    chart: {
	        type: 'line'
	    },
	    title: {
	        text: "$!name"
	    },
	    xAxis: {
	    		type: 'datetime'
	    },
	    yAxis: {
	    	min: 0,
    		title: {
	            text: ''
	        }
	    },
	      legend: {
	          enabled: true
	        },
	    tooltip: {
	    	   formatter:function(){
	    		      return this.series.name+':<b>' 
	    		      + this.y 
	    		      + '%</b><br>' 
	    		      + Highcharts.dateFormat('%H:%M', this.x);
	    		}
	    },
		plotOptions : {
	        series: {
	        		turboThreshold: 0
	        	}
		},	    
	    credits: {
	        enabled: false
	    },
	    series: [
    				{name: "$lang.get('cpu.usage')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.cpu},#end]},
    				{name: "$lang.get('mem.usage')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$c.mem},#end]}
    			], 
	});

	
})
</script>

