<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=10" />

		<link rel="shortcut icon" href="/favicon.ico"
		type="image/vnd.microsoft.icon" />
		<title>#if($browser_title) $browser_title | #end
			$lang.get('browser.title')</title>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href='/css/user.css?$!module.module("default").build' rel='stylesheet' />

		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
