<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

		<link rel="shortcut icon" href="/favicon.ico"
		type="image/vnd.microsoft.icon" />
		<title>#if($browser_title) $browser_title | #end
			$lang.get('browser.title')</title>
		<link href='/css/icons.css' rel='stylesheet' />
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href='/css/user.css?$!module.module("default").build' rel='stylesheet' />

		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script>
		$(document).on('contextmenu', function (e) {
	        return false;
	    });	
		</script>
		
	</head>
	<body>
