#parse('/user/head.html')

<div class="header">
	#if($message)
	<div id="messageBox" class="alert alert-error">
		<label id="loginError" class="error">$message</label>
	</div>
	#end
</div>
<h1 class="form-signin-heading icon-wondering">$lang.get('user.forget')</h1>
<form id="loginForm" class="form-signin" action="/user/forget" method="post">
	<div class=''>
		<label class="input-label icon-mail" for="username">$lang.get('user.email')</label>
		<input type="email" id="username" name="email" class="form-control" required />
	</div>
			
	<button class="btn btn-large btn-primary btn-block" type="submit">$lang.get('btn.ok')</button>
	<div id="themeSwitch">
		<a class="icon-wink" href="/user/login">$lang.get('a.login')</a>
	</div>
</form>
<div class="footer">
	$lang.get('copyright') - $lang.get('powerby') 
</div>

#parse('/user/foot.html')
	