#parse('/user/head.html')

<div class="header">
	#if($message)
	<div id="messageBox" class="alert alert-error">
		<label id="loginError" class="error">$message</label>
	</div>
	#end
</div>
<h1 class="form-signin-heading icon-wondering">$lang.get('user.forget')</h1>
<form id="loginForm" class="form-signin" action="/user/forget" method="post">
	<div class=''>
		<label class="input-label icon-user" for="username">$lang.get('user.name')</label>
		<input type="text" id="username" name="name" class="form-control" required />
	</div>
	<div class=''>
		<label class="input-label icon-lock" for="password">$lang.get('user.password')</label>
		<input type="password" id="password" name="pwd" class="form-control" required />
	</div>
	<div class="validateCode" src="/jeesite/servlet/validateCodeServlet?1470778552625">
		<label class="input-label mid" for="validateCode">$lang.get('user.captcha')</label>
		<input type="text" id="validateCode" name="code" maxlength="5" required class="form-control">
		<img id="validateImg" src="" onclick="_oncaptcha();" class="mid validateCode" style="">
		<a href="javascript:" onclick="_oncaptcha();" class="icon-opera validateCodeRefresh " style=""></a>
	</div>

								#if($sent)
									<div><label>$lang.get('email.sent'):</label><i>$!email</i></div>
									<div class="terms">
									</div>
									<div class="btn">
										<a href='/user/login'>$lang.get('a.login')</a>
									</div>
								#else
									<div><label>$lang.get('user.email'):</label><input type="text" name="email" value="$!email"></div>
									<div class="terms">
									</div>
									<div class="btn">
										<button type="submit"></button>
									</div>
								#end
			
	<button class="btn btn-large btn-primary" type="submit">$lang.get('btn.ok')</button>
	<div id="themeSwitch" class="dropdown">
		<a class="dropdown-toggle" href="/user/forget">忘记密码</a>
		#if($system.s('user.system', 'close')=='open')
		&nbsp;&nbsp;<a class="dropdown-toggle" href="/user/register">注册用户</a>
		#end
	</div>
</form>
<div class="footer">
	$lang.get('copyright') - $lang.get('powerby') 
</div>


		<div id="content">
			<div class='center'>
				<div class='outter'>
					<div class='inner'>
						<form method="post" class="forget">
 							#if($message)<div class='message'>$message</div>#end
							<div class="title">
								<span class="lock"></span>$lang.get('user.forget')
							</div>
							<div class="left">
							</div>
							<div class="right">
								<a href="/user/login">$lang.get('a.i_have_account')</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id='foot'>
			<div class='center'>
				<div class='links'>$lang.get('user.foot.links')</div>
				<div class='copyright'>
					<span class='copyright'>$lang.get('copyright')</span> <span
						class='designed'>$lang.get('designedby')</span>
				</div>
			</div>
		</div>
	</div>

#parse('/user/foot.html')
	