<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport"  content="width=device-width, height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="/favicon.ico"
	type="image/vnd.microsoft.icon" />
<title>#if($browser_title) $browser_title | #end
	$lang.get('browser.title')</title>
<meta name="description" content="$!browser.description"/>

</head>
<body  style='width:100%;height:100%;margin:0'>
<div style='display:none;'><img src='/images/giiwa_300x300.png' /></div>
<div style='text-align:left;width:100%;height:100%;margin:0'>
Just for Testing, browser was recorded<br>
IP=$!ip<br>
#foreach($s in $headers)
$s <br>
#end
-----------------------------<br>
host=$!host<br>
port=$!port<br>
remote=$!remote<br>
-----------------------------<br>
$node <br>
<a href='/'>返回首页</a>
</div>
</body>
</html>