* {
	font-size: 100%;
	outline: 0;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	background: #fff;
	overflow: hidden;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
	overflow: visible;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #4EA6FF;
}

::-webkit-scrollbar-thumb {
	background-color: #213B54;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #39648E;
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(161, 208, 253, 0.9);
}

i {
	font-style: normal;
}

r {
	color: #f33;
}

img {
	border: 0;
}

.logo img {
	height: 50px;
}

#wrapper {
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.w1200 #wrapper {
	width: 100%;
	position: relative;
	box-shadow: none;
}

.center {
	width: 1100px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

#head {
	height: 52px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background: #204a84;
}

#foot {
	position: relative;
	text-align: center;
	width: 100%;
	line-height: 22px;
	color: #456;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 10px 0;
}

#head .left {
	float: left;
	position: relative;
	margin-left: 20px;
}

#head .right {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	position: relative;
}

#head .right .top {
	background: #01ace4;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
}

#head .right .top .item {
	display: inline-block;
	margin: 0 10px;
}

#head a {
	color: #f1f1f1;
	text-decoration: none;
}

#head a:hover {
	color: #fff;
	text-decoration: underline;
}

#foot .center {
	border-top: 1px solid #1369c0;
}

#foot .designer {
	margin-left: 10px;
	color: #f99;
}

#foot a {
	color: #666;
	text-decoration: none;
}

#foot a:hover {
	text-decoration: underline;
	color: #c77;
}

input, select, textarea {
	font-size: 11pt;
	outline: none;
	line-height: 22px;
	border: 1px solid rgba(0, 0, 0, 0);
	margin-left: 6px;
	margin-top: 2px;
	padding: 2px 5px;
}

select {
	padding: 2px 0;
	height: 29px;
}

input[type=text], input[type=password] {
	width: 175px;
	height: 23px;
	display: inline-block;
}

input[type=checkbox], input[type=radio] {
	margin-top: 16px;
	margin-right: 5px;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #4d90fe !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(77, 144, 254, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(77, 144, 254, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(77, 144, 254, 0.6);
}

.outter {
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
}

.inner {
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	line-height: 32px;
}

.w1200 .center {
	width: 1200px;
}

#head .logo {
	position: relative;
	float: left;
}

#head .title {
	position: relative;
	font-size: 20pt;
	width: 420px;
	text-align: left;
	color: #EEE;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 80px;
	float: left;
}

#head .title g {
	font-size: 16px;
}

#panel {
	position: relative;
	top: 0;
	height: 100%;
	float: left;
	border-left: 1px solid #eee;
	padding-left: 19px;
	margin-left: -1px;
}

.w1200 #panel {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: auto;
	position: fixed;
	top: 92px;
	bottom: 0;
	left: 220px;
	right: 0;
}

#panel.full {
	left: 60px;
}

#panel .content {
	text-align: left;
	padding: 0 20px 20px;
}

input, textarea {
	border: 1px solid #bbb;
	border-bottom: 1px solid #678;
}

textarea {
	width: 60%;
	height: 200px;
}

.content .item:nth-child(odd) {
	background: #f8f8f8;
}

.content .item:nth-child(even) {
	background: #f1f1f1;
}

#processing {
	position: fixed;
	left: calc(50% - 75px);
	top: calc(50% - 30px);
	z-index: 9999;
	height: 60px;
	width: 150px;
	display: none;
	box-shadow: 0 1px 4px #bbb;
}

#processing .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 2px #666;
	z-index: 0;
	border-radius: 6px;
}

#processing .img {
	margin: 25px 45px;
	position: absolute;
}

a.disabled {
	background-color: #eee !important;
	color: #999 !important;
	cursor: default !important;
	border-color: #ccc !important;
}

#lean_overlay {
	opacity: 0.5;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#message.message, #message.error {
	display: none;
	border-radius: 5px;
	left: 40% !important;
	text-indent: 0;
	font-size: 20px;
	margin-left: -150px;
	text-align: center;
	width: 300px;
	background: #0B5997;
	color: #fff;
	box-shadow: 0 0 10px #4B75B4;
	padding: 10px 30px;
}

#message.error {
	background: #503007;
	color: #fff;
	box-shadow: 0 0 10px #9E3636;
}

#message.error .message-content {
	background: url(/images/alert.png) no-repeat;
	display: inline-block;
	background-size: 32px;
	padding-left: 40px;
}

#message.message .message-content {
	background: url(/images/info.png) no-repeat;
	display: inline-block;
	background-size: 32px;
	padding-left: 40px;
}

#toolbar {
	height: 39px;
	background: #1369c0;
	border-top: 1px solid #135dbc;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 10;
	position: relative;
	color: white;
	line-height: 39px;
}

#toolbar .left {
	float: left;
	border-right: 1px solid #aaa;
	position: relative;
	text-align: left;
	width: 220px;
	z-index: 2;
}

#toolbar .right {
	float: left;
	width: 749px;
	text-align: left;
	position: relative;
}

.w1200 #toolbar .right {
	width: 949px;
}

#toolbar.full .right {
	width: 100% !important;
}

#toolbar .right .t_right div {
	background: rgba(222, 55, 66, 0.5);
	padding: 0 8px;
}

#toolbar a {
	padding-left: 4px;
	margin-right: 4px;
	color: #eee;
	text-decoration: none;
	display: inline-block;
	line-height: 40px;
}

#toolbar .home a {
	line-height: 40px;
	margin-left: 20px;
}

#toolbar.full .home a {
	margin-left: 10px;
}

#toolbar .back {
	margin-left: 10px;
}

#toolbar .home a:before {
	padding-right: 5px;
}

#ss_tab {
	width: 17px;
	overflow: hidden;
	position: fixed;
	top: calc(40% - 12px);
	left: 52px;
	z-index: 99;
	height: 63px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;	
}

#ss_tab.full {
	left: 212px;
}

#ss_tab .arrow {
	display: inline-block;
	overflow: hidden;
	margin: 23px 5px 0 0;
	border: 5px solid transparent;
	border-left-color: #ccc;
	margin-left: 10px;
}

#ss_tab:hover .arrow {
	border-left-color: #72bae2;
}

#ss_tab.full .arrow {
	border-right-color: #ccc;
	border-left-color: transparent;
	margin-left: 5px;
}

#ss_tab.full:hover .arrow {
	border-right-color: #72bae2;
}

.content .form {
	padding-left: 20px;
	position: relative;
	margin-bottom: 20px;
	padding-top: 10px;
}

.content .border {
	border: 1px solid #ddd;
}

span.menu {
	background: url(/images/menu.png) no-repeat 4px 4px;
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
}

span.menu.open {
	background: url(/images/menu-open.png) no-repeat 4px 4px;
}

form.user label {
	display: inline-block;
	text-align: right;
}

form.user div.item label {
	min-width: 120px;
	text-align: right;
}

.form div {
	line-height: 46px;
}

.form div.sync_notes {
	margin-left: 80px;
}

form div.accesses div {
	line-height: 30px;
	margin: 0 10px;
}

table {
	line-height: 20px;
}

.pages input {
	width: 30px;
	line-height: 16px;
	text-align: center;
}

.pages {
	border-top: 0;
	text-align: center;
	display: inline-block;
	background-color: #fff;
	width: 99%;
	margin: 5px 0 10px;
	padding: 1px 0;
}

.pages i {
	color: #B9341A;
	margin: 0 4px;
}

.pages a {
	text-decoration: none;
	border: 1px solid #fff;
}

a.page_1, a.page_2 {
	border: 1px solid #CCC;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	background: white;
	color: #456;
	margin: auto 5px;
	padding: 0 10px;
}

.page_2 {
	cursor: default;
	border: 0;
	background: 0;
	font-weight: bold;
	color: #E00E0E;
}

.pages a:hover {
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	color: white !important;
	text-decoration: underline;
}

.pages label {
	margin-left: 16px;
}

.modules .module {
	width: 100%;
	display: inline-block;
	border-top: 1px solid #aaa;
}

.module .left {
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	border: 1px solid #aaa;
	position: relative;
	margin: 10px;
}

.module .right {
	margin-top: 10px;
	margin-left: 222px;
}

.module .left .name {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #fff;
	font-weight: bold;
	z-index: 9;
}

.module .left img {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -64px;
	margin-left: -64px;
}

div.btns {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
}

div.tabs {
	position: relative;
	line-height: 32px;
	width: 100%;
	display: inline-block;
	border-bottom: 4px solid #3f9dd1;
}

div.tabs a {
	display: inline-block;
	background: #eee;
	float: left;
	color: #666;
	text-decoration: none;
	border-top-right-radius: 6px;
	margin-top: 1px;
	border-right: 1px solid #bbb;
	padding: 0 30px;
}

div.tabs a:hover {
	color: #eee;
	background: #5fbdd1;
}

div.tabs a.selected {
	color: #fff !important;
	background-color: #3f9dd1 !important;
}

.modules.disabled .title {
	background: #aaa;
	color: #fff;
	margin-top: 20px;
	padding-left: 20px;
}

#progress {
	width: 200px;
	height: 20px;
	background: #aaa;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#progress .bar {
	display: inline-block;
	position: relative;
	left: 0;
	float: left;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.btn-upload input {
	position: absolute;
	left: -20px;
	top: -10px;
	opacity: 0;
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.head {
	font-size: 32px;
	color: #3254a0;
	border-bottom: 1px solid #007ED2;
	padding-bottom: 5px;
	margin: 20px 20px 20px 0;
}

div.state {
	display: none;
	background: #ffd;
	border: 1px solid #dd9;
	color: #000;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
}

.content div.notes {
	background: #FDFAD5;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #ddd;
	margin: 20px;
	padding: 20px;
	line-height: 32px;
}

.content div.title {
	padding: 10px;
	font-size: large;
	font-weight: bold;
	margin-top: 10px;
}

.btn.start {
	background-color: #428bca;
	border-color: #357ebd;
}

.btn.start:hover {
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn.stop {
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn.stop:hover {
	background-color: #ed9c28;
	border-color: #d58512;
}

#error {
	color: #558;
}

#error.red {
	color: #f33;
	font-weight: bold;
}

div.progress {
	display: inline-block;
	width: 100%;
	height: 32px;
	background: #eee;
	position: relative;
}

.progress .bar {
	position: relative;
	display: inline-block;
	width: 0;
	height: 32px;
	text-align: center;
	background: #a33;
}

td a.delete {
	float: right;
	margin-right: 18px;
}

label h3 {
	display: inline-block;
	overflow: hidden;
	float: left;
	font-weight: normal;
	color: #000;
	min-width: 60px;
}

.ui-dialog .ui-dialog-content label h3 {
	line-height: 36px;
}

div.search label h3 {
	min-width: 0;
}

.error h3 {
	color: red !important;
}

.search {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	position: relative;
	background: #f1f1f1;
}

.search form {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 0;
}

.search form span {
	white-space: nowrap;
	display: inline-block;
	float: left;
	line-height: 30px;
}

.search form span.line {
	display: inline-block;
	height: 22px;
	width: 0;
	border-left: 1px solid #888;
	margin: 3px 5px;
}

.search form .btns1 {
	float: left;
	height: 26px;
	margin: 2px 0 0;
	padding: 1px 10px;
}

.search .s1tab {
	height: 20px;
	background: #eee;
	text-align: center;
	cursor: pointer;
	width: 100%;
	display: inline-block;
	box-shadow: 0 -1px 1px #ccc;
}

.search .s1tab.hover {
	background: #ddd;
}

.search .s1tab .arrow {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.search .s1tab.up .arrow {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94GGgcZFj6fn2gAAAA3SURBVDjLY2AYBYRAMxSTBeoZGBj+Q3E9JZpJNgSbZqINwaeZoCHEaMZpSD8JmmF4wmgipRIAACMvMPIq82mFAAAAAElFTkSuQmCC);
}

.search .s1tab.down .arrow {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94GGgcZAiRFSxUAAAA7SURBVDjLY2AYBVQDfQwMDP9JxBPQDaklQXM9LpfUUqKZGEPqiQ2TWko0YzOkntzYaWJgYGgeTaT4AQAZJDDmCWvK6gAAAABJRU5ErkJggg==);
}

.search input, .search select, .search button {
	margin-right: 10px;
}

.search input {
	width: 120px;
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-position: right center;
}

span.user, i.user {
	margin-left: 0;
	margin-right: 5px;
	cursor: pointer;
}

table.tablesorter tbody tr.done td {
	color: #888;
}

table.tablesorter tbody tr.new td {
	color: #333;
}

table th.checkbox {
	width: 30px;
}

#toolbar {
	height: 39px;
	background: #3b81de;
	border-top: 1px solid #204a84;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 10;
	position: fixed;
	color: white;
	line-height: 39px;
	top: 52px;
	left: 0;
	width: 100%;
}

#toolbar .right {
	width: auto;
	display: block;
	float: none;
}

#menu {
	position: fixed;
	top: 92px;
	left: 0;
	box-shadow: 0 6px 6px #666;
	z-index: 100;
	float: left;
	text-align: left;
	background: #4fade1;
	color: #f1f1f1;
	height: 100%;
	width: 60px;
}

#menu.full {
	width: 220px;
}

#menu.full .jspPane{
    margin-left: 0!important;	
}

.form .task {
	background: #ffd;
	border: 1px solid #dd9;
	border-radius: .4em;
	margin-right: 20px;
	margin-top: 20px;
	box-shadow: .2em .3em 1.5em #eee;
	padding: 20px;
}

.task table {
	line-height: 30px;
	margin-bottom: 10px;
}

.task .title {
	border-bottom: 1px solid #dd9;
	font-size: 19px;
}

tr.file td.name a {
	background: url(/images/file.png) no-repeat;
	padding-left: 18px;
	background-size: 14px;
	margin-left: 5px;
}

tr.parent td.name a {
	background: url(/images/parentroot.png) no-repeat;
	padding-left: 18px;
	background-size: 14px;
	margin-left: 5px;
}

.search input[type=checkbox] {
	width: auto;
	margin-right: 10px;
	float: left;
	margin-top: 9px;
}

.form.col2 div.field {
	display: inline-block;
	width: 50%;
	float: left;
}

.stat .back a {
	background: url(/images/btn_back.png) no-repeat 0 8px;
	border-right: 1px solid #666;
	margin: 4px;
	padding: 12px;
}

.search form span.stat {
	margin-right: 6px;
}

.chart {
	width: 100%;
	text-align: center;
	display: inline-block;
}

#holder {
	display: inline-block;
	margin: 0 auto;
}

.main_content {
	padding-bottom: 80px;
}

.content .chart .group {
	margin-bottom: 80px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.content .chart .group .date, .content .chart .group .name {
	font-size: 26px;
	color: #c77;
}

.content .chart .group iframe {
	text-align: left;
	border: 0;
	width: 70%;
	float: left;
}

.content .chart iframe {
	height: 420px;
}

.content .chart .group table {
	width: 30%;
	float: left;
	margin-top: 40px;
}

div.tabs.g2 {
	line-height: 26px;
	margin-top: 10px;
}

td.node_state i.new {
	background: url(/images/new.png) no-repeat;
	background-size: 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
}

label.left {
	float: left;
	margin-right: 40px;
}

table thead label {
	margin-right: 5px;
	color: #555;
	font-weight: normal;
}

.content .form.icons div {
	margin: 20px 0;
}

.content .form label.full {
	display: block;
	width: 90%;
}

label t {
	font-size: 10pt;
	color: #666;
}

label r {
	font-size: 10pt;
}

select.setted {
	background: #a33;
	color: #fff;
}

label i.key {
	background: url(/images/lock.png) no-repeat;
	padding-left: 16px;
	background-size: 16px;
}

label i.pending {
	background: url(/images/pending.png) no-repeat;
	padding-left: 16px;
	background-size: 16px;
}

label i {
	margin-left: 10px;
	color: #0A4E83;
	word-break: break-all;
	word-wrap: break-word;
	display: inline;
}

label {
	position: relative;
	display: inline-block;
}

form label {
	width: 100%;
}

form label.inline {
	width: initial;
	float: left;
	margin-right: 20px;
}

#leanmodal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 11000;
}

#leanmodal .bg {
	position: absolute;
	top: 0;
	left: 0;
	background: RGBA(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	background: RGBA(0, 0, 0, 0.3);
}

#leanmodal .leanmodal-content {
	left: 40%;
	top: 40%;
	position: absolute;
	font-size: 20px;
	border-radius: 5px;
	max-width: 300px;
	line-height: 32px;
	padding: 20px 40px;
	word-break: break-all;
}

#leanmodal.error .leanmodal-content {
	background: rgba(220, 10, 10, 0.8);
	color: #FCF5F5;
	box-shadow: 0 0 6px #903434;
}

#leanmodal.message .leanmodal-content {
	background: rgba(31, 109, 46, 0.8);
	color: #ffffff;
	box-shadow: 0 0 10px #bfc7c3;
}

#leanmodal.hint .leanmodal-content {
	background: rgba(31, 109, 46, 0.8);
	color: #ffffff;
	box-shadow: 0 0 10px #bfc7c3;
}

#leanmodal.warn .leanmodal-content {
	background: rgba(158, 61, 18, 0.8);
	color: #FCF5F5;
	box-shadow: 0 0 6px #C35A22;
}

label g {
	color: #697280;
	display: inline-block;
	font-size: 90%;
	margin-left: 10px;
	font-style: italic;
}

label g:before {
	content: '// ';
}

.notes {
	background: #FDFAD5;
}

form div.note {
	color: #e21f1f;
	line-height: 20px;
	width: 200px;
	font-style: italic;
	margin: 0 60px 10px;
}

table.tablesorter tbody tr.state_0 td {
	background-color: #EED4D4;
	color: #333;
}

tr.hover td {
	background-color: #CEE5E5 !important;
	color: #000;
}

tr.blink td {
	background-color: #f5d3d3 !important;
}

div.fulline {
	width: 100%;
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}

form div.extra {
	padding-left: 20px;
	margin-top: 20px;
}

form div.extra .extra-title {
	font-weight: bold;
}

.jspDrag, .mouseover .jspDrag {
	background-color: #3D7FB6;
}

.search form a {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	text-decoration: none;
	color: #fff;
	float: left;
	margin-left: 20px;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: center;
	padding: 2px 10px;
}

.search form a:hover {
	background-color: #2a78b8;
	box-shadow: 0 0 6px #4d90fe;
	border-color: #1f5dc4;
}

.state .stat {
	margin-top: 20px;
	display: inline-block;
}

.state .stat .item {
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}

.state .stat .item p {
	text-align: center;
	background: #1573A0;
	color: #fff;
}

.state .stat .item ul {
	line-height: 22px;
	font-size: 14px;
	border: 1px solid #bbb;
	border-top: 0;
	padding: 10px 20px;
}

.state .stat .item li {
	list-style: none;
}

.state .stat .item i {
	color: green;
	margin: 0 1px;
}

.state .stat .item .level-2 i {
	color: #B85A25;
}

.state .stat .item .level-3 i {
	color: #CE0707;
}

.login_popup {
	margin-left: 20px;
}

div.submit {
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

.warning {
	background: #9C1B1B;
	color: #fff;
	padding: 5px 10px;
}

.chart .group .title {
	background: #AA3333;
	color: #fff;
}

.content .chart iframe.mem_gauge {
	height: 300px;
	float: left;
	widht: 30%;
	border: 0;
}

#gauge {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.path {
	margin-bottom: 5px;
}

.path a {
	color: #333;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}

.path a:hover {
	color: #D02B1D;
	text-decoration: underline;
}

#dict-table th.name, #dict-table th.value, #dict-table th.displayno,
	#dict-table th.count {
	width: 25%;
}

#menu .item {
	cursor: pointer;
	line-height: 40px;
	border-top: 1px solid #5fbdd1;
	border-bottom: 1px solid #3f9dd1;
	position: relative;
}

#menu .item span {
	display: none;
}

#menu.full .item span {
	display: inline-block;
}

#menu .item.haschild {
	border-bottom: 1px solid #eee;
}

#menu .item .title {
	padding-left: 10px;
}

#menu .item .title.selected {
	background: #868;
	color: #fff !important;
}

#menu .item .title.hover {
	background: #868;
	color: #fff !important;
}

#menu .children .item .title.hover {
	background: #a578a5;
	color: #fff !important;
}

#menu .children {
	display: none;
	padding-left: 0;
	background: #79abed;
	border-top: 1px solid #666;
	border-bottom: 1px solid #ddd;
}

#menu.full .children {
	padding-left: 10px;
}

#menu .children .item {
	border-top: 1px solid #9fbfeb;
	border-bottom: 1px solid #67a1ed;
}

#menu .children .item:first-child {
	border-top: 0;
}

#menu .item a {
	text-decoration: none;
	color: #fff;
}

#menu .children .item:last-child {
	border-bottom: 0;
}

#menu .children .children {
	background: #90b7eb;
	border-top: 1px solid #99d;
	border-bottom: 1px solid #ccc;
}

#menu .children .children .item {
	border-top: 1px solid 95px;
	border-bottom: 1px solid #83b0eb;
}

#menu .item img.icon {
	float: left;
	display: none;
	width: 16px;
	height: 16px;
	margin: 13px 4px 0;
}

#menu .loading img.icon {
	display: inline-block !important;
}

#menu .haschild i.arrow {
	overflow: hidden;
    right: 3px;
    top: 14px;
    position: absolute;
    border: 5px solid transparent;
    border-left-color: #fff;	
}

#menu .open i.arrow {
    border-left-color: transparent;
    border-top-color: #fff;
    right: 6px;
    top: 18px;
}

.fileuploader-btns {
	display: inline-block;
	float: left;
}

.fileuploader-state {
	display: none;
	width: 50%;
	color: #000;
	border-radius: 4px;
	line-height: 32px !important;
	margin-top: 9px;
	float: left;
	padding: 0 10px;
}

.fileuploader-filename {
	display: inline-block;
	overflow: hidden;
	float: left;
	max-width: 30%;
	word-wrap: break-word;
	line-height: 23px;
}

.fileuploader-progress {
	width: 30%;
	display: inline-block;
	overflow: hidden;
	line-height: 16px;
	float: left;
}

.fileuploader-bar-outter {
	width: 100%;
	height: 12px;
	background: #aaa;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-top: 3px;
}

.fileuploader-bar {
	display: inline-block;
	position: relative;
	left: 0;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	float: left;
}

.fileuploader-message {
	margin-left: 10px;
	font-size: 11px;
}

.fileuploader-cancel {
	float: left;
	margin-left: 10px;
}

.fileupload .fileupload-btns {
	position: relative;
	width: initial !important;
	margin: 20px;
}

.fileupload .btn {
	position: relative;
}

.fileupload1 .btn:hover {
	background-color: #1f5dc4;
	box-shadow: 0 0 6px #4d90fe;
	border-color: #1F5DC4;
}

.fileupload .fileupload-file input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.01;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.fileupload .state {
	display: none;
	background: #ffd;
	border: 1px solid #dd9;
	color: #a94442;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
}

.fileupload .file-item {
	display: inline-block;
	margin: 2px 0;
}

.fileupload .fileupload-progress {
	width: 200px;
	height: 22px;
	background: #aaa;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #C0BBBB;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
	float: left;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	margin: 2px 10px;
}

.fileupload .fileupload-filename {
	line-height: 26px;
	height: 26px;
	display: inline-block;
	float: left;
	width: 150px;
	overflow: hidden;
	word-break: break-all;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.fileupload .upload-done .fileupload-filename {
	width: initial;
}

.fileupload .fileupload-progress .fileupload-bar {
	display: inline-block;
	position: relative;
	left: 0;
	float: left;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background-color: #758799;
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.fileupload .fileupload-message {
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 11px;
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 13px;
}

.fileupload .notes {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #ddd;
	margin: 20px;
	padding: 20px;
}

.fileupload .btn-upload input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;
	direction: ltr;
	cursor: pointer;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.fileupload a.disabled {
	background: #eee !important;
	color: #aaa !important;
	box-shadow: none !important;
	border-color: #aaa !important;
}

.notes a {
	color: #777;
	font-size: 90%;
}

.fileupload .fileupload-cancel, .fileupload .fileupload-resume {
	margin: 2px 2px;
}

.notes a:hover {
	color: #39198E;
}

::-webkit-scrollbar-button, form div.confirm, #menu .loading i.icon,
	.fileuploader-file {
	display: none;
}

#toolbar.full .left {
	width: 60px;
}

#toolbar .left span {
	display: inline-block;
}

#toolbar.full .left span {
	display: none;
}

h3, i {
	word-break: break-all;
}

.upload-btn {
	margin: 20px;
}

label.nospace, label.nospace input, form div.accesses div.group .title,
	.pages label.nospace {
	margin: 0;
}

#toolbar .home, td a {
	margin-left: 5px;
}

#toolbar .right div, div.input-parent, .content .form label, .fileupload
	{
	display: inline-block;
}

#toolbar .right a:hover, .warning label h3 {
	color: #fff;
}

#toolbar .right .t_right, .head .right {
	float: right;
}

.content .item, .content .form div {
	position: relative;
	display: inline-block;
	width: 100%;
}

table, form div.textarea, .content .chart .group iframe.full {
	width: 100%;
}

form div.accesses div.group, form div.accesses div.access_title {
	margin: 10px 0;
}

table.nospace, .pages label.nospace input {
	margin: 0;
	padding: 0;
}

.jspHover, .jspActive {
	background-color: #215c8d;
}

table .state, table td.speed {
	width: 200px;
	position: relative;
}

.content .form .fulline label, #menu .open .children {
	display: block;
}

.content .chart iframe.cpu_gauge, .content .chart iframe.disk_usage {
	height: 300px;
	float: left;
	width: 30%;
	border: 0;
}

#module-table .status {
	color: #056b10;
}

input.bad {
	border-color: #f33;
}

input.good {
	border-color: #0a8209;
}

.btn, button {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	transition: .5s ease;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 1px 0;
}

button {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

button:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625
}

button:hover, button:active {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-primary:focus {
	color: #fff;
	background-color: #286090;
	border-color: #122b40
}

.btn-primary:hover, .btn-primary:active {
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.btn-info:focus {
	color: #fff;
	background-color: #31b0d5;
	border-color: #1b6d85
}

.btn-info:hover, .btn-info:active {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625
}

.btn-success:hover, .btn-success:active {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-warning:focus {
	color: #fff;
	background-color: #ec971f;
	border-color: #985f0d
}

.btn-warning:hover, .btn-warning:active {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-danger:focus {
	color: #fff;
	background-color: #c9302c;
	border-color: #761c19
}

.btn-danger:hover, .btn-danger:active {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.width-20 {
	width: 20% !important;
}

.width-40 {
	width: 40% !important;
}

.width-60 {
	width: 60% !important;
}

.width-80 {
	width: 80% !important;
}

.width-100 {
	width: 100% !important;
}

.ui-widget-header {
	border: 1px solid #33a1df;
	background: #33a1df;
	color: #fff;
}

.state i {
	font-style: italic;
	padding: 0 6px;
	color: #666;
}

#gwpopup, #popupmenu, #dialog {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 102;
	overflow: hidden;
	display: none;
}

#dialog {
	z-index: 104;
}

#gwpopup>.popupbg, #popupmenu>.bg, #dialog>.dialogbg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #000;
	opacity: .3;
	left: 0;
	top: 0;
}

#popupmenu>.bg {
	opacity: 0;
}

#gwpopup>.popup, #dialog>.dialog {
	width: 70%;
	display: inline-block;
	height: 70%;
	background: #fff;
	border: 1px solid #dcdcdc;
	left: 15%;
	position: absolute;
	top: 15%;
	border-radius: 5px;
	overflow: hidden;
	text-align: left;
	padding: 30px 20px 20px 20px;
}

#gwpopup>.popup>a.close, #dialog>.dialog>a.close {
	position: absolute;
	right: 22px;
	top: 5px;
	text-decoration: none;
	color: #aaa;
	cursor: pointer;
}

#gwpopup>.popup>a.prev {
	position: absolute;
	left: 22px;
	top: 5px;
	text-decoration: none;
	color: #aaa;
	cursor: pointer;
	display: none;
}

#gwpopup>.popup>a.close:hover, #gwpopup>.popup>a.prev:hover, #dialog>.dialog>a.close:hover
	{
	color: #4ea6ff;
}

#gwpopup>.popup>.scroll, #dialog>.dialog>.scroll {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#popupmenu>.menu {
	position: absolute;
	left: 100px;
	top: 100px;
	padding: 10px;
	border: 1px solid #aaa;
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #aaa;
}

#popupmenu>.menu .menuitem {
	cursor: pointer;
	padding: 2px 8px;
	text-align: left;
}

#popupmenu>.menu .menuitem:hover {
	background: #aaa;
	color: #fff;
}

#popupmenu>.menu .menuitem>i[class*=icon-] {
	margin-right: 4px;
}

#popupmenu>.menu .line {
	background: #ccc;
	display: inline-block;
	height: 1px;
	width: 100%;
	margin: 4px 0;
}

.portlet {
	display: inline-block;
}

#menu .jspVerticalBar {
	display: none;
}

#menu.full .jspVerticalBar {
	display: inline-block;
}