* {
	font-size: 100%;
	outline: 0;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	background: #fff;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
	overflow: visible;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #4EA6FF;
}
::-webkit-scrollbar-thumb {
	background-color: #213B54;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #39648E;
}
::-webkit-scrollbar-thumb:active {
	background-color: rgba(161, 208, 253, 0.9);
}
button {
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	font-family: inherit;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
	cursor: pointer;
	background-color: #009df5;
	color: #fff;
	line-height: 20px;
	margin: 10px 0;
	padding: 6px 20px;
	border: 1px solid transparent;
	box-shadow: 0 0 1px #009DF5;
}
.btns button {
	float: left;
	margin: 0 10px;
}
i {
	font-style: normal;
}
r {
	color: #f33;
}
img {
	border: 0;
}
.logo img {
	height: 50px;
}
#wrapper {
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.w1200 #wrapper {
	width: 100%;
	position: relative;
	box-shadow: none;
}
.center {
	width: 1100px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
#head {
	height: 80px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background: #112A44;
}
#content {
	text-align: center;
	margin-left: 220px;
	margin-top: 120px;
	position: relative;
	width: auto;
	border: 0;
	overflow: hidden;
}
#content.full {
	margin-left: 0;
}
#foot {
	position: relative;
	text-align: center;
	width: 100%;
	line-height: 22px;
	color: #456;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 10px 0;
}
#head .left {
	float: left;
	position: relative;
	margin-left: 20px;
}
#head .right {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	position: relative;
}
#head .right .top {
	background: #01ace4;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
}
#head .right .top .item {
	display: inline-block;
	margin: 0 10px;
}
#head a {
	color: #f1f1f1;
	text-decoration: none;
}
#head a:hover {
	color: #fff;
	text-decoration: underline;
}
#foot .center {
	border-top: 1px solid #1369c0;
}
#foot .designer {
	margin-left: 10px;
	color: #f99;
}
#foot a {
	color: #666;
	text-decoration: none;
}
#foot a:hover {
	text-decoration: underline;
	color: #c77;
}
input, select, textarea {
	font-size: 11pt;
	outline: none;
	line-height: 22px;
	border: 1px solid rgba(0, 0, 0, 0);
	margin-left: 6px;
	margin-top: 2px;
	padding: 2px 5px;
}
select {
	padding: 2px 0;
	height: 29px;
}
input[type=text], input[type=password] {
	width: 175px;
	height: 23px;
	display: inline-block;
}
input[type=checkbox] {
	margin-top: 16px;
}
input:focus, select:focus, textarea:focus {
	border: 1px solid #4d90fe !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
}
.outter {
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
}
.inner {
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	line-height: 32px;
}
.w1200 .center {
	width: 1200px;
}
#head .logo {
	position: relative;
	float: left;
	margin: 14px 10px;
}
#head .title {
	position: relative;
	font-size: 20pt;
	width: 420px;
	text-align: left;
	color: #EEE;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 80px;
	float: left;
}
#head .title g {
	font-size: 16px;
}
#panel {
	position: relative;
	width: 730px;
	top: 0;
	height: 100%;
	float: left;
	border-left: 1px solid #eee;
	padding-left: 19px;
	margin-left: -1px;
}
.w1200 #panel {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
#panel.full {
	width: 980px;
}
.w1200 #panel.full {
	width: 1180px;
}
#panel .content {
	text-align: left;
	padding: 20px;
}
input, textarea {
	border: 1px solid #bbb;
	border-bottom: 1px solid #678;
}
textarea {
	width: 60%;
	height: 200px;
}
.content .item:nth-child(odd) {
	background: #f8f8f8;
}
.content .item:nth-child(even) {
	background: #f1f1f1;
}
#processing {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 9999;
	height: 60px;
	width: 150px;
	margin-left: -75px;
	margin-top: -30px;
	display: none;
	box-shadow: 0 1px 4px #bbb;
}
#processing .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	opacity: 0.6;
}
#processing .img {
	margin: 25px 45px;
}
a.disabled {
	background-color: #eee !important;
	color: #999 !important;
	cursor: default !important;
	border-color: #ccc !important;
}
#lean_overlay {
	opacity: 0.5;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
#message.message, #message.error {
	display: none;
	border-radius: 5px;
	left: 40% !important;
	text-indent: 0;
	font-size: 20px;
	margin-left: -150px;
	text-align: center;
	width: 300px;
	background: #0B5997;
	color: #fff;
	box-shadow: 0 0 10px #4B75B4;
	padding: 10px 30px;
}
#message.error {
	background: #503007;
	color: #fff;
	box-shadow: 0 0 10px #9E3636;
}
#message.error .message-content {
	background: url(/images/alert.png) no-repeat;
	display: inline-block;
	background-size: 32px;
	padding-left: 40px;
}
#message.message .message-content {
	background: url(/images/info.png) no-repeat;
	display: inline-block;
	background-size: 32px;
	padding-left: 40px;
}
#content .toolbar {
	height: 39px;
	background: #1369c0;
	border-top: 1px solid #135dbc;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 10;
	position: relative;
	color: white;
	line-height: 39px;
}
.toolbar .left {
	float: left;
	border-right: 1px solid #aaa;
	position: relative;
	text-align: left;
	width: 220px;
}
.toolbar .right {
	float: left;
	width: 749px;
	text-align: left;
	position: relative;
}
.w1200 .toolbar .right {
	width: 949px;
}
.toolbar.full .right {
	width: 100% !important;
}
.toolbar .right .t_right div {
	background: rgba(222, 55, 66, 0.5);
	padding: 0 8px;
}
.toolbar a {
	padding-left: 4px;
	margin-right: 4px;
	color: #eee;
	text-decoration: none;
	display: inline-block;
}
.toolbar .home a {
	line-height: 40px;
	margin-left: 20px;
}
.toolbar .back {
	margin-left: 10px;
}
.toolbar .home a:before {
	padding-right: 5px;
}
.info_but {
	width: 17px;
	height: 63px;
	overflow: hidden;
	margin-top: -12px;
	position: fixed;
	top: 50%;
	left: 220px;
	z-index: 101;
}
.info_but_con {
	width: 20px;
	height: 63px;
	background: url(/images/index_f7f0192.png);
	cursor: pointer;
	background-position: -171px -42px;
	background-repeat: no-repeat;
}
.info_but_div {
	position: absolute;
}
.info_but_span {
	display: block;
	width: 4px;
	height: 7px;
	overflow: hidden;
	background: url(/images/index_f7f0192.png) no-repeat -137px -21px;
	_background: url(/images/new-icon_4aab9e1.png) no-repeat -137px -21px;
	margin: 27px 0 0 6px;
}
.info_but_close_on .info_but_span {
	background-position: -147px -21px;
}
.info_but_open .info_but_span {
	background-position: -161px -21px;
}
.info_but_open_on .info_but_span {
	background-position: -170px -21px;
}
.info_but_open {
	left: 0;
}
.content .form {
	padding-left: 20px;
	position: relative;
	margin-bottom: 20px;
	padding-top: 10px;
}
.content .border {
	border: 1px solid #ddd;
}
span.menu {
	background: url(/images/menu.png) no-repeat 4px 4px;
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
}
span.menu.open {
	background: url(/images/menu-open.png) no-repeat 4px 4px;
}
form.user label {
	display: inline-block;
	text-align: right;
}
form.user div.item label {
	min-width: 120px;
	text-align: right;
}
.form div {
	line-height: 46px;
}
.form div.sync_notes {
	margin-left: 80px;
}
form div.accesses div {
	line-height: 30px;
	margin: 0 10px;
}
table {
	line-height: 20px;
}
.pages input {
	width: 30px;
	line-height: 16px;
	text-align: center;
}
.pages {
	border-top: 0;
	text-align: center;
	display: inline-block;
	background-color: #fff;
	width: 99%;
	margin: 5px 0 10px;
	padding: 1px 0;
}
.pages i {
	color: #B9341A;
	margin: 0 4px;
}
.pages a {
	text-decoration: none;
	border: 1px solid #fff;
}
a.page_1, a.page_2 {
	border: 1px solid #CCC;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	background: white;
	color: #456;
	margin: auto 5px;
	padding: 0 10px;
}
.page_2 {
	cursor: default;
	border: 0;
	background: 0;
	font-weight: bold;
	color: #E00E0E;
}
.pages a:hover {
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	color: white !important;
	text-decoration: underline;
}
.pages label {
	margin-left: 16px;
}
.modules .module {
	width: 100%;
	display: inline-block;
	border-top: 1px solid #aaa;
}
.module .left {
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	border: 1px solid #aaa;
	position: relative;
	margin: 10px;
}
.module .right {
	margin-top: 10px;
	margin-left: 222px;
}
.module .left .name {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #fff;
	font-weight: bold;
	z-index: 9;
}
.module .left img {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -64px;
	margin-left: -64px;
}
div.btns {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
}
.btns a {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	text-decoration: none;
	color: #fff;
	float: left;
	margin-right: 10px;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background: #009df5;
	box-shadow: 0 0 1px #009DF5;
	text-align: center;
	overflow: initial;
	padding: 4px 15px;
}
.btns a:hover {
	background-color: #2a78b8;
	box-shadow: 0 0 6px #4d90fe;
	border-color: #1F5DC4;
}
div.tabs {
	position: relative;
	line-height: 32px;
	width: 100%;
	display: inline-block;
	border-bottom: 4px solid #3f9dd1;
}
div.tabs a {
	display: inline-block;
	background: #eee;
	float: left;
	color: #666;
	text-decoration: none;
	border-top-right-radius: 6px;
	margin-top: 1px;
	border-right: 1px solid #bbb;
	padding: 0 30px;
}
div.tabs a:hover {
	color: #eee;
	background: #5fbdd1;
}
div.tabs a.selected {
	color: #fff !important;
	background-color: #3f9dd1 !important;
}
.modules.disabled .title {
	background: #aaa;
	color: #fff;
	margin-top: 20px;
	padding-left: 20px;
}
#progress {
	width: 200px;
	height: 20px;
	background: #aaa;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#progress .bar {
	display: inline-block;
	position: relative;
	left: 0;
	float: left;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
a.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	border-radius: 4px;
	-webkit-user-select: none;
	overflow: hidden;
	position: relative;
	color: #fff;
	background-color: #5cb85c;
	text-decoration: none;
	border-color: #4cae4c;
	padding: 0 12px;
	line-height: 32px;
}
.btn-upload input {
	position: absolute;
	left: -20px;
	top: -10px;
	opacity: 0;
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
.head {
	font-size: 32px;
	color: #3254a0;
	border-bottom: 1px solid #007ED2;
	padding-bottom: 5px;
	margin: 20px 20px 20px 0;
}
div.state {
	display: none;
	background: #ffd;
	border: 1px solid #dd9;
	color: #000;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
}
div.notes {
	background: #FDFAD5;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #ddd;
	margin: 20px;
	padding: 20px;
	line-height: 32px;
}
.btn.start {
	background-color: #428bca;
	border-color: #357ebd;
}
.btn.start:hover {
	background-color: #3276b1;
	border-color: #285e8e;
}
.btn.stop {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn.stop:hover {
	background-color: #ed9c28;
	border-color: #d58512;
}
#error {
	color: #558;
}
#error.red {
	color: #f33;
	font-weight: bold;
}
div.progress {
	display: inline-block;
	width: 100%;
	height: 32px;
	background: #eee;
	position: relative;
}
.progress .bar {
	position: relative;
	display: inline-block;
	width: 0;
	height: 32px;
	text-align: center;
	background: #a33;
}
td a.delete {
	float: right;
	margin-right: 18px;
}
label h3 {
	display: inline-block;
	overflow: hidden;
	text-align: right;
	float: left;
	font-weight: normal;
	color: #000;
}
.ui-dialog .ui-dialog-content label h3 {
	line-height: 36px;
}
div.search label h3 {
	min-width: 0;
}
div.error {
	border: 1px solid #f33;
	color: #006dba;
	-moz-box-shadow: 0 0 .25em #b2d1ff;
	-webkit-box-shadow: 0 0 .25em #f88;
	box-shadow: 0 0 .25em #f88;
	font-size: 15px;
	line-height: 2;
	text-indent: 10px;
	margin: 10px;
	padding: 5px;
}
.error h3 {
	color: red !important;
}
.search {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	position: relative;
	background: #f1f1f1;
}
.search form {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 5px;
}
.search form span {
	white-space: nowrap;
	display: inline-block;
	float: left;
	line-height: 30px;
}
.search form span.line {
	display: inline-block;
	height: 22px;
	width: 0;
	border-left: 1px solid #888;
	margin: 3px 5px;
}
.search form .btns1 {
	float: left;
	height: 26px;
	margin: 2px 0 0;
	padding: 1px 10px;
}
.search .s1tab {
	height: 20px;
	background: #eee;
	text-align: center;
	cursor: pointer;
	width: 100%;
	display: inline-block;
	box-shadow: 0 -1px 1px #ccc;
}
.search .s1tab.hover {
	background: #ddd;
}
.search .s1tab .arrow {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.search .s1tab.up .arrow {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94GGgcZFj6fn2gAAAA3SURBVDjLY2AYBYRAMxSTBeoZGBj+Q3E9JZpJNgSbZqINwaeZoCHEaMZpSD8JmmF4wmgipRIAACMvMPIq82mFAAAAAElFTkSuQmCC);
}
.search .s1tab.down .arrow {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94GGgcZAiRFSxUAAAA7SURBVDjLY2AYBVQDfQwMDP9JxBPQDaklQXM9LpfUUqKZGEPqiQ2TWko0YzOkntzYaWJgYGgeTaT4AQAZJDDmCWvK6gAAAABJRU5ErkJggg==);
}
.search input, .search select, .search button {
	margin-right: 10px;
}
.search input {
	width: 120px;
	background-color: #fafafa;
	background-repeat: no-repeat;
	background-position: right center;
}
span.user, i.user {
	margin-left: 0;
	margin-right: 5px;
	background: url(/images/user.png) no-repeat;
	padding-left: 16px;
	background-size: 16px;
	cursor: pointer;
}
table.tablesorter tbody tr.done td {
	color: #888;
}
table.tablesorter tbody tr.new td {
	color: #333;
}
table th.checkbox {
	width: 30px;
}
#toolbar {
	height: 39px;
	background: #1369c0;
	border-top: 1px solid #135dbc;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 10;
	position: fixed;
	color: white;
	line-height: 39px;
	top: 80px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#toolbar .right {
	width: auto;
	display: block;
	float: none;
}
#menu {
	position: fixed;
	top: 120px;
	left: 0;
	box-shadow: 0 6px 6px #666;
	z-index: 100;
	float: left;
	text-align: left;
	width: 220px;
	background: #4fade1;
	border-right: 1px solid #eee;
	color: #f1f1f1;
	height: 100%;
}
.form .task {
	background: #ffd;
	border: 1px solid #dd9;
	border-radius: .4em;
	margin-right: 20px;
	margin-top: 20px;
	box-shadow: .2em .3em 1.5em #eee;
	padding: 20px;
}
.task table {
	line-height: 30px;
	margin-bottom: 10px;
}
.task .title {
	border-bottom: 1px solid #dd9;
	font-size: 19px;
}
tr.file td.name a {
	background: url(/images/file.png) no-repeat;
	padding-left: 18px;
	background-size: 14px;
	margin-left: 5px;
}
tr.parent td.name a {
	background: url(/images/parentroot.png) no-repeat;
	padding-left: 18px;
	background-size: 14px;
	margin-left: 5px;
}
.search input[type=checkbox] {
	width: auto;
	margin-right: 10px;
	float: left;
	margin-top: 9px;
}
.form.col2 div.field {
	display: inline-block;
	width: 50%;
	float: left;
}
.stat .back a {
	background: url(/images/btn_back.png) no-repeat 0 8px;
	border-right: 1px solid #666;
	margin: 4px;
	padding: 12px;
}
.search form span.stat {
	margin-right: 6px;
}
.chart {
	width: 100%;
	text-align: center;
	display: inline-block;
}
#holder {
	display: inline-block;
	margin: 0 auto;
}
.main_content {
	padding-bottom: 80px;
}
.content .chart .group {
	margin-bottom: 80px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.content .chart .group .date, .content .chart .group .name {
	font-size: 26px;
	color: #c77;
}
.content .chart .group iframe {
	text-align: left;
	border: 0;
	width: 70%;
	float: left;
}
.content .chart iframe {
	height: 420px;
}
.content .chart .group table {
	width: 30%;
	float: left;
	margin-top: 40px;
}
div.tabs.g2 {
	line-height: 26px;
	margin-top: 10px;
}
td.node_state i.new {
	background: url(/images/new.png) no-repeat;
	background-size: 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
}
label.left {
	float: left;
	margin-right: 40px;
}
table thead label {
	margin-right: 5px;
	color: #555;
	font-weight: normal;
}
.content .form.icons div {
	margin: 20px 0;
}
.content .form label.full {
	display: block;
	width: 90%;
}
label t {
	font-size: 10pt;
	color: #666;
}
label r {
	font-size: 10pt;
}
select.setted {
	background: #a33;
	color: #fff;
}
label i.key {
	background: url(/images/lock.png) no-repeat;
	padding-left: 16px;
	background-size: 16px;
}
label i.pending {
	background: url(/images/pending.png) no-repeat;
	padding-left: 16px;
	background-size: 16px;
}
label i {
	margin-left: 10px;
	color: #0A4E83;
	word-break: break-all;
	word-wrap: break-word;
	display: inline;
}
tr.log_type_0 td.type {
	color: #61CA0F;
}
tr.log_type_1 td.type {
	color: #CA9D0F;
}
tr.log_type_2 td.type {
	color: #CF1010;
}
label {
	position: relative;
	display: inline-block;
}
form label {
	width: 100%;
}
.leanmodal {
	position: fixed;
	z-index: 11000;
	left: 40%;
	top: 40%;
	display: none;
	opacity: 1;
	font-size: 20px;
	border-radius: 5px;
	max-width: 300px;
	line-height: 32px;
	padding: 20px 40px;
}
#error.leanmodal {
	background: #6B1F1F;
	color: #FCF5F5;
	box-shadow: 0 0 6px #EEE;
}
#message.leanmodal {
	background: #145711;
	color: #FCF5F5;
	box-shadow: 0 0 6px #EEE;
}
#hint.leanmodal {
	background: #0AAF64;
	color: #FCF5F5;
	box-shadow: 0 0 6px #0AAF64;
}
#warn.leanmodal {
	background: #C35A22;
	color: #FCF5F5;
	box-shadow: 0 0 6px #C35A22;
}
label g {
	color: #697280;
	display: inline-block;
	font-size: 90%;
	margin-left: 10px;
	font-style: italic;
}
label g:before {
	content: '// ';
}
.notes {
	background: #FDFAD5;
}
form div.note {
	color: #e21f1f;
	line-height: 20px;
	width: 200px;
	font-style: italic;
	margin: 0 60px 10px;
}
table.tablesorter tbody tr.state_0 td {
	background-color: #EED4D4;
	color: #333;
}
table td .buttons {
	float: right;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 2px;
	margin-top: -3px;
	background: #054A81;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
	padding: 6px;
}
td.hover .buttons {
	display: inline-block;
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}
table td .buttons a {
	background: #5cb85c;
	text-decoration: none;
	float: left;
	color: #fff !important;
	border-radius: 4px;
	padding: 0 5px;
}
table td .buttons a:hover {
	background-color: #AD2F26;
}
tr.hover td {
	background-color: #CEE5E5 !important;
	color: #000;
}
tr.hover td a {
	color: #0D5004;
}
div.fulline {
	width: 100%;
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}
form div.extra {
	padding-left: 20px;
	margin-top: 20px;
}
form div.extra .extra-title {
	font-weight: bold;
}
.jspDrag, .mouseover .jspDrag {
	background-color: #3D7FB6;
}
.search form a {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	text-decoration: none;
	color: #fff;
	float: left;
	margin-left: 20px;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background: #B96C18;
	text-align: center;
	box-shadow: 0 0 1px #666;
	padding: 2px 10px;
}
.search form a:hover {
	background-color: #2a78b8;
	box-shadow: 0 0 6px #4d90fe;
	border-color: #1f5dc4;
}
.btns a.recycle {
	background: #228A08;
}
.btns a.recycle:hover {
	background: #127A08;
}
.btns a.recycle:active {
	background: #026A08;
}
td .buttons:before {
	display: inline-block;
	position: absolute;
	content: '';
	left: 5px;
	top: -12px;
	background: transparent;
	border: 6px solid transparent;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	z-index: 1000;
	border-bottom-color: #054A81;
}
.state .stat {
	margin-top: 20px;
	display: inline-block;
}
.state .stat .item {
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
	float: left;
}
.state .stat .item p {
	text-align: center;
	background: #1573A0;
	color: #fff;
}
.state .stat .item ul {
	line-height: 22px;
	font-size: 14px;
	border: 1px solid #bbb;
	border-top: 0;
	padding: 10px 20px;
}
.state .stat .item li {
	list-style: none;
}
.state .stat .item i {
	color: green;
	margin: 0 1px;
}
.state .stat .item .level-2 i {
	color: #B85A25;
}
.state .stat .item .level-3 i {
	color: #CE0707;
}
.login_popup {
	margin-left: 20px;
}
div.submit {
	margin-top: 30px;
	border-top: 1px solid #ccc;
}
.warning {
	background: #9C1B1B;
	color: #fff;
	padding: 5px 10px;
}
table .network-state_1 {
	color: #098106;
}
#log-table th.system {
	width: 20px;
}
div.more {
	display: none;
	background: #121F79;
	color: #fff;
	border-radius: 4px;
	padding: 4px;
}
td.more {
	cursor: pointer;
	background-image: url(/images/file.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 16px;
	padding-right: 16px;
}
.chart .group .title {
	background: #AA3333;
	color: #fff;
}
.content .chart iframe.mem_gauge {
	height: 300px;
	float: left;
	widht: 30%;
	border: 0;
}
#gauge {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.path {
	margin-bottom: 5px;
}
.path a {
	color: #333;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.path a:hover {
	color: #D02B1D;
	text-decoration: underline;
}
#dict-table th.name, #dict-table th.value, #dict-table th.displayno, #dict-table th.count {
	width: 25%;
}
#menu .item {
	cursor: pointer;
	line-height: 40px;
	border-top: 1px solid #5fbdd1;
	border-bottom: 1px solid #3f9dd1;
	position: relative;
}
#menu .item span {
	padding-left: 5px;
}
#menu .item.haschild {
	border-bottom: 1px solid #eee;
}
#menu .item .title {
	padding-left: 10px;
}
#menu .item .title.selected {
	background: #868;
	color: #fff !important;
}
#menu .item .title.hover {
	background: #868;
	color: #fff !important;
}
#menu .children .item .title.hover {
	background: #a578a5;
	color: #fff !important;
}
#menu .children {
	display: none;
	padding-left: 20px;
	background: #79abed;
	border-top: 1px solid #666;
	border-bottom: 1px solid #ddd;
}
#menu .children .item {
	border-top: 1px solid #9fbfeb;
	border-bottom: 1px solid #67a1ed;
}
#menu .children .item:first-child {
	border-top: 0;
}
#menu .item a {
	text-decoration: none;
	color: #fff;
}
#menu .children .item:last-child {
	border-bottom: 0;
}
#menu .children .children {
	background: #90b7eb;
	border-top: 1px solid #99d;
	border-bottom: 1px solid #ccc;
}
#menu .children .children .item {
	border-top: 1px solid 95px;
	border-bottom: 1px solid #83b0eb;
}
#menu .item img.icon {
	float: left;
	display: none;
	width: 16px;
	height: 16px;
	margin: 13px 4px 0;
}
#menu .loading img.icon {
	display: inline-block !important;
}
#menu .haschild i.arrow {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAs0lEQVR42qzVO24CUQyF4W+mZglsKC0CiQoJSgTsJdBkA1DQwUZQtkFHx0txmolEAQMZbMmVpV/H9vG9RUTIjLKm1m8CLGoU7qocZSk8YIh5FvBP+hSLDOBtTPCZCYTZK+2X/1zi9JnSsoEzZnUzLRv6d4KvTCC0M4EbdLOAa3RwzABuMcBPxlJWVZunDNtsq7u+ZBh7iR7O7z5f39jjA9eXBxMRj3IcEa2a+t0ssr+A3wEA25FhpBtEbg8AAAAASUVORK5CYII=);
	width: 20px;
	height: 20px;
	overflow: hidden;
	right: 3px;
	top: 14px;
	position: absolute;
	zoom: .8;
}
#menu .open i.arrow {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAjUlEQVR42uzUPQqDQBDF8YGA1jnL/zJeweOYNKmsErBUa8HSY700SRA32S9SWFi8bvbHYxbGJNk/Ywe4VxAqwSKYM7MI6jVYClqBMjMJzmvwnUsGdhcUAvsGmuCagI0fzAOaoInAHq9VWQwYajoITs6bAPiraec0SwC3TXvvbCRogpvzAV7wOA67Ap8DANhq+CcjQMXkAAAAAElFTkSuQmCC);
}
.fileuploader-btns {
	display: inline-block;
	float: left;
}
.fileuploader-state {
	display: none;
	width: 50%;
	color: #000;
	border-radius: 4px;
	line-height: 32px !important;
	margin-top: 9px;
	float: left;
	padding: 0 10px;
}
.fileuploader-filename {
	display: inline-block;
	overflow: hidden;
	float: left;
	max-width: 30%;
	word-wrap: break-word;
	line-height: 23px;
}
.fileuploader-progress {
	width: 30%;
	display: inline-block;
	overflow: hidden;
	line-height: 16px;
	float: left;
}
.fileuploader-bar-outter {
	width: 100%;
	height: 12px;
	background: #aaa;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-top: 3px;
}
.fileuploader-bar {
	display: inline-block;
	position: relative;
	left: 0;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	float: left;
}
.fileuploader-message {
	margin-left: 10px;
	font-size: 11px;
}
.fileuploader-cancel {
	float: left;
	margin-left: 10px;
}
.fileupload .fileupload-btns {
	position: relative;
	width: initial !important;
	margin: 20px;
}
.fileupload .btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	overflow: hidden;
	position: relative;
	color: #fff;
	background-color: #009df5;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	text-decoration: none;
	padding: 6px 12px;
}
.fileupload .btn:hover {
	background-color: #1f5dc4;
	box-shadow: 0 0 6px #4d90fe;
	border-color: #1F5DC4;
}
.fileupload .fileupload-file input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.01;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.fileupload .state {
	display: none;
	background: #ffd;
	border: 1px solid #dd9;
	color: #a94442;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
}
.fileupload .file-item {
	display: inline-block;
	margin: 2px 0;
}
.fileupload .fileupload-progress {
	width: 200px;
	height: 22px;
	background: #aaa;
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-color: #C0BBBB;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
	float: left;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	margin: 2px 10px;
}
.fileupload .fileupload-filename {
	line-height: 26px;
	height: 26px;
	display: inline-block;
	float: left;
	width: 150px;
	overflow: hidden;
	word-break: break-all;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
.fileupload .upload-done .fileupload-filename {
	width: initial;
}
.fileupload .fileupload-progress .fileupload-bar {
	display: inline-block;
	position: relative;
	left: 0;
	float: left;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background-color: #758799;
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
.fileupload .fileupload-message {
	position: absolute;
	left: 0;
	top: 5px;
	font-size: 11px;
	width: 100%;
	text-align: center;
	color: #fff;
	line-height: 13px;
}
.fileupload .notes {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #ddd;
	margin: 20px;
	padding: 20px;
}
.fileupload .btn-upload input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;
	direction: ltr;
	cursor: pointer;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.fileupload a.disabled {
	background: #eee !important;
	color: #aaa !important;
	box-shadow: none !important;
	border-color: #aaa !important;
}
.notes a {
	color: #777;
	font-size: 90%;
}
.notes a:hover {
	color: #39198E;
}
::-webkit-scrollbar-button, .toolbar.full .left, form div.confirm, #menu .loading i.icon, .fileuploader-file {
	display: none;
}
.fileupload .fileupload-cancel, .fileupload .fileupload-resume {
	float: left;
	line-height: 22px;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	transition: .5s ease;
	font-family: inherit;
	box-sizing: border-box;
	font-size: 1rem;
	text-align: center;
	border: none;
	text-shadow: none;
	-webkit-border-radius: .4rem;
	-moz-border-radius: .4rem;
	border-radius: .4rem;
	vertical-align: middle;
	cursor: pointer;
	background-color: #009df5;
	color: #fff;
	text-decoration: none;
	margin: 2px 2px;
	padding: 0 10px;
}
.fileupload .fileupload-cancel {
	background-color: #F59F00;
}
.fileupload .fileupload-resume {
	background-color: #00B1F5;
}
button:hover {
	background-color: #1B65A2;
	box-shadow: 0 0 4px #009DF5;
}
.fileupload .fileupload-cancel:hover {
	background-color: #F57100;
	box-shadow: 0 0 4px #009DF5;
}
.fileupload .fileupload-resume:hover {
	background-color: #008FF5;
	box-shadow: 0 0 4px #009DF5;
}
button:active, .fileupload .fileupload-cancel:active {
	background-color: #15446B;
}
#content .center, #head .center {
	height: 100%;
	width: auto;
}
.slide_image img, .toolbar .right .t_left, .toolbar .cart, form div.accesses div.access_title h3 {
	float: left;
}
#column-context .last, .search select[name=sortby] {
	margin-right: 0;
}
h3, i, .leanmodal-content {
	word-break: break-all;
}
.upload-btn, .modules {
	margin: 20px;
}
label.nospace, label.nospace input, form div.accesses div.group .title, .pages label.nospace {
	margin: 0;
}
.toolbar .home, td a {
	margin-left: 5px;
}
.toolbar .right div, div.input-parent, .content .form label, .fileupload {
	display: inline-block;
}
.toolbar .right a:hover, .warning label h3 {
	color: #fff;
}
.toolbar .right .t_right, .head .right {
	float: right;
}
.content .item, .content .form div {
	position: relative;
}
table, form div.textarea, .content .chart .group iframe.full {
	width: 100%;
}
form div.accesses div.group, form div.accesses div.access_title {
	margin: 10px 0;
}
table.nospace, .pages label.nospace input {
	margin: 0;
	padding: 0;
}
.btns a:active, .jspHover, .jspActive, .search form a:active {
	background-color: #215c8d;
}
a.btn:hover, a.btn:hover {
	background-color: #4d90fe;
	box-shadow: 0 0 6px #4d90fe;
	border-color: #1F5DC4;
}
table .state, table td.speed {
	width: 200px;
	position: relative;
}
#log-table th.date, #log-table th.type {
	width: 50px;
}
.content .form .fulline label, #menu .open .children {
	display: block;
}
#log-table th.user, #log-table th.ip, #log-table th.module, #log-table th.op {
	width: 10%;
}
.content .chart iframe.cpu_gauge, .content .chart iframe.disk_usage {
	height: 300px;
	float: left;
	width: 30%;
	border: 0;
}
button.icon[type=submit] {
	margin: 3px 0;
	padding: 6px 10px;
}
.module .right .id a {
	margin-left: 10px;
	text-decoration: none;
	color: #1369C0;
	font-size: 8px;
}
.module .right .readme {
	color: #666;
	font-style: italic;
	line-height: 32px;
}
.module .right .readme:before {
	float: left;
}
.module .right .readme span {
	margin-top: 12px;
	margin-left: 10px;
	display: inline-block;
}
.quotebox h5 {
	color: #666;
}
.module .right .status {
	color: #056b10;
}
.module .right .error1 {
	color: #f33;
	line-height: 22px;	
}

.module .right .error1.inline {
	height: 22px;
	overflow: hidden;
}
.module .right .error1 i{
	cursor: pointer;
}
input.bad {
	border-color: #f33;
}
input.good {
	border-color: #0a8209;
}
