/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th,table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	font-size: 8pt;
	padding: 4px;
	vertical-align: middle;
}

table.tablesorter thead tr .header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	width: initial;
}

table.tablesorter tbody td {
	color: #111;
	padding: 4px;
	background-color: #FFF;
	vertical-align: middle;
	word-break: break-all;
}

table.tablesorter tbody tr:nth-child(even) td {
	background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp
	{
	background-color: #8dbdd8;
}

table.tablesorter tbody tr.deleted td {
	color: #888;
	text-decoration: line-through;
}

table.tablesorter tbody tr.deleted a.delete {
	display: none;
}

table.tablesorter .date {
	width: 120px;
}