html, body, table {
	background-color: #f5f5f5;
	width: 100%;
	text-align: center;
}
.header {
	height: 80px;
	padding-top: 20px;
}
.form-signin-heading {
	font-family: Helvetica, Georgia, Arial, sans-serif, 黑体;
	font-size: 36px;
	line-height: 36px margin-bottom : 20px;
	color: #0663a2;
	font-weight: bold;
}
.form-signin {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 350px;
	padding: 25px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin > div {
	margin-bottom: 15px;
}
.form-signin .input-label {
	font-size: 16px;
	line-height: 23px;
	color: #999;
}

.validateCode img {
	height: 26px;
}
input.form-control {
	text-align: center;
}

.validateCode input {
	width: 70px;
	margin-bottom: 0;
	display: inline-block;
	padding: 0;
}

.form-signin #themeSwitch {
	float: right;
	margin-top: 10px;
	margin-bottom: 0;
}

.alert {
	position: relative;
	width: 300px;
	margin: 0 auto;
}

#messageBox {
	padding: 8px;
	position: relative;
	width: 350px;
	margin: 0 auto;
	color: #bd4247;
	background-color: #f2bdb1;
	border-color: #f0a5a4;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
