html, body {
	height: 100%;
	background: url(/images/user_bg.jpg);
	background-size: cover;
}

#wrapper {
	width: 100% !important;
	position: fixed;
	background: none;
	box-shadow: none;
	left: 0;
	top: 48%;
	margin-top: -220px;
}

#wrapper.register {
	margin-top: -250px;
}

#head {
	background: none;
	position: relative;
	text-align: center;
	height: 120px;
}

#wrapper.register #head {
	height: 100px;
}

#head .center {
	width: 900px;
	text-align: center;
	display: inline-block;
}

#content {
	overflow: hidden;
	background: none;
	z-index: 1000;
	text-align: center;
	margin: 0;
}

#head .title g {
	font-size: 10px;
	margin-left: 10px;
}

#content {
	display: inline-block;
	width: 100%;
}

#content .center {
	width: 850px;
	overflow: hidden;
	display: inline-block;
}

#foot {
	background: none;
}

#foot .center {
	border: 0;
}

#content .form {
	width: 500px;
	display: inline-block;
	text-align: left;
	background: #b7c7e1;
	color: #1f1f1f;
	position: relative;
	box-shadow: 1px 1px 3px #456;
	line-height: 40px;
	border-radius: 10px;
	margin: 40px 0;
	padding: 20px 50px 50px;
}

#wrapper.login form, #wrapper.register form {
	width: 380px;
	border-radius: 10px;
	color: #222;
	box-shadow: 1px 1px 3px #456;
	line-height: 40px;
	display: inline-block;
	text-align: left;
	border: 4px solid #fff;
	background-color: #4A89F0;
	margin: 0 40px;
	padding: 20px 30px 40px;
}

#wrapper.register form {
	width: 420px;
}

#wrapper.login form.forget {
	width: 460px;
}

#wrapper.register .note {
	line-height: 20px;
	margin-left: 130px;
	color: #666;
	margin-bottom: 20px;
}

#content input {
	height: 26px;
}

#wrapper.register input {
	float: left;
}

.inner .title {
	font-size: 16pt;
	border-bottom: 1px solid #f1f1f1;
	color: #fefefe;
}

.inner .left {
	float: left;
	padding-right: 30px;
	padding-top: 20px;
}

#wrapper.register .left {
	padding-right: 0;
}

.inner .right {
	float: right;
	position: relative;
	display: inline-block;
	width: 150px;
	overflow: hidden;
	border-left: 1px solid #ddd;
}

.inner .forget .right {
	width: 120px;
	padding-left: 10px;
	margin-top: 10px;
}

#wrapper.register .right {
	width: 190px;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 2px 0 10px;
}

.inner label {
	width: 120px;
	font-size: 16px;
}

#wrapper.login label {
	width: 80px;
	color: #fefefe;
}

#wrapper.register label {
	width: 100%;
}

#wrapper.register label h3 {
	width: 80px;
	color: #fefefe;
}

#wrapper.register label g {
	width: 130px;
	font-size: 9px;
	color: #ddd;
	line-height: 18px;
	float: left;
}

button {
	margin-top: 20px;
	line-height: 20px;
	margin-left: 90px;
	width: 200px;
	background-color: #314BA2;
	padding: 6px 14px;
}

button:hover {
	background-color: #194A74;
}

button:active {
	background-color: #142661;
}

.inner .right a {
	width: 100%;
	float: right;
	display: inline-block;
	color: #f1f1f1;
	text-decoration: none;
}

.inner .right a:hover {
	color: #fff;
	text-decoration: underline;
}

div.message {
	background-color: rgba(255, 5, 5, 0.4);
	color: #fff;
}

#head .logo {
	position: relative;
	float: none;
}

#head .title {
	font-size: 15pt;
	position: relative;
	text-align: center;
	width: initial;
	left: 0;
	top: 24px;
	color: #fff;
	display: inline-block;
}