#parse('/user/head.html')

<style>
#bg{
	height: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	width: 100%;    
	background-repeat: no-repeat;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
}
.footer{
	color: #fff;
    position: relative;
}
.form-signin-heading{
	color: #fff;
	margin-top: 5%;
    position: relative;	
}

</style>
<div id="bg" >
</div>

<script type="text/javascript" src="/js/canvas-particle.js"></script>
<script type="text/javascript">
$(function(){
	giiwa.loadimage("$!lang.theme(60, 'login')", function(url){
		var bg = $('#bg');
		bg.css('background-image', 'url(' + url + ')');

	    bg.fadeIn(3000, function(){
		    var config = {
		    		id: 'bg',
		        vx: 4,	//小球x轴速度,正为右，负为左
		        vy: 4,	//小球y轴速度
		        height: 2,	//小球高宽，其实为正方形，所以不宜太大
		        width: 2,
		        count: 40,		//点个数
		        bgcolor: "100,100,100",
		        color: "121, 162, 185", 	//点颜色
		        stroke: "130,255,255", 		//线条颜色
		        bgcolor: "transparent",
		        dist: 6000, 	//点吸附距离
		        e_dist: 20000, 	//鼠标吸附加速距离
		        max_conn: 10 	//点到点最大连接数
		    }

		    //调用
		    CanvasParticle(config);
	    });
	})
})
</script>

<div class="header">
    #if($global.getLong('user.login.showmessage', 1) == 1)
	#if($message)
	<div id="messageBox" class="alert alert-error">
		<label id="loginError" class="error">$message</label>
	</div>
	#end
	#end
</div>
<h1 class="form-signin-heading">
	<div class='logo'><a href="/"><img src="$lang.get('site.logo')"></a>$lang.get('site.title')</div>
</h1>
<form id="loginForm" class="form-signin" onsubmit="return false;">
    #if($tips2)<p style='color:#bf1717'>$!tips2</p>#end
	<div class=''>
		<input type="hidden" name="tips" value="$!tips" /> 
		<input type="hidden" name="callback" value="$!callback" /> 
		<label class="input-label icon-user" for="username">$lang.get('user.name')</label>
		<input type="text" id="name" name="name" value="" class="form-control" required />
	</div>
	<div class=''>
		<label class="input-label icon-lock" for="password">$lang.get('user.password')</label>
		<input type="password" id="password" value="" autocomplete="new-password" class="form-control" required />
	</div>
	#if($global.getInt('user.captcha', 0) == 1)
	<div class="validateCode">
		<label class="input-label mid" for="validateCode">$lang.get('user.captcha')</label>
		<input type="text" id="validateCode" name="code" maxlength="4" required class="form-control">
        <p class="item-title">
            $lang.get('capticha.' + $global.getString('user.captcha.option', '') + '.code')
        </p>
        <p style="overflow: auto;">
            <input name="code" value="$!code" tabindex="3" maxlength="4" required style="width: 161px;float: left;" />
			#if($global.getString('user.captcha.option', '') == 'image')
            <img id="validateImg" src="" onclick="_oncaptcha();" class="mid validateCode" style="height: 40px; width:108px;float: left;margin-top: 3px;margin-left:13px;cursor: pointer;">
            <a href="javascript:" onclick="_oncaptcha();" class="validateCodeRefresh" style="float:left;margin-left: 10px; cursor: pointer;margin-top: 13px;font-size:14px;">$lang.get('a.refresh')</a>
            #elseif($global.getString('user.captcha.option', '') == 'sms')
            <a href="javascript:" onclick="_oncaptcha();" class="validateCodeRefresh" style="float:left;margin-left: 10px; cursor: pointer;margin-top: 13px;font-size:14px;">$lang.get('a.refresh.sms')</a>
            #elseif($global.getString('user.captcha.option', '') == 'email')
            <a href="javascript:" onclick="_oncaptcha();" class="validateCodeRefresh" style="float:left;margin-left: 10px; cursor: pointer;margin-top: 13px;font-size:14px;">$lang.get('a.refresh.email')</a>
            #end
        </p>
		<script>
	        function _oncaptcha() {
            	var name = $('input[name=name]').val().trim()
				#if($global.getString('user.captcha.option', '') != 'image')
            	if(!name || name =='') {
            		$('#message').text('请输入用户名!')
            		$('#message').show()
            	}
				#end
                $.post('/f/captcha', {name:name}, function(d) {
	                if (d.state == 200 && d.uri) {
	                    $('#validateImg').attr('src', d.uri);
	                } else {
	            		$('#message').text(d.message)
	            		$('#message').show()
	                }
	            })
	        }
			#if($global.getString('user.captcha.option', '') == 'image')
	        $(function() {
	            _oncaptcha();
	        })
	        #end
		</script>
	</div>
	#end
	
	<button class="btn btn-large btn-primary btn-block" onclick="_submit()">$lang.get('btn.ok')</button>
	#if($module.getFile('/user/thirdlogin.html'))
	#parse('/user/thirdlogin.html')
	#end
	<div id="themeSwitch">
		#if($global.getInt('user.passwd', 0) == 1)
		<a class="icon-wondering" href="/user/forget">$lang.get('a.forget.user')</a>
		#end
		#if($global.getString('user.system', 'close')=='open')
		&nbsp;&nbsp;<a href="/user/register">$lang.get('a.register.user')</a>
		#end
	</div>
</form>
<div class="footer">
	$lang.get('copyright') - $lang.get('powerby') 
</div>
<script>
    function _submit() {
        var name = $('#name').val();
        var pwd = $('#password').val();
        $.post('/f/pubkey', function(r){
            var pubkey = r.key
            var time = r.time
            var s = name + '$$' + pwd + '$$' + time
            const jse = new JSEncrypt();
            jse.setPublicKey(pubkey);
            var auth = jse.encrypt(s);
            
            $.post('/user/login', {auth: auth}, function(r){
                if(r.state == 200) {
                    if(r.uri) {
                        window.location.href = r.uri
                    } else {
                        window.location.href = '/'
                    }
                } else {
                    $('#message').text(r.error)
                    $('#message').show()
                }
            })
        })
    }
</script>
#parse('/user/foot.html')

