<div class='head'>$lang.get('app.create.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/app'>$lang.get('a.app')</a>
	<a href='/admin/app/create' class='selected'>$lang.get('a.create')</a>
</div>

<form action='/admin/app/create'  method='post' class='form' >
	
	<div><label><h3>$lang.get('app.appid')<r>*</r>:</h3><input type='text' name='appid' value='$!appid' required/><g>$lang.get("app.appid.hint")</g></label></div>
	<div><label><h3>$lang.get('app.role')<r>*</r>:</h3>
		<select name="role">
			#foreach($r in $roles)
			<option value="$r.id">$r.name</option>
			#end
		</select>
		<g>$lang.get("app.role.hint")</g>
	</label></div>
	
	<div><label><h3>$lang.get('app.memo'):</h3><input type='text' name='memo' value='$!memo'/><g>$lang.get("app.memo.hint")</g></label></div>

	<div class='btns'><button class='btn btn-success' type='submit'>$lang.get('btn.create')</button></div>
</form>
