<div class='head'>$lang.get('app.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/app' class='selected'>$lang.get('a.app')</a>
</div>

<div class='search'>
	<form action='/admin/app' method='get' #if($s>0) style='display:none' #end >
		<span><label><h3>$lang.get('app.appid'):</h3><input type='text' name='name' value="$!name" placeholder="appid"/></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='user-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('app.appid')</th>
			<th>$lang.get('app.memo')</th>
			<th>$lang.get('app.role')</th>
			<th>$lang.get('app.secret')</th>
			<th>$lang.get('app.ip')</th>
			<th>$lang.get('app.lastime')</th>
			<th>$lang.get('app.expired')</th>
			<th>$lang.get('app.created')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$!f.appid</td>
		<td>$!f.memo</td>
		<td>$!f.role_obj.name</td>
		<td>
			$!f.secret
			<a class='btn btn-warning btn-xs' href='javascript:;' onclick='_reset("$f.appid");'>$lang.get('a.reset')</a>
		</td>
		<td>$!f.ip</td>
		<td>$!lang.past($f.lastime)</td>
		<td>$!lang.format($f.expired, 'yy-MM-dd HH:mm')</td>
		<td>$!lang.format($f.created, 'yy-MM-dd HH:mm')</td>
		<td>
			<a class='btn btn-info btn-xs' href='/admin/app/detail?id=$!f.id'>$lang.get('a.detail')</a>
			<a class='btn btn-danger btn-xs' href='javascript:;' onclick='_delete("$f.appid", this);'>$lang.get('a.delete')</a>
		</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a class='btn btn-success' href='/admin/app/create'>$lang.get('a.create')</a>
	<a class='btn btn-info' href='/admin/app/help' target="_blank">$lang.get('a.help')</a>
</div>

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		processing && processing.show();
		$.post('/admin/app/delete', {id:id}, function(d){
			processing && processing.hide();
			if(d.state == 200) {
				$(o).parent().parent().remove();
			} else if(d.message){
				$.error(d.message);
			}
		});
	}
}
function _reset(id, o) {
	if(confirm("$lang.get('title.are_u_sure_reset')")) {
		processing && processing.show();
		$.post('/admin/app/reset', {id:id}, function(d){
			processing && processing.hide();
			if(d.state == 200) {
				giiwa.reload();
			} else if(d.message){
				$.error(d.message);
			}
		});
	}
}
</script>
