<div class='head'>$lang.get('appkey.create.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/appkey' >$lang.get('a.app')</a>
	<a href='/admin/appkey/create' class='selected'>$lang.get('a.create')</a>
</div>

<form action='/admin/appkey/create'  method='post' class='form' enctype="multipart/form-data">
	<div><label><h3>$lang.get('label.appkey')(<r>*</r>):</h3><input type='text' bad="1" onblur="verify(this, '/admin/appkey/verify')" name='appkey' value='$!appkey'/></label></div>
	<div><label><h3>$lang.get('label.logout'):</h3><input type='text' name='logout' value= #if($logout)'$logout' #else '' #end /></label></div>
	<div><label><h3>$lang.get('label.contact'):</h3><input type='text' name='contact' value= #if($contact)'$contact' #else '' #end /></label></div>
	<div><label><h3>$lang.get('label.phone'):</h3><input type='text' name='phone' value= #if($phone)'$phone' #else '' #end /></label></div>
	<div><label><h3>$lang.get('label.email'):</h3><input type='text' name='email' value= #if($email)'$email' #else '' #end /></label></div>
	<div><label><h3>$lang.get('label.memo'):</h3><input type='text' name='memo' value= #if($memo)'$memo' #else '' #end /></label></div>

	<div><label><h3>$lang.get('label.setrule'):</h3>
		<textarea name='setrule'>$!setrule</textarea>
	</label></div>
	<div><label><h3>$lang.get('label.getrule'):</h3>
		<textarea name='getrule'>$!getrule</textarea>
	</label></div>

	<button type='submit'>$lang.get('btn.create')</button>
</form>

