<div class='head'>
	$lang.get('title.welcome') <b>$!me.nickname</b> <span class='right'>
		#if($me.hasAccess('access.config.admin','access.config.restart.host')) 
			<a href='javascript:;' class='btn btn-danger' onclick="_showrestart()">$lang.get('a.restart')</a>
		#end
	</span>
</div>

#if($portlets)
	#foreach($p in $portlets)
	<div class="portlet" data-uri="$p.uri" style="$!p.style"></div>
	#end
#end

<div id='restart' title="$lang.get('title.restart.service')" style="display: none">
	<div>
		<label><h3>$lang.get('user.password'):</h3>
			<input type='password' name='password' /></label>
	</div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_restart();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>
var _timer = false;
function _showrestart(){
	giiwa.dialog($('#restart'), {width: 280, height:80});
}
function _restart(){
	
	giiwa.processing.show();
	$.post('/admin/system/restart', {pwd:$('#restart input[name=password]').val()}, function(d){
		if(d.state == 'ok') {
			giiwa.dialog().close();
			_timer = setInterval(_load, 5000);
		} else {
			giiwa.processing.hide();
			giiwa.error(d.message);
		}
	})
}

function _load() {
	$.get('/admin/dashboard', {}, function(d){
		window.location.href = window.location.href;
	});
}
</script>
