<div class='head'>
	$lang.get('title.welcome') <b>$!me.nickname</b> <span class='right'>
		#if($me.hasAccess('access.config.admin',
		'access.config.restart.host')) <a href='javascript:;'
		class='btn btn-danger' onclick="_showrestart()">$lang.get('a.restart')</a>
		#end
	</span>
</div>

#if($me.hasAccess('access.config.admin', 'access.config.system.admin'))
<div class='chart'>
	<div id='memgauge'
		style="height: 300px; float: left; width: 30%; border: 0;"></div>
	<div id='diskgauge'
		style="height: 300px; float: left; width: 30%; border: 0;"></div>
	<div id='netgauge'
		style="height: 300px; float: left; width: 30%; border: 0;"></div>
</div>
<script>
$(function(){
	$('#memgauge').highcharts({
	    title: {
	        text: "$lang.get('gauge.mem.title')($lang.size($mem.total)B)"
	    },
	    credits:{
        		enabled: false
        },
	    tooltip: {
            headerFormat: '',
            pointFormat: '{point.name}: <b>{point.hint}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
	    series: [{
	        type: 'pie',
	        data: [
	        		{name:"$lang.get('mem.used')",  y:$mem.used, hint:"$lang.size($mem.used)B", color:'#961616'},
	        		{name:"$lang.get('mem.free')",  y:$mem.free, hint:"$lang.size($mem.free)B", color:'#009df5'}
	        ]
	    }]
	});	//endof mem
	
	$('#diskgauge').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: "$lang.get('gauge.disk.title')"
        },
        xAxis: {
            categories: [#foreach($d in $disk) "$this.eclipse($d.dirname)" , #end]
        },
        credits:{
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: ' '
            }
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '{series.name}: <b>{point.hint}</b>'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
            }
        },
        series: [{
            name: "$lang.get('disk.free')",
            color:'#009df5',
            data: [
            	#foreach($d in $disk) {y:$d.free, hint:"$lang.size($d.free)B"}, #end
            	]
        },{
            name: "$lang.get('disk.used')",
            color: '#961616',
            data: [
            	#foreach($d in $disk) {y:$d.used, hint:"$lang.size($d.used)B"}, #end
            	]
        }]
	});	//end disk

	$('#netgauge').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: "$lang.get('gauge.net.title')"
        },
        xAxis: {
            categories: [#foreach($d in $net) "$d.address" , #end]
        },
        credits:{
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: ' '
            }
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '{series.name}: <b>{point.hint}</b>'
        },
        series: [{
            name: "$lang.get('net.rxbytes')",
            data: [
            	#foreach($d in $net) {y:$d.rxbytes, hint:"$lang.size($d.rxbytes)B"}, #end
            	]
        },{
            name: "$lang.get('net.txbytes')",
            data: [
            	#foreach($d in $net) {y:$d.txbytes, hint:"$lang.size($d.txbytes)B"}, #end
            	]
        }]
	});	
	
})
</script>
#end

<div class='state' style='display: block;'>
	<div class='login'>
		$lang.get('label.node'):<i>$!node</i>
	</div>
	<div class='login'>
		$lang.get('cpu.num'):<i>$!cpus</i>
	</div>
	<div class='login'>
		$lang.get('total.memory'):<i>$!totalmemory</i>
	</div>
	<div class='login'>
		$lang.get('memory.total'):<i>$!total</i>, $lang.get('memory.free'):<i>$!free</i>
	</div>
	<div class='login'>
		$lang.get('disk.speed'): #if($diskspeed>100) <i style='color: green'>${diskspeed}(M/s)</i>
		#elseif ($diskspeed>0) <i style='color: red'>${diskspeed}(M/s)</i>
		#else <i>...</i> #end
	</div>
	<div class='uptime'>
		$lang.get('label.uptime'):<i>$uptime</i>, $lang.get('label.past'):<i>$past</i>
	</div>
	<div class='release'>
		$lang.get('label.release'):<i>$!release</i>
	</div>
	<div class='build'>
		$lang.get('label.build'):<i>$!build</i>
	</div>
	<div class='build'>
		$lang.get('label.now'):<i>$!now</i>
	</div>

</div>

<div id='restart' title="$lang.get('title.restart.service')"
	style="display: none">
	<div>
		<label><h3>$lang.get('user.password'):</h3>
			<input type='password' name='password' /></label>
	</div>
	<div class='btns' style="text-align: center;">
		<button onclick='_restart();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>
var _timer = false;
function _showrestart(){
	giiwa.dialog($('#restart'), {width: 280, height:90});
}
function _restart(){
	
	giiwa.processing.show();
	$.post('/admin/system/restart', {pwd:$('#restart input[name=password]').val()}, function(d){
		if(d.state == 'ok') {
			giiwa.dialog().fadeOut();
			_timer = setInterval(_load, 5000);
		} else {
			giiwa.processing.hide();
			$.error(d.message);
		}
	})
}

function _load() {
	$.get('/admin/dashboard', {}, function(d){
		window.location.href = window.location.href;
	});
}
</script>
