<div class='head'>$lang.get('dbmon.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/dbmon/keys' class='selected'>$lang.get('a.keys')</a>
</div>
<style>
	td.sorted_yes{
		color:green!important;
	}
	td.sorted_no{
		color:red!important;
	}
</style>
<div class='search'>
	<form action='/admin/dbmon/keys' method='get' class='form' #if($s>0) style='display:none' #end>
		<span><label><h3>Table</h3>:<input type='text' name='table' value="$!table" /></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='db-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get("dbmon.db")</th>
			<th>$lang.get("dbmon.table")</th>
			<th>$lang.get("dbmon.keys")</th>
			<th>$lang.get("dbmon.sorted")</th>
			<th>$lang.get("dbmon.times")</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$!f.db</td>
		<td><a href="/admin/dbmon/table?db=$f.db&name=$f.table">$!f.table</a></td>
		<td>$!f.keys</td>
		<td class="sorted_$!f.sorted">$!f.sorted</td>
		<td>$!f.times</td>
		<td>
			<a class='btn btn-success btn-xs' href='javascript:;' onclick='_run("$f.id", this)'>$lang.get('a.run')</a>
			<a class='btn btn-danger btn-xs' href='javascript:;' onclick='_delete("$f.id", this)'>$lang.get('a.delete')</a>
		</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href='javascript:;' class='btn btn-info' onclick='_repair();'>$lang.get('a.repair')</a>
	<a href='javascript:;' class='btn btn-danger' onclick='_deleteall();'>$lang.get('a.clean')</a>
	&nbsp;&nbsp;
	#if($global.getString('db.monitor.enabled', 'off') == 'on')
	<a class='closebtn btn btn-warning' href='/admin/dbmon/keys?monitor=off'>$lang.get('a.keys.disable')</a>
	#else
	<a class='openbtn btn btn-success' href='/admin/dbmon/keys?monitor=on'>$lang.get('a.keys.enable')</a>
	#end
</div>

<script>
function _run(id, o) {
	giiwa.processing.show();
	$.post('/admin/dbmon/run', {id:id}, function(d) {
		giiwa.processing.hide();
		giiwa.reload();
	});
}
function _repair() {
	giiwa.processing.show();
	$.post('/admin/dbmon/repair', {}, function(d) {
		giiwa.processing.hide();
		giiwa.reload();
	});
}
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/dbmon/delete', {id:id}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
function _deleteall() {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/dbmon/delete', {}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
</script>
