
<script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/js/jquery.easing.1.3.js'></script>
<script type="text/javascript" src='/js/jquery-ui.min.js'></script>
<script type="text/javascript" src='/js/jquery.scrollto.min.js'></script>

<script type="text/javascript" src='/js/jquery.menu.js?${module.module("default").build}'></script>
<script type="text/javascript" src='/js/jquery.message.js?${module.module("default").build}'></script>
<script type="text/javascript" src='/js/giiwa.js?${module.module("default").build}'></script>
<script type="text/javascript" src='/js/jquery.sfupload.js'></script>

<script type="text/javascript" src='/js/jquery.mousewheel.js'></script>
<script type="text/javascript" src='/js/jquery.jscrollpane.min.js'></script>

<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/searchbar.js"></script>
<script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="/js/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/jquery.upload.js"></script>
<script type="text/javascript" src="/js/datepicker.min.js"></script>
<script type="text/javascript" src="/hc/highcharts.js"></script>
<script type="text/javascript" src="/hc/highcharts-3d.js"></script>

</body>
</html>