<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<title>$lang.get('browser.title')</title>

<link href='/css/tablesorter.css' rel='stylesheet' />
<link href='/css/icons.css' rel='stylesheet' />
<link href='/css/hint.min.css' rel='stylesheet' />
<link href='/css/datepicker.min.css' rel='stylesheet' />
<link href='/css/giiwa.css?${module.module("default").build}' rel='stylesheet' />

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

</head>
<body class="wfull">
<div id='head'>
	<div class='center'>
		<div class='left'>
			<div class='logo'><a href="/"><img src="$lang.get('site.logo')"></a></div>
			<div class='title'>$lang.get('site.title')</div>
		</div>
		<div class='right'>
			<div class='top'>
				<div class='item'><i class='icon-user'></i>&nbsp;#if($me.nickname)$me.nickname #else $!me.name #end</div>
				<div class='item'><a href='javascript:;' onclick='giiwa.load("/admin/profile/my")'><i class='icon-cogs'></i>&nbsp;$lang.get('a.profile')</a></div>
				
				#if($me.hasAccess('access.config.admin'))
				<div class='item'><a href="/docs/icomoon/demo.html" target='_blank'><i class='icon-image'></i>&nbsp;Icomoon</a></div>
				#end
				<div class='item'><a href="/user/logout" ><i class='icon-exit'></i>&nbsp;$lang.get("a.logout")</a></div>
			</div>
		</div>
	</div>
</div>
	