<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<title>$lang.get('browser.title')</title>

<link href='/css/jquery-ui.min.css' rel='stylesheet' />
<link href='/css/jquery.jscrollpane.css' rel='stylesheet' />
<link href='/css/tablesorter.css' rel='stylesheet' />
<link href='/css/animate.min.css' rel='stylesheet' />
<link href='/css/icons.css' rel='stylesheet' />
<link href='/css/hint.min.css' rel='stylesheet' />
<link href='/css/datepicker.min.css' rel='stylesheet' />
<link href='/css/giiwa.css?${module.module("default").build}' rel='stylesheet' />
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

</head>
<body class="w1200">
<div id='head'>
	<div class='center'>
		<div class='left animated fadeInRight'>
			<div class='logo'><a href="/"><img src="$lang.get('site.logo')"></a></div>
			<div class='title'>$lang.get('site.title')</div>
		</div>
		<div class='right'>
			<div class='top'>
				<div class='item'><a class="icon icon-user" href='javascript:;' onclick='giiwa.load("/user/edit")'>#if($me.nickname) $me.nickname #else $!me.name #end</a></div>
				
				#if($me.hasAccess('access.config.admin'))
				<div class='item'><a class='icon icon-image' href="/docs/icomoon/demo.html" target='_blank'>Icomoon</a></div>
				#end
				<div class='item'><a class='icon icon-exit' href="/user/logout" >Exit</a></div>
			</div>
		</div>
	</div>
</div>
	