<div id="menu" class='full'>
	<div class='menu'></div>
</div>
<a id="ss_tab" class="full" href='javascript:;'> 
	<span class="arrow"></span>
</a>
<script>
	$(function() {
		giiwa.menu($("#menu .menu"), {
			url : "/menu",
			root : 0,
			name : 'admin'
		});
	})
	
	$('#ss_tab').click(function() {
		var bar = $(this);
		var menu = $('#menu');
		var panel = $('#panel');
		var toolbar = $('#toolbar');

		bar.toggleClass('full');
		panel.toggleClass('full');
		toolbar.toggleClass('full');
		menu.toggleClass('full');

		giiwa.resize();
	});
	
</script>
