<style>
#message-table input[type=checkbox]{
	margin:0;
	padding:0;
}
#message-table .ico{
	background: url(/images/mail.png);
	display: inline-block;
    width: 18px;
    height: 16px;	
}
.ico.mail-attr{
	background-position: 1px -82px;
    width: 26px;
}
.ico.mail-0{
	background-position: -48px 0;
}
.ico.mail-1{
    background-position: -48px -16px;
}
.ico.mail-2{
    background-position: -48px -32px;
}
.ico.mail-3{
    background-position: -48px -48px;
}
.ico.star-0{
    background-position: -32px -160px;
	width: 14px;
    height: 14px;    
}
.ico.star-1{
    background-position: -48px -160px;
	width: 14px;
    height: 14px;    
}
</style>

<div class='head'>$lang.get('message.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/message' class='selected'>$lang.get('a.message')</a>
</div>

<div class='search'>
	<form action='/admin/message' method='get' #if($s>0) style='display:none' #end >
		<span><label><h3>$lang.get('message.word'):</h3><input type='text' name='name' value="$!name"/></label></span>
		<span><label><h3>$lang.get('message.flag'):</h3>
			<select name='flag'>
				<option value=''></option>
				<option value='0' #if($flag == 0) selected #end>$lang.get('message.flag_0')</option>
				<option value='1' #if($flag == 1) selected #end>$lang.get('message.flag_1')</option>
				<option value='2' #if($flag == 2) selected #end>$lang.get('message.flag_2')</option>
				<option value='3' #if($flag == 3) selected #end>$lang.get('message.flag_3')</option>
			</select>
		</span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
	
</div>

<table id='message-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width:10px">
				<input type='checkbox' onchange="_onall();"/>
			</th>
			<th style="width:10px">
				<i class="ico mail-att"></i>
			</th>
			<th style="width:10px">
			</th>
			<th style="width:200px">$lang.get("message.from")</th>
			<th style="width:200px">$lang.get("message.title")</th>
			<th>$lang.get("message.content")</th>
			<th style="width:50px">$lang.get("message.created")</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>
			<input type='checkbox' onchange="_onall();"/>
		</td>
		<td>
			<i class="ico mail-open"></i>
		</td>
		<td>
			<i class="ico start-1"></i>
		</td>
		<td onclick="giiwa.popup('/admin/message/detail?id=$f.id')">$!f.from_obj.nickname</td>
		<td onclick="giiwa.popup('/admin/message/detail?id=$f.id')">$!f.title</td>
		<td onclick="giiwa.popup('/admin/message/detail?id=$f.id')">$!f.content</td>
		<td>$lang.format($!f.created, 'yyyy-MM-dd HH:mm')</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href='javascript:;' class='btn btn-danger' onclick='_cleanup();'>$lang.get('a.cleanup')</a>
</div>

<script>
function _cleanup() {
	if(confirm("$lang.get('title.are_u_sure_cleanup')")) {
		giiwa.processing.show();
		$.post('/admin/message/cleanup', {}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
function _delete(id) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/message/delete', {id:id}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
</script>
