<style>
#message-table input[type=checkbox]{
	margin:0;
	padding:0;
}
#message-table .ico{
	background-image: url(/images/mail.png);
	display: inline-block;
    width: 18px;
    height: 16px;	
}
#message-table .ico.mail-att{
	background-position: 1px -82px;
    width: 26px;
}
#message-table .ico.mail-0{
	background-position: -48px 0;
}
#message-table .ico.mail-1{
    background-position: -48px -16px;
}
#message-table .ico.mail-2{
    background-position: -48px -32px;
}
#message-table .ico.mail-3{
    background-position: -48px -48px;
}
#message-table .ico.star-0{
    background-position: -32px -160px;
	width: 14px;
    height: 14px;    
}
#message-table .ico.star-1{
    background-position: -48px -160px;
	width: 14px;
    height: 14px;    
}
</style>

<div class='head'>$lang.get('message.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/message' class='selected'>$lang.get('a.message')</a>
</div>

<div class='search'>
	<form action='/admin/message' method='get' #if($s>0) style='display:none' #end >
		<span><label><h3>$lang.get('message.word'):</h3><input type='text' name='name' value="$!name"/></label></span>
		<span><label><h3>$lang.get('message.flag'):</h3>
			<select name='flag'>
				<option value=''></option>
				<option value='0' #if($flag == 0) selected #end>$lang.get('message.flag_0')</option>
				<option value='1' #if($flag == 1) selected #end>$lang.get('message.flag_1')</option>
			</select>
		</span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
	
</div>

<table id='message-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width:10px">
				<input type='checkbox' onchange="_onall();"/>
			</th>
			<th style="width:10px">
				<i class="ico mail-att"></i>
			</th>
			<th style="width:10px">
			</th>
			<th style="width:80px">$lang.get("message.from")</th>
			<th style="width:200px">$lang.get("message.title")</th>
			<th>$lang.get("message.content")</th>
			<th style="width:100px">$lang.get("message.created")</th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>
			<input type='checkbox' value="$!f.id"/>
		</td>
		<td>
			<i class="ico mail-$!f.flag"></i>
		</td>
		<td>
			<i class="ico star-$!f.star" style="cursor:pointer" onclick="_onstar('$f.id', this)"></i>
		</td>
		<td onclick="giiwa.popup('/admin/message/detail?id=$f.id');giiwa.reload();" style="cursor: pointer">$!f.from_obj.nickname</td>
		<td onclick="giiwa.popup('/admin/message/detail?id=$f.id');giiwa.reload();" style="cursor: pointer">$!lang.truncate($!f.title, 100)</td>
		<td onclick="giiwa.popup('/admin/message/detail?id=$f.id');giiwa.reload();" style="cursor: pointer">$!lang.truncate($!f.content, 200)</td>
		<td>$lang.format($!f.created, 'yyyy-MM-dd HH:mm')</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
	<a href='javascript:;' class='btn btn-danger' onclick='_delete();'>$lang.get('a.delete')</a>
</div>

<script>
function _onall() {
	var all = $('#message-table th input[type=checkbox]').prop('checked');
	$('#message-table td input[type=checkbox]').prop('checked', all);
}

function _delete() {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		var s = '';
		$('#message-table td input[type=checkbox]').each(function(i, e){
			e = $(e);
			if(e.prop('checked')) {
				s += e.val() + ",";
			}
		});

		giiwa.processing.show();
		$.post('/admin/message/delete', {id:s}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
function _onstar(id, o) {
	$.post('/admin/message/star', {id:id}, function(d) {
		if(d.state == 200) {
			$(o).attr('class', 'ico star-' + d.star);
		}
	});
}
</script>
