<div class='head'>
	$lang.get('module.title')
</div>

<div class='tabs'>
	<a href='/admin/module' class='selected'>$lang.get('a.module')</a>
	<a href='/admin/module/create'>$lang.get('a.create')</a>
</div>

<div class='notes'>
	$lang.get('notes.upload.module')
</div>

<input type='hidden' name='repo'/>

#parse('/widget/widget.message.html')

<div class='modules'>
	#foreach ($m in $actives)
	<div class='module'>
		<div class='left'>
			<div class='name'>
				$m.name
			</div>
			<div class='screen'><img src='$m.screenshot'/>
			</div>
		</div>
		<div class='right'>
			<div class='name'>
				#if($m.repo)<a href='javascript:;' onclick='_download("$m.repo")' target='_blank' class='icon icon-folder-download' title='$lang.get("module.download.hint")'> $m.name</a>#else $m.name #end
			</div>
			<div class='id' data-name='$m.name'>
				$lang.get('label.id'): <span>$m.id</span> #if($m.id > 0) <a href='javascript:;' onclick="_id('$m.name','$m.id')" class='icon icon-pencil'></a> #end
			</div>
			<div class='version'>
				$lang.get('label.version'): $!m.version
			</div>
			<div class='build'>
				$lang.get('label.build'): $!m.build
			</div>
			<div class='pack'>
				$lang.get('label.pack'): $!m.pack
			</div>
			<div class='readme icon icon-quotes-left'>
				<span>$!m.readme<span>
			</div>
			#if($m.status)
			<div class='status'>
				$m.status
			</div>
			#end
			#if($m.error)
			<div class='status error'>
				$m.error
			</div>
			#end
			
			<div class='btns'>
				#if($m.id!=0)
				<a class='disable' href='/admin/module/disable?name=$m.name'><i></i>$lang.get('a.disable')</a>
				#end
			</div>
		</div>
	</div>
	#end
</div>

<div class='modules disabled'>
	<div class='title'>
		$lang.get('title.disabled.module')
	</div>
	#foreach ($m in $list)
	<div class='module'>
		<div class='left'>
			<div class='name'>
				$m.name
			</div>
			<div class='screen'><img src='$m.screenshot'/>
			</div>
		</div>
		<div class='right'>
			<div class='name'>
				#if($m.repo)<a href='javascript:;' onclick='_download("$m.repo")' target='_blank' class='icon icon-folder-download' title='$lang.get("module.download.hint")'> $m.name</a>#else $m.name #end
			</div>
			<div class='id'>
				$lang.get('label.id'): $!m.id
			</div>
			<div class='version'>
				$lang.get('label.version'): $!m.version
			</div>
			<div class='build'>
				$lang.get('label.build'): $!m.build
			</div>
			<div class='pack'>
				$lang.get('label.pack'): $!m.pack
			</div>
			<div class='readme icon icon-quotes-left'>
				<span>$!m.readme</span>
			</div>
			<div class='btns'>
				<a class='enable' href='/admin/module/enable?name=$m.name'>$lang.get('a.enable')</a>
				<a class='delete' href='/admin/module/delete?name=$m.name'>$lang.get('a.delete')</a>
			</div>
		</div>
	</div>
	#end
</div>

<div id='ideditor' title="$lang.get('module.id.title')" style='display:none'>
	<input type='hidden' name='name' value=''/>
	<div>
		<label><h3>ID:</h3>
			<input type='number' name='id' value=''>
		</label>
	</div>
	<button onclick='_ok();'>
		$lang.get('btn.ok')
	</button>
</div>

<iframe id='download' style='display:none'></iframe>

<script>
	function _ok() {
		$('#ideditor').dialog('close');
		processing && processing.show();

		var name = $('#ideditor input[name=name]').val();
		var id = $('#ideditor input[name=id]').val();
		$.post('/admin/module/update', {
			name : name,
			id : id
		}, function(d) {
			processing && processing.hide();
			if (d.state == 200) {
				$('div.id[data-name="' + name + '"] span').text(id);
				$.info("$lang.get('restart.required')");
			} else {
				$.error(d.message);
			}
		})
	}

	function _id(name, id) {
		$('#ideditor input[name=name]').val(name);
		$('#ideditor input[name=id]').val(id);
		$('#ideditor').dialog({
			modal : true,
			close : function(e, ui) {
				$(this).dialog('destroy');
			}
		});
	}

	function _download(url) {
		$('#download').attr('src', url);
	}

	function _load() {
		$.get('/admin/dashboard', {}, function(d) {
			window.location.href = window.location.href;
		});
	}

	$(function() {
		$('input[name=repo]').upload({
			caption : "$lang.get('btn.upload.module')",
			hint : "$lang.get('hint.upload.module')",
			btn_resume : "$lang.get('btn.resume')",
			btn_delete : "$lang.get('btn.delete')",
			btn_cancel : "$lang.get('btn.cancel')",
			msg_stop : "$lang.get('msg.stop')",
			msg_done : "$lang.get('msg.done')",
			done : function(url) {
				$.post('/admin/module/add', {
					url : url
				}, function(d) {
					if (d.state == 200) {
						$.message(d.message);
					} else if (d.state == 201) {
						$.warn(d.message, 3000);
						setTimeout(function() {
							processing && processing.show();
							setInterval(_load, 5000);
						}, 3000);
					} else {
						$.error(d.message);
					}

				});
			}
		});
	})
</script>
