<div class='head'>$lang.get('mq.logs.title')</div>

<div class='tabs'>
	<a href='/admin/mq/setting?__node=$!__node'>$lang.get('a.setting')</a>
	<a href='/admin/mq/log?__node=$!__node' class='selected'>$lang.get('a.mq.log')</a>
</div>

<table id='log-table' class='tablesorter nospace' border="0"
	cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th class='date'>$lang.get('log.created')</th>
			<th class='type'>$lang.get('log.type')</th>
			<th class='system'>$lang.get('log.node')</th>
			<th class='op'>$lang.get('log.op')</th>
			<th class='op'>$lang.get('log.ip')</th>
			<th class='breif' style='width: 30%'>$lang.get('log.message')</th>
		</tr>
	</thead>
	<tbody>
		#foreach($f in $list)
		<tr class='log_type_$f.type'>
			<td>$lang.format($f.created, 'yy-MM-dd HH:mm:ss')</td>
			<td class='type'>#if($f.type)$lang.get("log.type_$f.type")#end</td>
			<td>$!f.node</td>
			<td>$f.op</td>
			<td>$!f.ip</td>
			<td #if($f.trace) onclick='_showmore(this);' class='more' #end> 
				$!f.message
				<div class='more'>$!f.trace</div>
			</td>
		</tr>
		#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<script>
function _showmore(obj){
	var e = $(obj);
	e = e.parent().find('div.more');
	if(e.css('display') == 'block') {
		e.hide();
	} else {
		e.show();
	}
}	
</script>