
<div class='head'>$lang.get('mq.setting.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/mq/setting' class='selected'>$lang.get('a.setting')</a>
	<a href='/admin/mq/log' >$lang.get('a.mq.log')</a>
</div>

<form action='/admin/mq/setting'  method='post' class='form' enctype="multipart/form-data">

	<div><label><h3>$lang.get('mq.logger'):</h3><input type='checkbox' name='mq.logger' #if($global.getInt('mq.logger',0)== 1) checked="checked" #end/><g>$lang.get('mq.logger.hint')</g></label></div>
	<div><label><h3>$lang.get('mq.group'):</h3><input type='text' name='group' value="$!global.getString('mq.group', 'demo')"/><g>$lang.get('mq.group.hint')</g></label></div>

	<div><label><h3>$lang.get('mq.type'):</h3>
		<select name="mq.type" onchange="_ontype();">
			<option value=''></option>
			<option value='activemq' #if($global.getString('mq.type', '')=='activemq') selected="selected" #end>$lang.get('mq.type_activemq')</option>
			<option value='rabbitmq' #if($global.getString('mq.type', '')=='rabbitmq') selected="selected" #end>$lang.get('mq.type_rabbitmq')</option>
		</select>
	<g>$lang.get('mq.type_activemq.hint')</g></label></div>
	
	<div class="activemq mq_more" style="padding-left:20px;"><label><h3>$lang.get('activemq.url'):</h3><input type='text' style='width:40%' name='activemq.url' value="$!global.getString('activemq.url', 'failover:(tcp://[host]:61616)?timeout=3000&jms.prefetchPolicy.all=2&jms.useAsyncSend=true')"/><g>$lang.get('activemq.url.hint')</g></label></div>
	<input type='password' name="activemq.passwd" style="display:none"/>
	<div class="activemq mq_more" style="padding-left:20px;"><label><h3>$lang.get('activemq.user'):</h3><input type='text' name='activemq.user' value="$!global.getString('activemq.user', '')"/><g>$lang.get('activemq.user.hint')</g></label></div>
	<div class="activemq mq_more" style="padding-left:20px;"><label><h3>$lang.get('activemq.passwd'):</h3><input type='password' name='activemq.passwd' value="$!global.getString('activemq.passwd', '')"/><g>$lang.get('activemq.passwd.hint')</g></label></div>

	<div class="rabbitmq mq_more" style="padding-left:20px;"><label><h3>$lang.get('rabbitmq.url'):</h3><input type='text' style='width:40%' name='rabbitmq.url' value="$!global.getString('rabbitmq.url', 'amqp://[host]:5672')"/><g>$lang.get('rabbitmq.url.hint')</g></label></div>

	<div class="btns">
		<button type='submit'>$lang.get('btn.save')</button>
	</div>	
</form>
<script>
function _ontype(){
	var c = $('select[name="mq.type"]').val();
	$('.mq_more').hide();
	if(c && c != '') {
		$('.mq_more.' + c).show();
	}
}
$(function(){
	_ontype();
})
</script>