<div class='head'>$lang.get('node.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/node' class='selected'>$lang.get('a.node')</a>
</div>

<table id='node-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('node.id')</th>
			<th>$lang.get('node.ip')</th>
			<th>$lang.get('node.cores')</th>
			<th>$lang.get('node.mem')</th>
			<th>$lang.get('node.os')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr #if($lang.pastms($f.updated) < 3000) class="blink" #end>
		<td>$!f.id</td>
		<td>$!f.ip</td>
		<td>$!f.cores</td>
		<td>$!lang.size($!f.mem)</td>
		<td>$!f.os</td>
		<td>
			<a class='btn btn-danger btn-xs' href="javascript:;" onclick="_delete('$f.id', this)">$lang.get('a.delete')</a>
		</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/node/delete', {id: id}, function(d){
			giiwa.reload();
		})
	}
}
</script>
