
<div class='head'>$lang.get('logger.detail.title')</div>

<div class='tabs'>
	<a href='/admin/oplog'>$lang.get('a.oplog')</a>
	<a href='/admin/oplog/detail?id=$!id' class='selected'>$lang.get('a.detail')</a>
</div>

<table id='table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th style="width: 100px;">$lang.get("detail.name")</th>
			<th>$lang.get("detail.value")</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>$!lang.get('log.node')</td>
			<td>$!b.node</td>
		</tr>
		<tr>
			<td>$!lang.get('log.created')</td>
			<td>$!lang.format($b.created, 'yyyy-MM-dd HH:mm:ss')</td>
		</tr>
		<tr>
			<td>$!lang.get('log.type')</td>
			<td>$!lang.get("log.type_$!b.type")</td>
		</tr>
		<tr>
			<td>$!lang.get('log.level')</td>
			<td>$!lang.get("log.level_$!b.level")</td>
		</tr>
		<tr>
			<td>$!lang.get('log.user')</td>
			<td>$!b.user_obj.nickname</td>
		</tr>
		<tr>
			<td>$!lang.get('log.ip')</td>
			<td>$!b.ip</td>
		</tr>
		<tr>
			<td>$!lang.get('log.model')</td>
			<td>$!b.model</td>
		</tr>
		<tr>
			<td>$!lang.get('log.op')</td>
			<td>$!b.op</td>
		</tr>
		<tr>
			<td>$!lang.get('log.message')</td>
			<td>$!b.message</td>
		</tr>
		<tr>
			<td>$!lang.get('log.trace')</td>
			<td>$!b.trace</td>
		</tr>
	</tbody>
</table>