<div class='head'>$lang.get('oplog.index.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/oplog' class='selected'>$lang.get('a.oplog')</a>
</div>

<style>
td.log_level_0 {
	color: #61CA0F!important;
}
td.log_level_1 {
	color: #CA9D0F!important;
}
td.log_level_2 {
	color: #CF1010!important;
}
</style>
<div class='search'>
	<form action='/admin/oplog' method='get' #if($s>0) style='display:none' #end > 
		<span>
			<label><h3>$lang.get('log.starttime'):</h3>
				<input type='text' name='starttime' value='$!starttime' />
			</label>
		</span> 
		<span>
			<label><h3>$lang.get('log.endtime'):</h3>
				<input type='text' name='endtime' value='$!endtime' />
			</label>
		</span> 
		<span>
			<label><h3>$lang.get('log.type'):</h3>
				<select name='type'>
					<option value=''>$lang.get('log.type_all')</option>
					<option value='0' #if($type == 0) selected #end>$!lang.get('log.type_0')</option>
					<option value='1' #if($type == 1) selected #end>$!lang.get('log.type_1')</option>
					<option value='2' #if($type == 2) selected #end>$!lang.get('log.type_2')</option>
				</select>
			</label>
		</span>
		<span>
			<label><h3>$lang.get('log.level'):</h3>
				<select name='level'>
					<option value=''>$lang.get('log.level_all')</option>
					<option value='0' #if($level == 0) selected #end>$!lang.get('log.level_0')</option>
					<option value='1' #if($level == 1) selected #end>$!lang.get('log.level_1')</option>
					<option value='2' #if($level == 2) selected #end>$!lang.get('log.level_2')</option>
				</select>
			</label>
		</span>

		<span class='line'></span>
		<span><label><h3>$lang.get('sort.by'):</h3>
			<select name='sortby_type'>
				<option value='1' #if($sortby_type == '1') selected #end>$lang.get('sortby.type_')</option>
				<option value='-1' #if($sortby_type == '-1') selected #end>$lang.get('sortby.type_desc')</option>
			</select></label>
		</span>

		<button type='submit' class='btns1 icon icon-search'></button>
	</form>

	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

<table id='log-table' class='tablesorter nospace' border="0"
	cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('log.created')</th>
			<th>$lang.get('log.type')</th>
			<th>$lang.get('log.level')</th>
			<th>$lang.get('user.name')</th>
			<th>$lang.get('log.ip')</th>
			<th>$lang.get('log.model')</th>
			<th>$lang.get('log.op')</th>
			<th style='width: 30%'>$lang.get('log.message')</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#foreach($f in $list)
		<tr>
			<td>$lang.format($f.created, 'yy-MM-dd HH:mm:ss')</td>
			<td class='log_type_$!f.type'>$!lang.get("log.type_$!f.type")</td>
			<td class='log_level_$!f.level'>$!lang.get("log.level_$!f.level")</td>
			<td>#if($f.user_obj)<i class='user'>$!f.user_obj.nickname</i>#end</td>
			<td>$!f.ip</td>
			<td>$!f.model</td>
			<td>$f.op</td>
			<td>$!f.message</td>
			<td>
				<a class="btn btn-xs btn-info" href="/admin/oplog/detail?id=$f.id">$lang.get("a.detail")</a>
			</td>
		</tr>
		#end
	</tbody>
</table>

#parse('/widget/goto.page.html')

<div>
	<a class='btn btn-danger' href='javascript:;' onclick='_deleteall();'>$lang.get('a.clean')</a>
</div>

<script>
function _deleteall() {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		processing && processing.show();
		$.post('/admin/oplog/deleteall', {}, function(d) {
			processing && processing.hide();
			giiwa.reload();
		});
	}
}
$(function(){
	$('input[name=starttime]').datepicker({
		format: 'yyyy-mm-dd',
		autoHide: true,
		autoPick: true,
		yearFirst: true
	});
	$('input[name=endtime]').datepicker({
		format: 'yyyy-mm-dd',
		autoHide: true,
		yearFirst: true
	});
})
</script>
