
<style>
label span{
	color: #aaa;
	cursor: pointer;
}
label span:hover{
	color: #4ea6ff;
}

</style>

<input type='hidden' name="email1" value="$!me.email" />
<input type='hidden' name="phone1" value="$!me.phone" />
<input type='password' style="display:none"/>

<div><label><h3>$lang.get('user.name'):</h3><i>$!me.name</i></label></div>
<div><label><h3>$lang.get('user.nickname'):</h3><input type='text' name='nickname' value='$!me.nickname'/></label></div>
<div><label><h3>$lang.get('user.title'):</h3><input type='text' name='title' value='$!me.title' /></label></div>
<div><label><h3>$lang.get('user.email'):</h3><input type='text' name='email' value='$!me.email' onchange='_verify1(this);' /><span class="icon-spell-check" style="cursor:pointer" onclick="_verify_email();"></span></label></div>
<div><label><h3>$lang.get('user.phone'):</h3><input type='text' name='phone' value='$!me.phone' onchange='_verify1(this);' /></label></div>
<div><label><h3>$lang.get('user.desktop'):</h3>
	<select name="desktop">
	#foreach($p in $desks)
		<option value="$p" #if($me.desktop==$p) selected="selected" #end>$lang.get("desktop.url_$p")</option>
	#end
	</select>
</label></div>

#if($global.getInt('user.passwd', 1) == 1)
<a class='btn btn-info btn-sm' href='javascript:;' onclick="_showpassword()">$lang.get('a.password')</a>	
#end

<div id='password' title="$lang.get('user.edit.password')" style="display:none">
	<div><label><h3>$lang.get('user.new.password'):</h3><input type='password' name='password' value=''/></label></div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button onclick='_password(this);'>$lang.get('btn.ok')</button>
	</div>
</div>

<div id="verify_email" class='form' style="display:none;width:100%">
	<div class='ve1'><label><h3>$lang.get('user.email'):</h3><i class='email'></i></label></div>
	<div class='ve2' style="display:none"><label><h3>$lang.get('user.code'):</h3><input type='text' name='code' style="width:60px"/></label></div>
	<div class='btns' style="text-align: center;margin-bottom:0">
		<button class='ve1' onclick='_verify_email_1();'>$lang.get('btn.next')</button>
		<button class='ve2' style="display:none" onclick='_verify_email_2();'>$lang.get('btn.ok')</button>
	</div>
</div>

<script>
function _verify1(o) {
	var btn = $(o).parent().find('span');
	btn.css('color', '');
	btn.attr('class', 'icon-spell-check');
}
function _verify_email() {
	var s = $('input[name=email]').val();
	if(s.length > 0 || s.indexOf('@') > 0) {
		giiwa.dialog($('#verify_email'), {width: 280, height:100, moveable:true, prepare: function(p){
			p.find('i.email').text(s);
		}});
	}
}
function _verify_email_1() {
	giiwa.processing.show();
	$.post('/admin/profile/verify1', {email: $('input[name=email]').val()}, function(d){
		giiwa.processing.hide();
		if(d.state == 200) {
			giiwa.dialog().panel.find('.ve1').hide();
			giiwa.dialog().panel.find('.ve2').show();
		} else {
			giiwa.dialog().close();
			giiwa.error(d.message);
		}
	})
}
function _verify_email_2() {
	giiwa.processing.show();
	$.post('/admin/profile/verify2', {email: $('input[name=email]').val(), code:giiwa.dialog().panel.find('input[name=code]').val()}, function(d){
		giiwa.processing.hide();
		if(d.state == 200) {
			giiwa.dialog().close();
			giiwa.hint(d.message);
			$('input[name=email]').attr('readonly', 'readonly');
			$('input[name=email1]').val($('input[name=email]').val());
			
			var btn = $('input[name=email]').parent().find('span');
			btn.css('color', 'green');
			btn.attr('class', 'icon-checkmark');
		} else {
			giiwa.error(d.message);
		}
	})
}
function _showpassword(){
	giiwa.dialog($('#password'), {width: 280, height:80, moveable:true});
}

function _password(o) {
	giiwa.dialog().close();
	var v = $(o).parent().parent().find('input[name=password]').val();
	$.post('/admin/profile/set/my', {password:v}, function(d){
		if(d.state == 200) {
			giiwa.message("$lang.get('save.success')");
		} else {
			giiwa.error(d.message);
		}
	})
}
</script>
