<div class='head'>$lang.get("profile.${name}.title")</div>

<div class='tabs'>
	#foreach($p in $settings)
	<a href='/admin/profile/get/$p?__node=$!__node' #if($name==$p) class='selected' #end>$lang.get("a.profile.$p")</a>
	#end
</div>
<div id="profile">
	<form action='/admin/profile/set/$name?__node=$!__node' method='post' class='form' enctype="multipart/form-data">
		#if($page)
			#parse($page)
		#end
		<div class="profile btns">
			<button type='submit'>$lang.get('btn.save')</button>
		</div>
	</form>
</div>
<script>
giiwa.history('$!query');

$(function(){
	$('#profile .profile.btns').append($('#profile a.btn'));
})
</script>