<div class='head'>$lang.get('role.access.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/role'>$lang.get('a.role')</a>
	<a href='/admin/role/access' class='selected'>$lang.get('a.role.access')</a>
</div>

<table id='role-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>i18n</th>
			<th>Trace</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$f.name</td>
		<td>$lang.get($f.name)</td>
		<td>$f.memo.replaceAll('\r\n', '<br/>')</td>
		<td>
			<a class='btn btn-warning btn-xs' href="javascript:;" onclick="_delete('$f.id', this)">$lang.get('a.delete')</a>
		</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
#if($edit)
	<a class='btn btn-success' href='/admin/role/create'>$lang.get('a.create')</a>
#end
</div>

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		$.post('/admin/role/accessdelete', {id: id}, function(d){
			giiwa.reload();
		})
	}
}
</script>
