<div class='head'>$lang.get('sysinfo.route.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/sysinfo/cpu' >$lang.get('a.sysinfo.cpu')</a>
	<a href='/admin/sysinfo/process'>$lang.get('a.sysinfo.process')</a>
	<a href='/admin/sysinfo/net'>$lang.get('a.sysinfo.net')</a>
	<a href='/admin/sysinfo/route' class='selected'>$lang.get('a.sysinfo.route')</a>
	<a href='/admin/sysinfo/disk'>$lang.get('a.sysinfo.disk')</a>
</div>

<table id='task-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th></th>
			<th>$lang.get('route.destination')</th>
			<th>$lang.get('route.gateway')</th>
			<th>$lang.get('route.mask')</th>
			<th>$lang.get('route.flag')</th>
			<th>$lang.get('route.metric')</th>
			<th>$lang.get('route.ref')</th>
			<th>$lang.get('route.use')</th>
			<th>$lang.get('route.ifname')</th>
		</tr>
	</thead>
	<tbody>
#set($i=0)
#foreach($f in $list)
	<tr>
		#set($i=$i+1)
		<td>$i</td>
		<td>$!f.destination</td>
		<td>$!f.gateway</td>
		<td>$!f.mask</td>
		<td>$!f.flag</td>
		<td>$!f.metric</td>
		<td>$!f.ref</td>
		<td>$!f.use</td>
		<td>$!f.ifname</td>
	</tr>
#end
	</tbody>
</table>

