<div class='head'>$lang.get('sysstat.disk.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/sysstat/cpu'>$lang.get('a.sysstat.cpu')</a>
	<a href='/admin/sysstat/net'>$lang.get('a.sysstat.net')</a>
	<a href='/admin/sysstat/disk' class='selected'>$lang.get('a.sysstat.disk')</a>
</div>

<table id='task-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th></th>
			<th>$lang.get('disk.dirname')</th>
			<th>$lang.get('disk.devname')</th>
			<th>$lang.get('disk.total')</th>
			<th>$lang.get('disk.used')</th>
			<th>$lang.get('disk.diskqueue')</th>
			<th>$lang.get('disk.diskreads')</th>
			<th>$lang.get('disk.diskreadbytes')</th>
			<th>$lang.get('disk.diskwrites')</th>
			<th>$lang.get('disk.diskwritebytes')</th>
		</tr>
	</thead>
	<tbody id="$!id">
#set($i=0)
#foreach($f in $list)
	<tr>
		#set($i=$i+1)
		<td>$i</td>
		<td>$!f.dirname</td>
		<td>$!f.devname</td>
		<td>$lang.size($!f.total)</td>
		<td>$lang.size($!f.used)</td>
		<td>$!f.diskqueue</td>
		<td>$!f.diskreads</td>
		<td>$lang.size($!f.diskreadbytes)</td>
		<td>$!f.diskwrites</td>
		<td>$lang.size($!f.diskwritebytes)</td>
	</tr>
#end
	</tbody>
</table>

<script>
$(function(){
	setTimeout(_reload, 3000);
});

function _reload(){
	if($('#$!id').length > 0) {
		$.post('/admin/sysstat/disk/list', {}, function(d){
			$('#$!id').html(d);			
			setTimeout(_reload, 3000);
		});
	}
}

</script>
