
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user' class='selected'>$lang.get('a.user')</a>
</div>

<div class='search'>
	<form action='/admin/user' method='get' #if($s>0) style='display:none' #end >
		<span><label><h3>$lang.get('user.name'):</h3><input type='text' name='name' value="$!name"/></label></span>
		<button type='submit' class='btns1 icon icon-search'></button>
	</form>
	
	<div class='s1tab #if($s>0) down #else up #end'>
		<div class='arrow'></div>
	</div>
</div>

#set($edit = $me.hasAccess('access.config.admin','access.config.user.admin'))

<table id='user-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>$lang.get('user.name')</th>
			<th>$lang.get('user.nickname')</th>
			<th>$lang.get('user.email')</th>
			<th>$lang.get('user.phone')</th>
			<th>$lang.get('user.tokens')</th>
			<th>$lang.get('user.roles')</th>
			<th>$lang.get('user.created')</th>
#if($edit)
			<th></th>
#end
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr #if($f.isLocked()) class='deleted' #end>
		<td class='a'>
			$!f.name
			<a class="hint hint--bottom" data-hint="$lang.get('a.detail')" href="/admin/user/detail?id=$f.id"><i class="icon-file-text2"></i></a>
		</td>
		<td>$!f.nickname</td>
		<td>$!f.email</td>
		<td>$!f.phone</td>
		<td>$!f.tokens.size()</td>
		<td>#foreach($r in $f.role.list)<div class='icon-shield'>$r.name</div>#end</td>
		<td>$!lang.format($f.created, 'yy-MM-dd HH:mm')</td>
		#if($edit)
		<td class="a">
			<a class="hint hint--bottom" data-hint="$lang.get('a.edit')" href="/admin/user/edit?id=$f.id"><i class="icon-pencil"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.oplog')" href="/admin/user/oplog?uid=$f.id"><i class="icon-list"></i></a>
			<a class="hint hint--bottom" data-hint="$lang.get('a.delete')" href='javascript:;' onclick='_delete("$f.id", this);'><i class="icon-cancel-circle"></i></a>
		</td>
		#end
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

<div class='btns'>
#if($edit)
	<a class='btn btn-success' href='/admin/user/create'>$lang.get('a.create')</a>
#end
</div>

<script>
function _delete(id, o) {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/user/delete', {id:id}, function(d){
			giiwa.processing.hide();
			if(d.state == 200) {
				$(o).parent().parent().remove();
			} else if(d.message){
				giiwa.error(d.message);
			}
		});
	}
}
</script>
