
#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user?__node=$!__node'>$lang.get('a.user')</a>
	<a href='/admin/user/accesslog?__node=$!__node&uid=$!uid' class='selected'>$lang.get('a.accesslog')</a>
</div>

<table id='accesslog-table' class='tablesorter nospace' border="0" cellpadding="0" cellspacing="1">
	<thead>
		<tr>
			<th>Created</th>
			<th>URL</th>
			<th>Module</th>
			<th>Model</th>
			<th>Method</th>
			<th>Status</th>
			<th>Cost(ms)</th>
			<th>SID</th>
			<th>IP</th>
			<th style='width:15%;'>Client</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
#foreach($f in $list)
	<tr>
		<td>$lang.format($!f.created, 'yyyy-MM-dd HH:mm')</td>
		<td>$!f.url</td>
		<td>$!f.module</td>
		<td>$!f.model</td>
		<td>$!f.method</td>
		<td>$!f.status</td>
		<td>$!f.cost</td>
		<td>$!f.sid</td>
		<td>$!f.ip</td>
		<td>$!f.client</td>
		<td class="a">
			<a class="hint hint--bottom" data-hint="$lang.get('a.detail')" href="javascript:;" onclick="giiwa.popup('/admin/accesslog/detail?__node=$!__node&id=$f.id')"><i class="icon-file-text2"></i></a>
		</td>
	</tr>
#end
	</tbody>
</table>

 #parse('/widget/goto.page.html')

#if($me.hasAccess('access.config.admin'))
<div class='btns'>
	<a href='javascript:;' class='btn btn-danger' onclick='_deleteall();'>$lang.get('a.clean')</a>
</div>
#end

<script>
function _deleteall() {
	if(confirm("$lang.get('title.are_u_sure_delete')")) {
		giiwa.processing.show();
		$.post('/admin/accesslog/deleteall?__node=$!__node', {}, function(d) {
			giiwa.processing.hide();
			giiwa.reload();
		});
	}
}
</script>
