<div class='head'>$lang.get('user.detail.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/user'>$lang.get('a.user')</a>
	<a href='/admin/user/detail?id=$u.id' class='selected'>$lang.get('a.detail')</a>
</div>

<div class='form'>
	<div><label><h3>$lang.get('user.name')</h3>:<i>$u.name</i></label></div>
	<div><label><h3>$lang.get('user.nickname')</h3>:<i>#if($u.nickname) $u.nickname #end</i></label></div>
	<div><label><h3>$lang.get('user.title')</h3>:<i>#if($u.title) $u.title #end </i></label></div>
	<div><label><h3>$lang.get('user.email')</h3>:<i>$!u.email</i></label></div>
	<div><label><h3>$lang.get('user.phone')</h3>:<i>$!u.phone</i></label></div>
	
	<div><label><h3>$lang.get('user.roles')</h3>:[
			#foreach($r in $u.role.list) 
				<span class='icon-shield'>$r.name</span>
			#end
		]</label></div>
	<div><label><h3>$lang.get('user.lastlogintime')</h3>:<i>#if($u.lastlogintime > 0) $lang.format($!u.lastlogintime, 'yy-MM-dd hh:mm:ss') #end</i></label></div>
	<div><label><h3>$lang.get('user.lastloginip')</h3>:<i>$!u.ip</i></label></div>
	<div><label><h3>$lang.get('user.lastfailtime')</h3>:<i>#if($u.lastfailtime > 0)$lang.format($!u.lastfailtime, 'yy-MM-dd hh:mm:ss')($lang.past($u.lastfailtime))#end</i></label></div>
	<div><label><h3>$lang.get('user.lastfailip')</h3>:<i>$!u.lastfailip</i></label></div>
	<div><label><h3>$lang.get('user.failtimes')</h3>:<i>$!u.failtimes</i></label></div>

	<table id='token-table' class='tablesorter' border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
				<th>$lang.get("user.ip")</th>
				<th>$lang.get("user.sid")</th>
				<th>$lang.get("user.token")</th>
				<th>$lang.get("user.expired")</th>
			</tr>
		</thead>
		<tbody>
	#foreach($r in $u.tokens)
		<tr>
			<td>$!r.ip</td>
			<td>$!r.sid</td>
			<td>$!r.token</td>
			<td>$lang.format($r.expired, 'yyyy-MM-dd HH:mm:ss')</td>
		</tr>
	#end
		</tbody>
	</table>

</div>
