
<div id='chart_$!requestid' style="height: 100%; float: left; width: 100%; border: 0;"></div>

<script>
$(function(){
	Highcharts.stockChart('chart_$!requestid', {
		rangeSelector: {
			enabled: false,
	       },
		    xAxis :{
    	   		range: 3600 * 1000
	       },
	       plotOptions: {
	           series: {
	        		turboThreshold: 0
	           }
	       },
		    title: {
		        text: '$lang.get("portlet.dfile2.read.title")'
		    },
	       credits: {
				enabled: false
	    	   },
           legend: {
               enabled: false
           },
	       tooltip: {
	           pointFormat: '{series.name}: <b>{point.y}ms</b>'
	       },
	    series: [
			{name: "$lang.get('dfile.read.max')", color:'#860606', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c.read_max},#end]},
			{name: "$lang.get('dfile.read.avg')", color:'#0dad76', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c.read_avg},#end]},
			{name: "$lang.get('dfile.read.min')", color:'#0a5ea0', data: [#foreach($c in $list) {x:$lang.time($c.created, 'm'), y:$!c.read_min},#end]}
   			], 
	});

})
</script>

